---
title: R & RStudio move packages during update
author: Helen Zhang
date: '2021-05-21'
slug: []
categories: ["R"]
tags: []
description: ''
lastmod: "2021-05-23"
thumbnail: ''
summary: 'move packages during updates'
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<p>2.8 What’s the best way to upgrade?
That’s a matter of taste. For most people the best thing to do is to uninstall R (see the previous Q), install the new version, copy any installed packages to the library folder in the new installation, run update.packages(checkBuilt=TRUE, ask=FALSE) in the new R and then delete anything left of the old installation. Different versions of R are quite deliberately installed in parallel folders so you can keep old versions around if you wish.</p>
<p>For those with a personal library (folder R-library.y of your home directory, R-library.y on 64-bit builds), you will need to update that too when the minor version of R changes (e.g. from 4.0.2 to 4.1.0). A simple way to do so is to copy (say) R-library\4.0 to R-library\4.1 before running update.packages(checkBuilt=TRUE, ask=FALSE).</p>
<p><a href="https://cran.r-project.org/bin/windows/base/rw-FAQ.html" class="uri">https://cran.r-project.org/bin/windows/base/rw-FAQ.html</a></p>
<pre class="r"><code>library(tidyverse)</code></pre>
<pre><code>## -- Attaching packages --------------------------------------- tidyverse 1.3.1 --</code></pre>
<pre><code>## v ggplot2 3.3.3     v purrr   0.3.4
## v tibble  3.1.2     v dplyr   1.0.6
## v tidyr   1.1.3     v stringr 1.4.0
## v readr   1.4.0     v forcats 0.5.1</code></pre>
<pre><code>## -- Conflicts ------------------------------------------ tidyverse_conflicts() --
## x dplyr::filter() masks stats::filter()
## x dplyr::lag()    masks stats::lag()</code></pre>
<p>ggplot stat_identity example</p>
<p>add stat = “identity”</p>
<p>order by count?</p>
<p>to sort by forcats</p>
<p>fct_relevel():
fct_inorder(): by the order in which they first appear.
fct_rev():
fct_reorder():
fct_infreq(): by number of observations with each level (largest first)
fct_inseq(): by numeric value of level</p>
<p>Stat Description Default Geom
stat_bin() Counts the number of observations in bins. geom_bar()
stat_smooth() Creates a smooth line. geom_line()
stat_sum() Adds values. geom_point()
stat_identity() No summary. Plots data as is. geom_point()
stat_boxplot() Summarizes data for a box-and-whisker plot. geom_boxplot()</p>
