---
title: Python datetime module
author: Helen Zhang
date: '2021-06-29'
slug: []
categories: ["Python"]
tags: []
description: "Python datetime & String & F-Strings"
lastmod: "2021-06-29"
thumbnail: ''
summary: "Python datetime & String & F-Strings"
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="python"><code>
import datetime

d = datetime.date(2016,7,24)
print(d)</code></pre>
<pre><code>## 2016-07-24</code></pre>
<pre class="python"><code>tday = datetime.date.today()
print(tday)</code></pre>
<pre><code>## 2021-06-29</code></pre>
<pre class="python"><code>print(tday.day)</code></pre>
<pre><code>## 29</code></pre>
<pre class="python"><code>print(tday.year)</code></pre>
<pre><code>## 2021</code></pre>
<pre class="python"><code>print(tday.weekday())</code></pre>
<pre><code>## 1</code></pre>
<pre class="python"><code>print(tday.isoweekday())</code></pre>
<pre><code>## 2</code></pre>
<pre class="python"><code>tdelta = datetime.timedelta(days = 7)

print(tday + tdelta)</code></pre>
<pre><code>## 2021-07-06</code></pre>
<pre class="python"><code>print(tday - d)</code></pre>
<pre><code>## 1801 days, 0:00:00</code></pre>
<pre class="python"><code>print((tday - d).total_seconds())</code></pre>
<pre><code>## 155606400.0</code></pre>
<pre class="python"><code>t = datetime.time(9,30,45,100000)
print(t)</code></pre>
<pre><code>## 09:30:45.100000</code></pre>
<pre class="python"><code>print(t.hour)</code></pre>
<pre><code>## 9</code></pre>
<pre class="python"><code>dt_today = datetime.datetime.today()
print(dt_today)</code></pre>
<pre><code>## 2021-06-29 20:11:01.408534</code></pre>
<pre class="python"><code>dt_now = datetime.datetime.now()
print(dt_now)</code></pre>
<pre><code>## 2021-06-29 20:11:01.417521</code></pre>
<pre class="python"><code>dt_utcnow = datetime.datetime.utcnow()
print(dt_utcnow)</code></pre>
<pre><code>## 2021-06-29 08:11:01.426485</code></pre>
<pre class="python"><code>
import pytz

dt_utcnow = datetime.datetime(2016,8,26,12,30,45, tzinfo = pytz.UTC)
print(dt_utcnow)</code></pre>
<pre><code>## 2016-08-26 12:30:45+00:00</code></pre>
<pre class="python"><code>dt_now = datetime.datetime.now(tz = pytz.UTC)
print(dt_now)</code></pre>
<pre><code>## 2021-06-29 08:11:01.529211+00:00</code></pre>
<pre class="python"><code>dt_nz = dt_utcnow.astimezone(pytz.timezone(&#39;Pacific/Auckland&#39;))
print(dt_nz)

# for i in pytz.all_timezones:
#  print(i)
  </code></pre>
<pre><code>## 2016-08-27 00:30:45+12:00</code></pre>
<pre class="python"><code>local_tz = pytz.timezone(&#39;Pacific/Auckland&#39;)
print(local_tz.localize(datetime.datetime.now()))</code></pre>
<pre><code>## 2021-06-29 20:11:01.597029+12:00</code></pre>
<pre class="python"><code>dt_us = local_tz.localize(datetime.datetime.now()).astimezone(pytz.timezone(&#39;US/Central&#39;))
print(dt_us)
</code></pre>
<pre><code>## 2021-06-29 03:11:01.601019-05:00</code></pre>
<p>iso format</p>
<pre class="python"><code>
print(dt_nz.strftime(&#39;%B %d, %Y&#39;))</code></pre>
<pre><code>## August 27, 2016</code></pre>
<pre class="python"><code>dt_str = &#39;19/09/2018&#39;

print(datetime.datetime.strptime(dt_str, &#39;%d/%m/%Y&#39;))
</code></pre>
<pre><code>## 2018-09-19 00:00:00</code></pre>
<pre class="python"><code>
message = &#39;bobby\&#39;s toy&#39;

print(message)</code></pre>
<pre><code>## bobby&#39;s toy</code></pre>
<pre class="python"><code>len(message)</code></pre>
<pre><code>## 11</code></pre>
<pre class="python"><code>print(message[2:5])</code></pre>
<pre><code>## bby</code></pre>
<p>string methods</p>
<pre class="python"><code>
print(message.lower())</code></pre>
<pre><code>## bobby&#39;s toy</code></pre>
<pre class="python"><code>print(message.upper())</code></pre>
<pre><code>## BOBBY&#39;S TOY</code></pre>
<pre class="python"><code>print(message.count(&#39;hello&#39;))</code></pre>
<pre><code>## 0</code></pre>
<pre class="python"><code>print(message.count(&#39;toy&#39;))</code></pre>
<pre><code>## 1</code></pre>
<pre class="python"><code>print(message.find(&#39;t&#39;))</code></pre>
<pre><code>## 8</code></pre>
<pre class="python"><code>print(message.find(&#39;a&#39;))</code></pre>
<pre><code>## -1</code></pre>
<pre class="python"><code>print(message.replace(&#39;bo&#39;,&#39;ao&#39;))</code></pre>
<pre><code>## aobby&#39;s toy</code></pre>
<pre class="python"><code>greeting = &#39;hello&#39;
name = &#39;jane&#39;

# concatenate string
print(greeting +&#39;, &#39;+ name)

# string format</code></pre>
<pre><code>## hello, jane</code></pre>
<pre class="python"><code>message = &#39;{}, {}, welcom&#39;.format(greeting, name)
print(message)

# f strings</code></pre>
<pre><code>## hello, jane, welcom</code></pre>
<pre class="python"><code>message = f&#39;{greeting}, {name.upper()},... welcome!&#39;
print(message)

# show all methods</code></pre>
<pre><code>## hello, JANE,... welcome!</code></pre>
<pre class="python"><code>print(dir(name))

# print(help(str))</code></pre>
<pre><code>## [&#39;__add__&#39;, &#39;__class__&#39;, &#39;__contains__&#39;, &#39;__delattr__&#39;, &#39;__dir__&#39;, &#39;__doc__&#39;, &#39;__eq__&#39;, &#39;__format__&#39;, &#39;__ge__&#39;, &#39;__getattribute__&#39;, &#39;__getitem__&#39;, &#39;__getnewargs__&#39;, &#39;__gt__&#39;, &#39;__hash__&#39;, &#39;__init__&#39;, &#39;__init_subclass__&#39;, &#39;__iter__&#39;, &#39;__le__&#39;, &#39;__len__&#39;, &#39;__lt__&#39;, &#39;__mod__&#39;, &#39;__mul__&#39;, &#39;__ne__&#39;, &#39;__new__&#39;, &#39;__reduce__&#39;, &#39;__reduce_ex__&#39;, &#39;__repr__&#39;, &#39;__rmod__&#39;, &#39;__rmul__&#39;, &#39;__setattr__&#39;, &#39;__sizeof__&#39;, &#39;__str__&#39;, &#39;__subclasshook__&#39;, &#39;capitalize&#39;, &#39;casefold&#39;, &#39;center&#39;, &#39;count&#39;, &#39;encode&#39;, &#39;endswith&#39;, &#39;expandtabs&#39;, &#39;find&#39;, &#39;format&#39;, &#39;format_map&#39;, &#39;index&#39;, &#39;isalnum&#39;, &#39;isalpha&#39;, &#39;isascii&#39;, &#39;isdecimal&#39;, &#39;isdigit&#39;, &#39;isidentifier&#39;, &#39;islower&#39;, &#39;isnumeric&#39;, &#39;isprintable&#39;, &#39;isspace&#39;, &#39;istitle&#39;, &#39;isupper&#39;, &#39;join&#39;, &#39;ljust&#39;, &#39;lower&#39;, &#39;lstrip&#39;, &#39;maketrans&#39;, &#39;partition&#39;, &#39;removeprefix&#39;, &#39;removesuffix&#39;, &#39;replace&#39;, &#39;rfind&#39;, &#39;rindex&#39;, &#39;rjust&#39;, &#39;rpartition&#39;, &#39;rsplit&#39;, &#39;rstrip&#39;, &#39;split&#39;, &#39;splitlines&#39;, &#39;startswith&#39;, &#39;strip&#39;, &#39;swapcase&#39;, &#39;title&#39;, &#39;translate&#39;, &#39;upper&#39;, &#39;zfill&#39;]</code></pre>
<p>string formatting</p>
<pre class="python"><code>
person = {&#39;name&#39;:&#39;Jane&#39;,&#39;age&#39;:54}

sentence = &#39;My name is {0} and i am {1} years old&#39;.format(person[&#39;name&#39;], person[&#39;age&#39;])
print(sentence)

# by index from dict or index from list</code></pre>
<pre><code>## My name is Jane and i am 54 years old</code></pre>
<pre class="python"><code>sentence = &#39;My name is {0[name]} and i am {0[age]} years old&#39;.format(person)
print(sentence)</code></pre>
<pre><code>## My name is Jane and i am 54 years old</code></pre>
<pre class="python"><code>sentence = &#39;My name is {name} and i am {age} years old&#39;.format(name = &#39;Jane&#39;, age = 30)
print(sentence)</code></pre>
<pre><code>## My name is Jane and i am 30 years old</code></pre>
<pre class="python"><code>person = {&#39;name&#39;: &#39;Jane&#39;, &#39;age&#39;:12}
sentence = &#39;My name is {name} and i am {age} years old&#39;.format(**person)
print(sentence)
</code></pre>
<pre><code>## My name is Jane and i am 12 years old</code></pre>
<pre class="python"><code>tag = &#39;h1&#39;
text = &#39;This is headline&#39;

sentence = &#39;&lt;{0}&gt;{1}&lt;/{0}&gt;&#39;.format(tag, text)
print(sentence)</code></pre>
<pre><code>## &lt;h1&gt;This is headline&lt;/h1&gt;</code></pre>
<pre class="python"><code>sentence = f&#39;&lt;{tag}&gt;&lt;text&gt;&lt;/{tag}&#39;
print(sentence)
</code></pre>
<pre><code>## &lt;h1&gt;&lt;text&gt;&lt;/h1</code></pre>
<pre class="python"><code>for i in range(11):
  sentence = &#39;the value is {:03}&#39;.format(i)
  print(sentence)
  </code></pre>
<pre><code>## the value is 000
## the value is 001
## the value is 002
## the value is 003
## the value is 004
## the value is 005
## the value is 006
## the value is 007
## the value is 008
## the value is 009
## the value is 010</code></pre>
<pre class="python"><code>pi = 3.1415926
sentence = &#39;Pi is equal to {:.3f}&#39;.format(pi)
print(sentence)</code></pre>
<pre><code>## Pi is equal to 3.142</code></pre>
<pre class="python"><code>sentence = &#39;the amount is {:,}&#39;.format(100**2)
print(sentence)</code></pre>
<pre><code>## the amount is 10,000</code></pre>
<pre class="python"><code>sentence = &#39;the amount is {:,.2f}&#39;.format(100**2)
print(sentence)
</code></pre>
<pre><code>## the amount is 10,000.00</code></pre>
<pre class="python"><code>
import datetime

my_dt = datetime.datetime(2045,9,20)
print(my_dt)

# since only use 1 value to pass 3 times, need to use index</code></pre>
<pre><code>## 2045-09-20 00:00:00</code></pre>
<pre class="python"><code>sentence = &#39;{0:%B %d, %Y} fee on a {0:%A} and was the {0:%j} day of the year&#39;.format(my_dt)
print(sentence)</code></pre>
<pre><code>## September 20, 2045 fee on a Wednesday and was the 263 day of the year</code></pre>
<p>f strings for python 3.6 and above</p>
<pre class="python"><code>

person = {&#39;name&#39;: &#39;Jane&#39;, &#39;age&#39;:12}
sentence = f&quot;My name is {person[&#39;name&#39;].upper()} and i am {person[&#39;age&#39;]} years old&quot;
print(sentence)</code></pre>
<pre><code>## My name is JANE and i am 12 years old</code></pre>
<pre class="python"><code>for i in range(11):
  sentence = f&#39;the value is {i}&#39;
  print(sentence)</code></pre>
<pre><code>## the value is 0
## the value is 1
## the value is 2
## the value is 3
## the value is 4
## the value is 5
## the value is 6
## the value is 7
## the value is 8
## the value is 9
## the value is 10</code></pre>
<pre class="python"><code>for i in range(11):
  sentence = f&#39;the value is {i:02}&#39;
  print(sentence)</code></pre>
<pre><code>## the value is 00
## the value is 01
## the value is 02
## the value is 03
## the value is 04
## the value is 05
## the value is 06
## the value is 07
## the value is 08
## the value is 09
## the value is 10</code></pre>
<pre class="python"><code>pi = 3.1415926
sentence = f&#39;Pi is equal to {pi:.3f}&#39;
print(sentence)</code></pre>
<pre><code>## Pi is equal to 3.142</code></pre>
<pre class="python"><code>birthday = datetime.datetime(1990,5,31)
sentence = f&#39;Jane birthday on {birthday:%B %d %Y}&#39;
print(sentence)
</code></pre>
<pre><code>## Jane birthday on May 31 1990</code></pre>
<p>python</p>
<p>import datetime</p>
<p>my_dt = datetime.datetime(2045,9,20)
print(my_dt)</p>
<p>se%B %d, %Yntence = ‘{ fee on a {:%D} and was the {:%d} day of the year:}’.format(my_dt)
print(sente</p>
<p>nce)</p>
