<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}
<body id = "top" class="body">
		
	{{ partial "header.html" . }}
		
		<div class="container wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		
	{{ partial "footer.html" . }}
  
  <script async defer src="{{ "js/menu.js" | relURL }}"></script>
  {{ range .Site.Params.customJS -}}
  <script src="{{ . | relURL }}"></script>

{{ end }}
{{ with .Site.Params.customPartial }}{{ partial . }}{{ end }}
</body>
</html>
