{{ define "main" }}

<!-- page-title -->
<section class="section bg-secondary">
</section>
<!-- /page-title -->

<!-- search result -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div id="search-results"></div>
        
        <div class="search-loading">Loading...</div>
        
        <script id="search-result-template" type="text/x-js-template">
          <div id="summary-${key}">
            <h4><a href="${link}">${title}</a></h4>
            <p>${snippet}</p>
            ${ isset tags }<p>Tags: ${tags}</p>${ end }
            ${ isset categories }<p>Categories: ${categories}</p>${ end }
            <br>
          </div>
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/js/fuse.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
        <script src="/js/search.js"></script>
      </div>
    </div>
  </div>
</section>
<!-- /search result -->

{{ "<!-- Search index -->" | safeHTML }}
<script>
  var indexURL = {{"index.json" | absURL}}
  console.log(indexURL)
</script>

{{ end }}

