---
title: Kaggle June 2021
author: Helen Zhang
date: '2021-06-01'
slug: ''
categories: 
  - R
tags: 
  - Kaggle
description: 'Kaggle playground June 2021'
lastmod: "2021-08-29"
thumbnail: ''
summary: 'Kaggle playground June 2021'
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>library(lightgbm)
library(xgboost)
library(catboost)
# library(mxnet)
# library(keras)
# library(tensorflow)

library(readr)
library(dplyr)
library(tidyr)
library(stringr)
library(tidymodels)
library(themis)
library(rBayesianOptimization)
library(caret)
library(tictoc)</code></pre>
<div id="python-xgboost" class="section level1">
<h1>python xgboost</h1>
<pre class="python"><code>import os
import numpy as np
import csv
import pandas as pd

from sklearn import model_selection #(Splitter Classes, Splitter Functions, Hyper-parameter optimizers, Model validation)
from sklearn.model_selection import KFold,train_test_split,cross_val_score, StratifiedKFold, cross_validate

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn import feature_extraction
from sklearn import feature_selection
from sklearn import impute
from sklearn.impute import SimpleImputer

from sklearn.ensemble import RandomForestClassifier

from sklearn import metrics
from sklearn.metrics import make_scorer, accuracy_score,precision_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score ,precision_score,recall_score,f1_score</code></pre>
<pre class="python"><code>train_df = pd.read_csv(&#39;train.csv&#39;, index_col = &#39;id&#39;)
train_df.head()

train_df[&#39;target&#39;] = train_df[&#39;target&#39;].astype(&#39;category&#39;) 

test_df = pd.read_csv(&#39;test.csv&#39;, index_col = &#39;id&#39;)
test_df</code></pre>
<p>split dataset</p>
<pre class="python"><code>train, test = train_test_split(train_df, train_size = 0.7, random_state = 568)</code></pre>
<p>split X,y</p>
<pre class="python"><code># split X,y
X = train.loc[:,&#39;feature_0&#39;:&#39;feature_74&#39;].values
X.shape

y = train.loc[:,&#39;target&#39;].values
y.shape</code></pre>
</div>
<div id="label-encoder-target" class="section level1">
<h1>label encoder target</h1>
<pre class="python"><code>y = LabelEncoder().fit_transform(y)</code></pre>
<p>split train &amp; validate</p>
<pre class="python"><code># split train &amp; validate

X_train, X_test, y_train, y_test = train_test_split(X,y,train_size = 0.7, random_state = 753)</code></pre>
<p>rf model spec</p>
<pre class="python"><code># model specs

rf_spec = RandomForestClassifier(n_estimators = 1000, verbose = 1, random_state = 786)
rf_fit = rf_spec.fit(X_train, y_train)

rf_pred = rf_spec.predict(X_test)

accuracy_score(y_test, rf_pred)
confusion_matrix(y_test, rf_pred)</code></pre>
<p>cv train</p>
<pre class="python"><code>train_folds = StratifiedKFold(n_splits=5, shuffle = True, random_state = 75)

rf_res = cross_val_score(rf_spec, X_train, y_train, cv = train_folds, scoring = &#39;neg_log_loss&#39;, verbose = 1)
rf_res

np.mean(rf_res)</code></pre>
</div>
<div id="keras" class="section level1">
<h1>keras</h1>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;%
  mutate(target = as.factor(target))
  
test_df &lt;- read_csv(&#39;test.csv&#39;)

set.seed(394)
train_test_split &lt;- initial_split(train_df, prop = 0.7, strata = target)

train &lt;- training(train_test_split)
test &lt;- testing(train_test_split)</code></pre>
<p>A numerical data frame is alright, but you’ll need to convert the data to an array or a matrix if you want to make use of the keras package.</p>
<pre class="r"><code>train_rec &lt;- recipe(target ~., data = train) %&gt;%
  update_role(id, new_role = &#39;id&#39;) %&gt;% 
  step_scale(all_predictors())

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL) %&gt;% mutate(target = as.integer(str_remove_all(target, &#39;Class_&#39;))-1)

dtrain &lt;- as.matrix(train_prep %&gt;% select(-id,-target))
dimnames(dtrain) &lt;- NULL</code></pre>
<pre class="r"><code># Initialize a sequential model
keras_spec &lt;- keras_model_sequential() 

# Add layers to the model
keras_spec %&gt;% 
    layer_dense(units = 50, activation = &#39;relu&#39;, input_shape = c(75)) %&gt;%
    layer_batch_normalization() %&gt;%
    layer_dropout(rate = 0.2) %&gt;%
    layer_dense(units = 9, activation = &#39;softmax&#39;)

keras_spec</code></pre>
<pre class="r"><code># Print a summary of a model
summary(keras_spec)

# Get model configuration
get_config(keras_spec)

# Get layer configuration
get_layer(keras_spec, index = 1)

# List the model&#39;s layers
keras_spec$layers

# List the input tensors
keras_spec$inputs

# List the output tensors
keras_spec$outputs</code></pre>
<pre class="r"><code># Compile the model
keras_spec %&gt;% compile(
  optimizer = &#39;adam&#39;,   
  loss = &#39;categorical_crossentropy&#39;,
     metrics = &#39;accuracy&#39;
 )</code></pre>
<pre class="r"><code>keras_fit &lt;- keras_spec %&gt;% 
  fit(x = dtrain,
      y = to_categorical(train_prep$target),
      epochs = 200,
      batch_size = 64,
      validation_split = 0.3,
      verbose = TRUE,
      view_metrics = TRUE,
      callbacks = list(
        #callback_early_stopping(monitor = &#39;val_loss&#39;, patience = 50, verbose = 1),
        callback_model_checkpoint(filepath = &#39;d:\\keras_test.h5&#39;, monitor = &#39;val_loss&#39;, save_best_only = TRUE, verbose = 1),
        callback_reduce_lr_on_plateau(monitor = &#39;val_loss&#39;, factor = 0.1),
        callback_tensorboard(&#39;log/run_a&#39;))
  )

keras_fit

plot(keras_fit)</code></pre>
</div>
<div id="lightgbm" class="section level1">
<h1>lightgbm</h1>
<p>EDA, remove features that are not significant</p>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;%
  mutate(target = as.factor(target))

test_df &lt;- read_csv(&#39;test.csv&#39;)

set.seed(394)
train_test_split &lt;- initial_split(train_df, prop = 0.7, strata = target)

train &lt;- training(train_test_split)
test &lt;- testing(train_test_split)</code></pre>
<pre class="r"><code>train_rec &lt;- recipe(target ~., data = train_df) %&gt;%
  update_role(id, new_role = &#39;id&#39;) %&gt;%
  step_normalize(all_predictors())

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL) %&gt;%
  mutate(target = as.factor(target))</code></pre>
<p>feature selection via anova</p>
<p>The null hypothesis (H0) of the ANOVA is no difference in means, and the alternate hypothesis (Ha) is that the means are different from one another.</p>
<p>Given that we have 561(The features rn(refers to index number) and activity (dependent variable)are not considered) features in the dataset, we need to reduce the number of features that we need so as to simplify the model. One way to do that is to use the one way ANOVA(Analysis of Variance) Test. This is a technique used to identify if the difference in means between groups is significant or not by looking at the ratio of between group and within group variability. The null hypothesis of this test suggests that there is no significant difference between the means amongst the groups. And the alternate hypothesis suggests that at least one group’s mean is significantly not similar to the other.</p>
<p>multinom calls nnet. The variables on the rhs of the formula should be roughly scaled to [0,1] or the fit will be slow or may not converge at all.</p>
<pre class="r"><code>i = 1
feature_names &lt;- colnames(train_prep[,-c(1,77)])
aov_df &lt;- data.frame()
tukey_df &lt;- data.frame()

for (i in 1:length(feature_names)){
  aov_fit &lt;- aov(as.formula(paste(feature_names[i], &#39;~ target&#39;)), 
                 data = train_prep[,-1])
  aov_summary &lt;- summary(aov_fit)
  aov_df &lt;- bind_rows(data.frame(feature = feature_names[i], p_value = aov_summary[[1]]$`Pr(&gt;F)`[1]),aov_df)
  
  tukey_res &lt;- as.data.frame(TukeyHSD(aov_fit)$target)
  tukey_df &lt;- bind_rows(data.frame(feature = rep(feature_names[i],36), 
                         item = rownames(tukey_res), 
                         p_value = tukey_res$`p adj`),
                        tukey_df)
                             
  i = i+1
}</code></pre>
<pre class="r"><code># tukey_df %&gt;% ggplot(aes(x = item, y = p_value)) +
#   geom_col() +
#   facet_wrap(~ feature)

tukey_df %&gt;% mutate(p_value_sig = ifelse(p_value &lt;= 0.05,1,0)) %&gt;%
  filter(str_detect(item, &#39;-Class_1&#39;)) %&gt;%
  group_by(feature) %&gt;%
  summarise(n = sum(p_value_sig)) %&gt;%
  filter(n&gt;=6)

feat_select &lt;- tukey_df %&gt;% mutate(p_value_sig = ifelse(p_value &lt;= 0.05,1,0)) %&gt;%
  group_by(feature) %&gt;%
  summarise(n = sum(p_value_sig)) %&gt;%
  filter(n&gt;25) %&gt;%
  pull(feature)

feat_select

feat_select &lt;-  c(&quot;feature_1&quot;,&quot;feature_10&quot;,&quot;feature_12&quot;,&quot;feature_13&quot;,&quot;feature_14&quot;,&quot;feature_18&quot;,&quot;feature_19&quot;,&quot;feature_2&quot;,&quot;feature_23&quot;,&quot;feature_25&quot;,&quot;feature_29&quot;,&quot;feature_30&quot;,&quot;feature_31&quot;,&quot;feature_34&quot;,&quot;feature_37&quot;,&quot;feature_39&quot;,&quot;feature_40&quot;,&quot;feature_41&quot;,&quot;feature_43&quot;,&quot;feature_44&quot;,&quot;feature_5&quot;,&quot;feature_51&quot;,&quot;feature_53&quot;,&quot;feature_54&quot;,&quot;feature_55&quot;,&quot;feature_61&quot;,&quot;feature_62&quot;,&quot;feature_64&quot;,&quot;feature_65&quot;,&quot;feature_66&quot;,&quot;feature_73&quot;,&quot;feature_9&quot;) 

feat_select &lt;-  c(&quot;feature_10&quot;,&quot;feature_41&quot;,&quot;feature_43&quot;,&quot;feature_54&quot;,&quot;feature_57&quot;,&quot;feature_61&quot;,&quot;feature_66&quot;) </code></pre>
<p>m_fit &lt;- multinom(target ~ .,data = train_prep[,-1])</p>
<p>z &lt;- summary(m_fit)<span class="math inline">\(coefficients/summary(m_fit)\)</span>standard.errors
p &lt;- (1-pnorm(abs(z),0,1)) *2</p>
<p>must convert factors to numeric, must start from number 0 to use multiclass</p>
<pre class="r"><code>train_df &lt;- read_csv(&#39;D:\\helenzhangxj.gitlab.io\\content\\blog\\2021-06-01-kaggle-june-2021\\train.csv&#39;) %&gt;%
  mutate(target = as.integer(str_remove_all(target, &#39;Class_&#39;))-1)

test_df &lt;- read_csv(&#39;D:\\helenzhangxj.gitlab.io\\content\\blog\\2021-06-01-kaggle-june-2021\\test.csv&#39;)

set.seed(394)
train_test_split &lt;- createDataPartition(train_df$target, p = 0.7, list = FALSE)

train &lt;- train_df[train_test_split,]
test &lt;- train_df[-train_test_split,]

dtrain &lt;- lgb.Dataset(data = as.matrix(train[,-c(1,77)]), label = train$target)
dtest &lt;- lgb.Dataset.create.valid(dtrain, data = as.matrix(test[,-c(1,77)]), label = test$target)


dtrain &lt;- lgb.Dataset(data = as.matrix(train[,feat_select]), label = train$target)
dtest &lt;- lgb.Dataset.create.valid(dtrain, data = as.matrix(test[,feat_select]), label = test$target)</code></pre>
<p>set the base parameters</p>
<pre class="r"><code>lgbm_params &lt;- list(
  boosting = &#39;goss&#39;,
  objective = &#39;multiclass&#39;, 
  num_classes = 9,
  is_unbalance = TRUE,
  seed = 568
)</code></pre>
<p>tune hyperparameters</p>
<p>feature_fraction (mtry)
num_iterations (trees)
min_data_in_leaf (min_n)
max_depth (tree_depth)
learning_rate (learn_rate)
min_gain_to_split (loss_reduction)
bagging_fraction (sample_size)</p>
<p>num_leaves &amp; max_depth together</p>
<p>According to lightGBM documentation, when facing overfitting you may want to do the following parameter tuning:</p>
<p>Use small max_bin
Use small num_leaves
Use min_data_in_leaf and min_sum_hessian_in_leaf
Use bagging by set bagging_fraction and bagging_freq
Use feature sub-sampling by set feature_fraction
Use bigger training data
Try lambda_l1, lambda_l2 and min_gain_to_split for regularization
Try max_depth to avoid growing deep tree</p>
<pre class="r"><code>library(skimr)

train %&gt;% pivot_longer(cols = -c(id, target), names_to = &#39;item&#39;, values_to = &#39;feat_value&#39;) %&gt;%
  ggplot(aes(x = feat_value)) +
  geom_bar() +
  facet_wrap(~ item)</code></pre>
<pre class="r"><code>train_folds &lt;- KFold(train$target, nfolds = 5, stratified = TRUE, seed = 564)</code></pre>
<p>set feature_pre_filter to True,</p>
<p>feature_pre_filter is a Dataset parameter. Indeed, those parameters are stored in dataset object and cannot be changed in train/cv functions. You should create new dataset to change them.</p>
<p>A workaround is to rebuild the dataset after each call to lgb.cv. For exmple:</p>
<pre class="r"><code>lgbm_bayes &lt;- function(num_iterations, feature_fraction,   
                         max_depth, learning_rate, 
                       min_gain_to_split, bagging_fraction) { 
  
  lgbm_cv &lt;- lgb.cv(params = list(boosting = &#39;goss&#39;,
                                  objective = &#39;multiclass&#39;, 
                                  num_classes = 9, 
                                  is_unbalance = TRUE,
                                  # feature_pre_filter = FALSE,
                                  
                                  num_iterations = 500,
                                  min_data_in_leaf = 5,
                                  # max_bin = 15,
                                  # lambda_l1 = 1,
                                  
                                  feature_fraction = feature_fraction,
                                  max_depth = max_depth, 
                                  learning_rate = learning_rate, 
                                  min_gain_to_split = min_gain_to_split, 
                                  bagging_fraction = bagging_fraction,
                                  seed = 568),
                    
                     data = dtrain,
                     nrounds = 10,
                     folds = train_folds,
                    #early_stopping_rounds = 20, 
                    verbose = 1)
  
  list(Score = -min(unlist(lgbm_cv$.__enclos_env__$self$record_evals$valid$multi_logloss$eval), na.rm = TRUE), 
        Pred = 0)
}


tic()

lgbm_res &lt;- BayesianOptimization(lgbm_bayes,
                                bounds = list(feature_fraction = c(0.5, 1),
                                              max_depth = c(4L,20L),
                                              learning_rate = c(0.05,0.1),
                                              min_gain_to_split = c(0.6,1),
                                              bagging_fraction = c(0.5,0.9)),
                                init_grid_dt = NULL, 
                                init_points = 10, 
                                n_iter = 20,
                                acq = &quot;ucb&quot;, 
                                kappa = 2.5, 
                                eps = 0,
                                verbose = TRUE)

toc()

lgbm_res


lgbm_hyparams &lt;- as.list(lgbm_res$Best_Par)

lgbm_hyparams</code></pre>
<pre class="r"><code>lgbm_res$History %&gt;%
  pivot_longer(cols = -c(Value,Round), names_to = &#39;Params&#39;,values_to = &#39;Amount&#39;) %&gt;%
  ggplot(aes(x = Amount, y = -Value, color = Params)) +
  geom_line() +
  facet_wrap(~ Params, scales = &#39;free_x&#39;)</code></pre>
<pre class="r"><code>lgbm_fit &lt;- lgb.train(params = append(lgbm_params,lgbm_hyparams), 
                     data = dtrain,
                     valids = list(test = dtest),
                     eval = &#39;multi_logloss&#39;,
                     verbose = 1,
                     num_iterations = 500,
                     # feature_fraction = 0.3,
                     # max_depth = 7,
                     # min_gain_to_split =1,
                     # bagging_fraction = 0.4741466,
                     # learning_rate = 0.01,
                     min_data_in_leaf = 20,
                     early_stopping_rounds = 5)

lgbm_fit</code></pre>
<pre class="r"><code>lgbm_last_fit &lt;- data.frame(id = test$id, 
                           as.data.frame(predict(lgbm_fit, as.matrix(test[,-c(1,77)]), reshape = TRUE)) %&gt;%
  mutate(pred = as.factor(max.col(., ties.method = &#39;last&#39;))),
  obs = as.factor(test$target+1))

lgbm_last_fit

lgbm_last_fit %&gt;% 
  conf_mat(obs, pred) %&gt;%
  autoplot(type = &#39;mosaic&#39;)

lgbm_last_fit %&gt;% 
  filter(obs != pred) %&gt;%
  conf_mat(obs, pred) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

lgbm_last_fit %&gt;% roc_curve(obs, V1:V9) %&gt;% 
  autoplot()

lgbm_last_fit %&gt;% mn_log_loss(obs, V1:V9)</code></pre>
<p>final predict, submission</p>
<pre class="r"><code>lgbm_pred &lt;- data.frame(id = test_df$id, 
                           as.data.frame(predict(lgbm_fit, as.matrix(test_df[,-c(1)]), reshape = TRUE)) %&gt;%
  mutate(pred = as.factor(max.col(., ties.method = &#39;last&#39;))))

colnames(lgbm_pred) &lt;- c(&#39;id&#39;,paste0(&#39;Class_&#39;,seq(1,9,1)), &#39;pred&#39;)

lgbm_pred

lgbm_pred %&gt;% select(-pred) %&gt;% write_csv(&#39;d:\\submission_lgbm_20210605.csv&#39;)</code></pre>
</div>
<div id="lgbm-cv-fit" class="section level1">
<h1>lgbm cv &amp; fit</h1>
<p>feature_fraction = c(0.5, 1),
max_depth = c(4L,20L),
learning_rate = c(0.05,0.1),
min_gain_to_split = c(0.6,1),
bagging_fraction = c(0.5,0.9)),</p>
<pre class="r"><code>lgbm_cv &lt;- lgb.cv(
  params = list(boosting = &#39;goss&#39;,
                objective = &#39;multiclass&#39;,
                num_classes = 9,
                is_unbalance = TRUE,
                seed = 568),
  data = dtrain,
  eval = &#39;multi_logloss&#39;,
  folds = train_folds,
  # nfold = 3L,  
  # stratified = TRUE,
  
  num_iterations = 1000, # (trees)
  min_data_in_leaf = 15, #(min_n)
  max_depth = 10L, #(tree_depth)
  learning_rate = 0.008,
  min_gain_to_split = 0.3, #(loss_reduction)
  # bagging_fraction = 0.7, #(sample_size)
  # bagging_freq = 5, 
  feature_fraction = 0.8, #(mtry)
  num_leaves = 30,
  early_stopping_rounds = 100,
  verbose = 1L
)

lgbm_cv

lgbm_cv$best_iter
lgbm_cv$best_score</code></pre>
<pre class="r"><code>lgbm_fit = lgb.train(params = list(boosting = &#39;goss&#39;,
                objective = &#39;multiclass&#39;,
                num_classes = 9,
                is_unbalance = TRUE,
                seed = 568), 
                     data = dtrain, 
                     valids = list(test = dtest),
                     eval = &#39;multi_logloss&#39;,
                     num_iterations = 1000, # (trees)
  min_data_in_leaf = 15, #(min_n)
  max_depth = 10L, #(tree_depth)
  learning_rate = 0.008,
  min_gain_to_split = 0.3, #(loss_reduction)
  feature_fraction = 0.8, #(mtry)
  num_leaves = 30,
  early_stopping_rounds = 100,
  verbose = 1L
)

lgbm_fit</code></pre>
</div>
<div id="lgbm-fit-with-tidymodels" class="section level1">
<h1>lgbm fit with tidymodels</h1>
<pre class="r"><code>library(tidymodels)
library(treesnip)
library(stacks)</code></pre>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;%
  mutate(target = as.factor(target))

test_df &lt;- read_csv(&#39;test.csv&#39;)

set.seed(394)
train_test_split &lt;- initial_split(train_df, prop = 0.7, strata = target)

train &lt;- training(train_test_split)
test &lt;- testing(train_test_split)</code></pre>
<pre class="r"><code>train_rec &lt;- recipe(target ~., data = train_df) %&gt;%
  update_role(id, new_role = &#39;id&#39;)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

# lgbm_hyparams</code></pre>
<pre class="r"><code>set.seed(123)

train_folds &lt;- vfold_cv(train, v = 5, strata = target)
train_folds</code></pre>
<pre class="r"><code>ctrl_grid &lt;- control_stack_grid()
ctrl_grid$verbose = TRUE</code></pre>
<pre class="r"><code>lgbm_spec &lt;- boost_tree(
  mtry = 0.5814344, 
  trees = 500, 
  min_n = 5, 
  tree_depth = 7,
  learn_rate = 0.01050712,
  loss_reduction = 0.2096895,
  sample_size = 0.6192638) %&gt;% 
  set_mode(&#39;classification&#39;) %&gt;%
  set_engine(&#39;lightgbm&#39;, verbose = 1)

lgbm_spec</code></pre>
<pre class="r"><code>lgbm_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(lgbm_spec)

lgbm_wflow</code></pre>
<pre class="r"><code>set.seed(938)

lgbm_res &lt;- lgbm_wflow %&gt;%
  fit_resamples(
    resamples = train_folds, 
    metrics = metric_set(accuracy, roc_auc, mn_log_loss), 
    control = ctrl_grid
  )

lgbm_res</code></pre>
<pre class="r"><code>lgbm_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;mosaic&#39;)

lgbm_res %&gt;% collect_predictions() %&gt;%
  filter(.pred_class != target) %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

lgbm_res %&gt;% collect_predictions() %&gt;%
  group_by(id) %&gt;%
  roc_curve(target, .pred_Class_1:.pred_Class_9) %&gt;%
  ggplot(aes(1 - specificity, sensitivity, color = id)) +
  geom_abline(lty = 2, color = &quot;gray80&quot;, size = 1.5) +
  geom_path(show.legend = FALSE, alpha = 0.6) +
  facet_wrap(~.level) +
  coord_equal()

lgbm_res$.metrics

lgbm_res %&gt;% collect_predictions()</code></pre>
</div>
<div id="xgboost-bayesian-tuning" class="section level1">
<h1>xgboost &amp; bayesian tuning</h1>
<p>both data and label are stored in a list</p>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;%
  mutate(target = as.integer(str_remove_all(target, &#39;Class_&#39;))-1)

test_df &lt;- read_csv(&#39;test.csv&#39;)

set.seed(394)
train_test_split &lt;- createDataPartition(train_df$target, p = 0.7, list = FALSE)

train &lt;- train_df[train_test_split,]
test &lt;- train_df[-train_test_split,]

dtrain &lt;- xgb.DMatrix(data = as.matrix(train[,-c(1,77)]), label = train$target)
dtest &lt;- xgb.DMatrix(data = as.matrix(test[,-c(1,77)]), label = test$target)</code></pre>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;%
  mutate(target = as.factor(target))

test_df &lt;- read_csv(&#39;test.csv&#39;)

# preprocessing by recipe for imbalance

train_rec &lt;- recipe(target ~., data = train_df) %&gt;%
  update_role(id, new_role = &#39;id&#39;) %&gt;%
  step_smote(target)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL) %&gt;%
    mutate(target = as.integer(str_remove_all(target, &#39;Class_&#39;))-1)

train_prep %&gt;% group_by(target) %&gt;% count()

set.seed(394)

train_test_split &lt;- createDataPartition(train_prep$target, p = 0.7, list = FALSE)
train &lt;- train_prep[train_test_split,]
test &lt;- train_prep[-train_test_split,]

dtrain &lt;- xgb.DMatrix(data = as.matrix(train[,-c(1,77)]), label = train$target)
dtest &lt;- xgb.DMatrix(data = as.matrix(test[,-c(1,77)]), label = test$target)</code></pre>
<pre class="r"><code>train_folds &lt;- KFold(train$target, nfolds = 5, stratified = TRUE, seed = 564)</code></pre>
<p>max_depth (6) tree_depth
eta (0.3) learn_rate
gamma (0) loss_reduction
colsample_bynode (character(0)) mtry
min_child_weight (1) min_n
subsample (1) sample_size</p>
<p>early_stop (NULL) stop_iter
nrounds (15) trees</p>
<pre class="r"><code>xgb_params &lt;- list(booster = &#39;gbtree&#39;, 
                                  objective = &#39;multi:softprob&#39;, 
                                  evel_metric = &#39;mlogloss&#39;, 
                                  num_class = 9,
                                  set.seed = 1039)</code></pre>
<pre class="r"><code>xgb_bayes &lt;- function(colsample_bynode, min_child_weight, subsample, eta, gamma, max_depth) { 
  
  xgb_cv &lt;- xgb.cv(params = list(booster = &#39;gbtree&#39;, 
                                  objective = &#39;multi:softprob&#39;, 
                                  evel_metric = &#39;mlogloss&#39;, 
                                  num_class = 9,
                                  
                                  colsample_bynode = colsample_bynode, 
                                  min_child_weight = min_child_weight, 
                                  subsample = subsample, 
                                  eta = eta, 
                                  gamma = gamma, 
                                  max_depth = max_depth,
                                  set.seed = 1039),
                    
                     data = dtrain,
                     nrounds = 500,
                     folds = train_folds,
                     early_stopping_rounds = 8,
                     prediction = TRUE,
                     verbose = 1)
  
  list(Score = -min(xgb_cv$evaluation_log$test_mlogloss_mean), 
        Pred = 0)
}


xgb_res &lt;- BayesianOptimization(xgb_bayes,
                                bounds = list(colsample_bynode = c(0, 1),
                                              min_child_weight = c(1L,10L),
                                              subsample = c(0.5,0.8),
                                              eta = c(0.005,0.2),
                                              gamma = c(0,10), 
                                              max_depth = c(2L,7L)),
                                init_grid_dt = NULL, 
                                init_points = 10, 
                                n_iter = 5,
                                acq = &quot;ucb&quot;, 
                                kappa = 1.8, 
                                eps = 0,
                                verbose = TRUE)


xgb_res</code></pre>
<pre class="r"><code>xgb_res$History %&gt;%
  pivot_longer(cols = -c(Value,Round), names_to = &#39;Params&#39;,values_to = &#39;Amount&#39;) %&gt;%
  ggplot(aes(x = Amount, y = -Value, color = Params)) +
  geom_line() +
  facet_wrap(~ Params, scales = &#39;free_x&#39;)</code></pre>
<pre class="r"><code>xgb_fit = xgb.train(params = append(xgb_params, xgb_res$Best_Par), 
                     data = dtrain, 
                    
                    #valids = list(test = dtest),
                    watchlist = list(test = dtest), 
                    
                    #eval = &#39;multi_logloss&#39;,
                    # eval_metric = &#39;multi_logloss&#39;,
                    
                    verbose = 1,
                    
                    #num_iterations = 500,
                    nrounds = 500, 
                    
                     # colsample_bynode = 0.91356345,
                     # max_depth = 6,
                     # min_child_weight = 6,
                     # subsample = 0.69017709,
                     # eta = 0.04833688,
                     # gamma = 8.16314161,
                     early_stopping_rounds = 5)

xgb_fit</code></pre>
<p>last fit</p>
<pre class="r"><code>xgb_last_fit &lt;- data.frame(id = test$id, 
                           as.data.frame(predict(xgb_fit, as.matrix(test[,-c(1,77)]), reshape = TRUE)) %&gt;%
  mutate(pred = factor(max.col(., ties.method = &#39;last&#39;), levels = c(1:9))),
  obs = as.factor(test$target+1))

xgb_last_fit %&gt;% 
  conf_mat(obs, pred) %&gt;%
  autoplot(type = &#39;mosaic&#39;)

xgb_last_fit %&gt;% 
  filter(obs != pred) %&gt;%
  conf_mat(obs, pred) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

xgb_last_fit %&gt;% roc_curve(obs, V1:V9) %&gt;% 
  autoplot()

xgb_last_fit %&gt;% mn_log_loss(obs, V1:V9)</code></pre>
<p>final predict, submission</p>
<pre class="r"><code>xgb_pred &lt;- data.frame(id = test_df$id, 
                           as.data.frame(predict(xgb_fit, as.matrix(test_df[,-c(1)]), reshape = TRUE)) %&gt;%
  mutate(pred = as.factor(max.col(., ties.method = &#39;last&#39;))))

colnames(xgb_pred) &lt;- c(&#39;id&#39;,paste0(&#39;Class_&#39;,seq(1,9,1)), &#39;pred&#39;)

xgb_pred

xgb_pred %&gt;% select(-pred) %&gt;% write_csv(&#39;d:\\submission_xgb_20210605.csv&#39;)</code></pre>
<p>xgb cv</p>
<pre class="r"><code>xgb_cv &lt;- xgb.cv(params = list(booster = &#39;gbtree&#39;, 
                                  objective = &#39;multi:softprob&#39;, 
                                  evel_metric = &#39;mlogloss&#39;, 
                                  num_class = 9,
                                  
                                  colsample_bynode = 0.8, 
                                  min_child_weight = 0.5, 
                                  subsample = 0.8, 
                                  eta = 0.01, 
                                  gamma = 10L, 
                                  max_depth = 20L,
                                  set.seed = 1039),
                    
                     data = dtrain,
                     nrounds = 500,
                     folds = train_folds,
                     early_stopping_rounds = 100,
                     prediction = TRUE,
                 callbacks = list(cb.print.evaluation(period = 1)),
                     verbose = 1)

xgb_cv</code></pre>
<pre class="r"><code>xgb_fit = xgb.train(params = list(booster = &#39;gbtree&#39;, 
                                  objective = &#39;multi:softprob&#39;, 
                                  evel_metric = &#39;mlogloss&#39;, 
                                  num_class = 9,
                                  
                                  colsample_bynode = 0.8, 
                                  min_child_weight = 0.5, 
                                  subsample = 0.8, 
                                  eta = 0.01, 
                                  gamma = 10L, 
                                  max_depth = 20L,
                                  set.seed = 1039), 
                    data = dtrain, 
                    nrounds = 1000,
                    watchlist = list(test = dtest), 
                    early_stopping_rounds = 100,
                    verbose = 1)

xgb_fit</code></pre>
</div>
<div id="xgb-fit-with-tidymodels" class="section level1">
<h1>xgb fit with tidymodels</h1>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;%
  mutate(target = as.factor(target))

test_df &lt;- read_csv(&#39;test.csv&#39;)

set.seed(394)
train_test_split &lt;- initial_split(train_df, prop = 0.7, strata = target)

train &lt;- training(train_test_split)
test &lt;- testing(train_test_split)</code></pre>
<pre class="r"><code>train_rec &lt;- recipe(target ~., data = train_df) %&gt;%
  update_role(id, new_role = &#39;id&#39;) %&gt;%
  step_smote(target)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

# xgb_hyparams</code></pre>
<pre class="r"><code>set.seed(123)

train_folds &lt;- vfold_cv(train, v = 3, strata = target)
train_folds</code></pre>
<p>colsample_bynode min_child_weight subsample
0.11602281 8.00000000 0.60193121
eta gamma max_depth
0.04654367 4.99638822 4.00000000</p>
<pre><code>  colsample_bynode = 0.7293 min_child_weight = 7.0000   subsample = 0.6798  eta = 0.0492    gamma = 6.2153  max_depth = 5.0000  Value = -1.7358 </code></pre>
<pre class="r"><code>library(stacks)

ctrl_grid &lt;- control_stack_grid()
ctrl_grid$verbose = TRUE</code></pre>
<pre class="r"><code>xgb_spec &lt;- boost_tree(
  trees = 500,
  mtry = 0.7293, 
  min_n = 7, 
  tree_depth = 5,
  learn_rate = 0.0492,
  loss_reduction = 6.2153,
  sample_size = 0.6798) %&gt;% 
  set_mode(&#39;classification&#39;) %&gt;%
  set_engine(&#39;xgboost&#39;, verbose = 1)

xgb_spec</code></pre>
<pre class="r"><code>xgb_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(xgb_spec)

xgb_wflow</code></pre>
<pre class="r"><code>set.seed(938)

xgb_res &lt;- xgb_wflow %&gt;%
  fit_resamples(
    resamples = train_folds, 
    metrics = metric_set(accuracy, roc_auc, mn_log_loss), 
    control = ctrl_grid
  )

xgb_res</code></pre>
<pre class="r"><code>xgb_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;mosaic&#39;)

xgb_res %&gt;% collect_predictions() %&gt;%
  filter(.pred_class != target) %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

xgb_res %&gt;% collect_predictions() %&gt;%
  group_by(id) %&gt;%
  roc_curve(target, .pred_Class_1:.pred_Class_9) %&gt;%
  ggplot(aes(1 - specificity, sensitivity, color = id)) +
  geom_abline(lty = 2, color = &quot;gray80&quot;, size = 1.5) +
  geom_path(show.legend = FALSE, alpha = 0.6) +
  facet_wrap(~.level) +
  coord_equal()

xgb_res$.metrics

xgb_res %&gt;% collect_metrics()</code></pre>
<p>stacks</p>
<pre class="r"><code>pred_stacks &lt;- 
  # initialize the stack
  stacks() %&gt;%
  # add candidate members
  add_candidates(lgbm_res) %&gt;%
  add_candidates(xgb_res) %&gt;%
  # determine how to combine their predictions
  blend_predictions() %&gt;%
  # fit the candidates with nonzero stacking coefficients
  fit_members()


pred_stacks</code></pre>
<pre class="r"><code>pred_stacks_a &lt;- predict(pred_stacks, new_data = test,  type = &#39;prob&#39;)

pred_stacks_b &lt;- predict(pred_stacks, new_data = test_df,  type = &#39;prob&#39;)

cbind(id = test_df$id, pred_stacks_b) %&gt;% write_csv(&#39;d:\\submission_stacks_20210605.csv&#39;)</code></pre>
<pre class="r"><code>stacks_last_fit &lt;- cbind(id = test$id, 
                         pred_stacks_a %&gt;% 
                  mutate(.pred_class = max.col(., ties.method = &#39;last&#39;)) %&gt;%
                           mutate(.pred_class = factor(paste0(&#39;Class_&#39;,.pred_class), 
                                                       levels = paste0(&#39;Class_&#39;,c(1:9)))),
                  target = test$target)

stacks_last_fit %&gt;% conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;mosaic&#39;)

stacks_last_fit %&gt;%
  filter(.pred_class != target) %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

stacks_last_fit %&gt;% roc_curve(target, .pred_Class_1:.pred_Class_9) %&gt;% 
  autoplot()

stacks_last_fit %&gt;% mn_log_loss(target, .pred_Class_1:.pred_Class_9)</code></pre>
<p>stack models on last fit</p>
<pre class="r"><code>stack_last_fit &lt;- lgbm_last_fit %&gt;% mutate(rowid = row_number()) %&gt;%
  bind_rows(xgb_last_fit %&gt;% mutate(rowid = row_number())) %&gt;% 
  group_by(rowid) %&gt;%
  summarise(Class_1 = mean(V1),
            Class_2 = mean(V2),
            Class_3 = mean(V3),
            Class_4 = mean(V4),
            Class_5 = mean(V5),
            Class_6 = mean(V6),
            Class_7 = mean(V7),
            Class_8 = mean(V8),
            Class_9 = mean(V9)) %&gt;%
  bind_cols(target = as.factor(paste0(&#39;Class_&#39;,test$target+1)))


stack_last_fit %&gt;% 
  mn_log_loss(truth = target, estimate = Class_1:Class_9)

lgbm_last_fit %&gt;% mn_log_loss(obs, V1:V9)

xgb_last_fit %&gt;% mn_log_loss(obs, V1:V9)</code></pre>
<p>stack models on submission</p>
<pre class="r"><code>stack_pred &lt;- data.frame(id = test_df$id, 
                         lgbm_pred %&gt;% mutate(rowid = row_number()) %&gt;%
  bind_rows(xgb_pred %&gt;% mutate(rowid = row_number())) %&gt;% 
  group_by(rowid) %&gt;%
  summarise(Class_1 = mean(Class_1),
            Class_2 = mean(Class_2),
            Class_3 = mean(Class_3),
            Class_4 = mean(Class_4),
            Class_5 = mean(Class_5),
            Class_6 = mean(Class_6),
            Class_7 = mean(Class_7),
            Class_8 = mean(Class_8),
            Class_9 = mean(Class_9)) %&gt;%
    select(-rowid) %&gt;%
    mutate(pred = as.factor(max.col(., ties.method = &#39;last&#39;))))
    
stack_pred

stack_pred %&gt;% select(-pred) %&gt;% write_csv(&#39;d:\\submission_stack_20210605.csv&#39;)

stack_pred$pred

lgbm_pred$pred</code></pre>
</div>
<div id="tabnet-tidymodels" class="section level1">
<h1>tabnet tidymodels</h1>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;% mutate(target = as.factor(target))

test_df &lt;- read_csv(&#39;test.csv&#39;)


set.seed(394)
train_test_split &lt;- initial_split(train_df, prop = 0.7, strata = &#39;target&#39;)
train &lt;- training(train_test_split)
test &lt;- testing(train_test_split)
train_rec &lt;- recipe(target ~., data = train) %&gt;%
  update_role(id, new_role = &#39;id&#39;) %&gt;%
  # step_smote(target)
  step_normalize(all_numeric())

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)
train_prep %&gt;% group_by(target) %&gt;% count()
head(train_prep)</code></pre>
<p>folds</p>
<pre class="r"><code>set.seed(123)
train_folds &lt;- vfold_cv(train, v = 5, strata = target)
train_folds</code></pre>
<p>tabnet specs</p>
<pre class="r"><code>tabnet_spec &lt;- tabnet(mode = &#39;classification&#39;, 
                      epochs = 20, 
                      penalty = 0.000001,
                      batch_size = 16384,
                      learn_rate = tune(),
                      decision_width = tune(), 
                      attention_width = tune(),
                      num_steps = tune(), 
                      feature_reusage = 1.5,
                      virtual_batch_size = 512,
                      # num_independent,
                      # num_shared = ,
                      momentum = 0.6) %&gt;%
  set_engine(&quot;torch&quot;, verbose = TRUE)
tabnet_spec</code></pre>
<p>tabnet workflow</p>
<pre class="r"><code>tabnet_wflow &lt;- workflow() %&gt;%
  add_model(tabnet_spec) %&gt;%
  add_recipe(train_rec)
tabnet_wflow</code></pre>
<p>tabnet</p>
<pre class="r"><code>tabnet_grid &lt;- tabnet_wflow %&gt;%
  parameters() %&gt;%
  update(
    decision_width = decision_width(range = c(20, 40)),
    attention_width = attention_width(range = c(20, 40)),
    num_steps = num_steps(range = c(4, 6)),
    learn_rate = learn_rate(range = c(-2.5, -1))) %&gt;%
  grid_max_entropy(size = 10)
tabnet_grid</code></pre>
<pre class="r"><code>tic()
set.seed(777)
tabnet_res &lt;- tabnet_wflow %&gt;% 
    tune_race_anova(
    resamples = train_folds, 
    grid = tabnet_grid,
    control = control_race(verbose = TRUE, save_pred = TRUE))
toc()</code></pre>
<pre class="r"><code>library(data.table)
library(tidyverse)
library(skimr)
library(tidymodels)
library(themis)
library(xgboost)

library(lightgbm)

library(klaR)</code></pre>
<p>lgbm_params
lgbm goss (Gradient-based One-Side Sampling)</p>
<p>If you set boosting as RF then the lightgbm algorithm behaves as random forest and not boosted trees!
According to the documentation, to use RF you must use bagging_fraction and feature_fraction smaller than 1.</p>
<p>According to lightGBM documentation, when facing overfitting you may want to do the following parameter tuning:</p>
<p>Use small max_bin
Use small num_leaves
Use min_data_in_leaf and min_sum_hessian_in_leaf
Use bagging by set bagging_fraction and bagging_freq
Use feature sub-sampling by set feature_fraction
Use bigger training data
Try lambda_l1, lambda_l2 and min_gain_to_split for regularization
Try max_depth to avoid growing deep tree</p>
<p>lambda_l1
Lambda_l1 (and lambda_l2) control to l1/l2 and along with min_gain_to_split are used to combat over-fitting. I highly recommend you to use parameter tuning (explored in the later section) to figure out the best values for those parameters.</p>
<p>num_leaves
Surely num_leaves is one of the most important parameters that controls the complexity of the model. With it, you set the maximum number of leaves each weak learner has. Large num_leaves increases accuracy on the training set and also the chance of getting hurt by overfitting. According to the documentation, one simple way is that num_leaves = 2^(max_depth) however, considering that in lightgbm a leaf-wise tree is deeper than a level-wise tree you need to be careful about overfitting! As a result, It is necessary to tune num_leaves with the max_depth together.</p>
<p>subsample
With subsample (or bagging_fraction) you can specify the percentage of rows used per tree building iteration. That means some rows will be randomly selected for fitting each learner (tree). This improved generalization but also speed of training.
I suggest using smaller subsample values for the baseline models and later increase this value when you are done with other experiments (different feature selections, different tree architecture).</p>
<p>feature_fraction
Feature fraction or sub_feature deals with column sampling, LightGBM will randomly select a subset of features on each iteration (tree). For example, if you set it to 0.6, LightGBM will select 60% of features before training each tree.</p>
<p>There are two usage for this feature:
Can be used to speed up training
Can be used to deal with overfitting</p>
<p>max_depth
This parameter control max depth of each trained tree and will have impact on:
The best value for the num_leaves parameter
Model Performance
Training Time
Pay attention If you use a large value of max_depth, your model will likely be over fit to the train set.</p>
<p>max_bin<br />
Binning is a technique for representing data in a discrete view(histogram). Lightgbm uses a histogram based algorithm to find the optimal split point while creating a weak learner. Therefore, each continuous numeric feature (e.g. number of views for a video) should be split into discrete bins.</p>
<p>num_iterations
Num_iterations specifies the number of boosting iterations (trees to build). The more trees you build the more accurate your model can be at the cost of:</p>
<p>Longer training time
Higher chance of overfitting
Start with a lower number of trees to build a baseline and increase it later when you want to squeeze the last % out of your model.</p>
<p>It is recommended to use smaller learning_rate with larger num_iterations. Also, you should use early_stopping_rounds if you go for higher num_iterations to stop your training when it is not learning anything useful.</p>
<p>early_stopping_rounds
This parameter will stop training if the validation metric is not improving after the last early stopping round. That should be defined in pair with a number of iterations. If you set it too large you increase the change of overfitting (but your model can be better).</p>
<p>The rule of thumb is to have it at 10% of your num_iterations.</p>
<p>list(objective = “binary”,
metric = “auc”,
min_sum_hessian_in_leaf = 1,
feature_fraction = 0.7,
bagging_fraction = 0.7,
bagging_freq = 5,
min_data = 100,
max_bin = 50,
lambda_l1 = 8,
lambda_l2 = 1.3,
min_data_in_bin=100,
min_gain_to_split = 10,
min_data_in_leaf = 30,</p>
</div>
<div id="tidymodels" class="section level1">
<h1>tidymodels</h1>
<pre class="r"><code>train_df &lt;- fread(&#39;train.csv&#39;) %&gt;% mutate(target = as.factor(target))
test_df &lt;- fread(&#39;test.csv&#39;)

set.seed(394)
train_test_split &lt;- initial_split(train_df, prop = 0.3, strata = &#39;target&#39;)
train &lt;- training(train_test_split)
test &lt;- testing(train_test_split)

train_rec &lt;- recipe(target ~., data = train) %&gt;%
  update_role(id, new_role = &#39;id&#39;) %&gt;%
  # step_log(all_predictors(), offset = 1) %&gt;%
  step_smote(target)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

train_prep %&gt;% group_by(target) %&gt;% count()

head(train_prep)</code></pre>
<p>folds</p>
<pre class="r"><code>set.seed(123)

train_folds &lt;- vfold_cv(train, v = 3, strata = target)
train_folds</code></pre>
<pre class="r"><code>ctrl_grid &lt;- control_stack_grid()
ctrl_grid$verbose = TRUE</code></pre>
<p>glmnet</p>
<pre class="r"><code>glmnet_spec &lt;- multinom_reg(penalty = tune(), mixture = tune()) %&gt;%
  set_mode(&quot;classification&quot;) %&gt;%
  set_engine(&quot;glmnet&quot;)</code></pre>
<pre class="r"><code>set.seed(543)

glmnet_grid &lt;- grid_latin_hypercube(
  penalty(),
  mixture(),
  size = 20
)

glmnet_grid</code></pre>
<p>glmnet tune grid</p>
<pre class="r"><code>glmnet_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;% 
  add_model(glmnet_spec)


tic()
set.seed(234)
glmnet_res &lt;- glmnet_wflow %&gt;% tune_grid(
  resamples = train_folds,
  grid = glmnet_grid,
  metrics = metric_set(accuracy, roc_auc, mn_log_loss),
  control = ctrl_grid
  # control = control_grid(save_pred = TRUE, save_workflow = TRUE, verbose = TRUE)
)
toc()

glmnet_res %&gt;% write_rds(&#39;d:\\glmnet_res.rds&#39;)

glmnet_res %&gt;% collect_metrics()

glmnet_res %&gt;% select_best(&#39;mn_log_loss&#39;) %&gt;%
  inner_join(glmnet_res %&gt;% collect_metrics(), by = &#39;.config&#39;)</code></pre>
<pre class="r"><code>glmnet_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class)

glmnet_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;mosaic&#39;)

glmnet_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

glmnet_res %&gt;% collect_predictions() %&gt;%
  filter(.pred_class != target) %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

glmnet_res %&gt;%
  collect_metrics() %&gt;%
  filter(.metric == &quot;mn_log_loss&quot;) %&gt;%
  select(mean, penalty, mixture) %&gt;%
  pivot_longer(cols = -mean, names_to = &#39;parameter&#39;, values_to = &#39;value&#39;) %&gt;%
  ggplot(aes(value, mean, color = parameter)) +
  geom_line(alpha = 0.8, show.legend = FALSE) +
  facet_wrap(~parameter) +
  labs(x = NULL, y = &quot;mn_log_loss&quot;)</code></pre>
<p>glmnet last fit</p>
<pre class="r"><code>glmnet_last_fit &lt;- glmnet_wflow %&gt;% 
  finalize_workflow(glmnet_res %&gt;% select_best(&#39;mn_log_loss&#39;)) %&gt;%
  last_fit(train_test_split, 
           metrics = metric_set(roc_auc,mn_log_loss))

glmnet_last_fit %&gt;% collect_metrics()
glmnet_last_fit %&gt;% collect_predictions()

glmnet_last_fit %&gt;% collect_predictions() %&gt;%
  group_by(.config) %&gt;%
  roc_curve(target, .pred_Class_1:.pred_Class_9) %&gt;%
  ggplot(aes(1 - specificity, sensitivity, color = .config)) +
  geom_abline(lty = 2, color = &quot;gray80&quot;, size = 1.5) +
  geom_path(show.legend = FALSE, alpha = 0.6) +
  facet_wrap(~.level) +
  coord_equal()</code></pre>
<p>glmnet fit –&gt; get the model, pred</p>
<pre class="r"><code>glmnet_fit &lt;- glmnet_wflow %&gt;% 
  finalize_workflow(glmnet_res %&gt;% select_best(&#39;mn_log_loss&#39;)) %&gt;% 
  fit(data = train_df) 

glmnet_pred &lt;- predict(glmnet_fit, new_data = test, type = &#39;prob&#39;)
glmnet_pred</code></pre>
</div>
<div id="nnet" class="section level1">
<h1>nnet</h1>
<pre class="r"><code>nnet_spec &lt;-
  mlp(hidden_units = tune(), penalty = tune(), epochs = tune()) %&gt;%
  set_mode(&quot;classification&quot;) %&gt;%
  set_engine(&quot;nnet&quot;)</code></pre>
<pre class="r"><code>set.seed(563)

nnet_grid &lt;- grid_max_entropy(
  hidden_units(),
  penalty(),
  epochs(),
  size = 20
)</code></pre>
<pre class="r"><code>nnet_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;% 
  add_model(nnet_spec)

nnet_wflow</code></pre>
<pre class="r"><code>tic()

set.seed(234)

nnet_res &lt;- tune_grid(
  nnet_wflow,
  resamples = train_folds,
  grid = nnet_grid,
  metrics = metric_set(accuracy, roc_auc, mn_log_loss),
  control = ctrl_grid
)

toc()</code></pre>
<pre class="r"><code>nnet_res %&gt;% collect_metrics()

nnet_res %&gt;% select_best(&#39;mn_log_loss&#39;) %&gt;%
  inner_join(nnet_res %&gt;% collect_metrics(), by = &#39;.config&#39;)</code></pre>
<pre class="r"><code>nnet_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class)

nnet_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;mosaic&#39;)

nnet_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

nnet_res %&gt;% collect_predictions() %&gt;%
  filter(.pred_class != target) %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

nnet_res %&gt;%
  collect_metrics() %&gt;%
  filter(.metric == &quot;mn_log_loss&quot;) %&gt;%
  select(mean, hidden_units:epochs) %&gt;%
  pivot_longer(cols = -mean, names_to = &#39;parameter&#39;, values_to = &#39;value&#39;) %&gt;%
  ggplot(aes(value, mean, color = parameter)) +
  geom_line(alpha = 0.8, show.legend = FALSE) +
  facet_wrap(~parameter, scales = &#39;free_x&#39;) +
  labs(x = NULL, y = &quot;mn_log_loss&quot;)

nnet_res %&gt;% collect_predictions() %&gt;%
  group_by(.config) %&gt;%
  roc_curve(target, .pred_Class_1:.pred_Class_9) %&gt;%
  ggplot(aes(1 - specificity, sensitivity, color = .config)) +
  geom_abline(lty = 2, color = &quot;gray80&quot;, size = 1.5) +
  geom_path(show.legend = FALSE, alpha = 0.6) +
  facet_wrap(~.level) +
  coord_equal()</code></pre>
<pre class="r"><code>nnet_last_fit &lt;- nnet_wflow %&gt;% 
  finalize_workflow(nnet_res %&gt;% select_best(&#39;mn_log_loss&#39;)) %&gt;%
  last_fit(train_test_split, 
           metrics = metric_set(roc_auc,mn_log_loss))

nnet_last_fit %&gt;% collect_metrics()
nnet_last_fit %&gt;% collect_predictions()

nnet_last_fit %&gt;% collect_predictions() %&gt;%
  group_by(.config) %&gt;%
  roc_curve(target, .pred_Class_1:.pred_Class_9) %&gt;%
  ggplot(aes(1 - specificity, sensitivity, color = .config)) +
  geom_abline(lty = 2, color = &quot;gray80&quot;, size = 1.5) +
  geom_path(show.legend = FALSE, alpha = 0.6) +
  facet_wrap(~.level) +
  coord_equal()</code></pre>
</div>
<div id="xgb" class="section level1">
<h1>xgb</h1>
<pre class="r"><code>xgb_spec &lt;- boost_tree(
  trees = 500, 
  tree_depth = tune(), 
  min_n = tune(), 
  loss_reduction = tune(),                     ## first three: model complexity
  sample_size = tune(), 
  mtry = tune(),         ## randomness
  learn_rate = tune(), 
  stop_iter = 5## step size
  ) %&gt;% 
  set_engine(&quot;xgboost&quot;, verbose = 1) %&gt;% 
  set_mode(&quot;classification&quot;)

xgb_spec</code></pre>
<p>tune_grid via bayesian</p>
<pre class="r"><code>set.seed(543)

xgb_params &lt;- parameters(
  tree_depth(),
  min_n(),
  loss_reduction(),
  sample_size = sample_prop(),
  mtry = finalize(mtry(), train),
  learn_rate()
)

xgb_params


set.seed(543)

xgb_params &lt;- parameters(xgb_spec) %&gt;% 
  finalize(train)

xgb_params</code></pre>
<pre class="r"><code>xgb_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;% 
  add_model(xgb_spec)

xgb_wflow</code></pre>
<pre class="r"><code>tic()

set.seed(234)

xgb_res &lt;- xgb_wflow %&gt;% 
  tune_bayes(
  resamples = train_folds,
  param_info = xgb_params,
  iter = 10,
  initial = 10,
  #metrics = metric_set(accuracy, roc_auc, mn_log_loss),
  
  metrics = metric_set(mn_log_loss),
  objective = conf_bound(kappa = 1),
  control = control_bayes(
    verbose = TRUE,
    no_improve = 10,
    seed = 123, 
    save_pred = TRUE,
    save_workflow = TRUE
  )
)

toc()

xgb_res</code></pre>
<pre class="r"><code>xgb_res %&gt;% select_best(&#39;mn_log_loss&#39;)</code></pre>
<pre class="r"><code>xgb_res %&gt;% write_rds(&#39;d:\\TPS_Jun2021_xgb_res.rds&#39;)

xgb_res %&gt;% collect_metrics()

xgb_res %&gt;% select_best(&#39;mn_log_loss&#39;)

xgb_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class)

xgb_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;mosaic&#39;)

xgb_res %&gt;% collect_predictions() %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

xgb_res %&gt;% collect_predictions() %&gt;%
  filter(.pred_class != target) %&gt;%
  conf_mat(target, .pred_class) %&gt;%
  autoplot(type = &#39;heatmap&#39;)

xgb_res %&gt;%
  collect_metrics() %&gt;%
  filter(.metric == &quot;mn_log_loss&quot;) %&gt;%
  select(mean, mtry:sample_size) %&gt;%
  pivot_longer(mtry:sample_size,
               values_to = &quot;value&quot;,
               names_to = &quot;parameter&quot;) %&gt;%
  ggplot(aes(value, mean, color = parameter)) +
  geom_line(alpha = 0.8, show.legend = FALSE) +
  facet_wrap(~parameter, scales = &quot;free_x&quot;) +
  labs(x = NULL, y = &quot;mn_log_loss&quot;)</code></pre>
<p>finalise workflow
last fit</p>
<pre class="r"><code>xgb_last_fit &lt;- xgb_wflow %&gt;% 
  finalize_workflow(xgb_res %&gt;% select_best(&#39;mn_log_loss&#39;)) %&gt;%
  last_fit(train_test_split, 
           metrics = metric_set(roc_auc,mn_log_loss))

xgb_last_fit %&gt;% collect_metrics()
xgb_last_fit %&gt;% collect_predictions()

xgb_last_fit %&gt;% collect_predictions() %&gt;%
  group_by(id) %&gt;%
  roc_curve(target, .pred_Class_1:.pred_Class_9) %&gt;%
  ggplot(aes(1 - specificity, sensitivity, color = id)) +
  geom_abline(lty = 2, color = &quot;gray80&quot;, size = 1.5) +
  geom_path(show.legend = FALSE, alpha = 0.6) +
  facet_wrap(~.level) +
  coord_equal()</code></pre>
<p>fit: train on the entire training dataset by using cv tuned hyper parameters</p>
<pre class="r"><code>xgb_fit &lt;- xgb_wflow %&gt;% 
  finalize_workflow(xgb_res %&gt;% select_best(&#39;mn_log_loss&#39;)) %&gt;% 
  fit(data = train_df)

xgb_fit %&gt;% 
  pull_workflow_fit() %&gt;%
  vip(num_features = 20)</code></pre>
<pre class="r"><code>xgb_pred &lt;- predict(xgb_fit, new_data = test_df, type = &#39;prob&#39;)
xgb_pred

cbind(id = test_df$id, xgb_pred) %&gt;% write_csv(&#39;d:\\submission.csv&#39;)</code></pre>
<p>predict stacks</p>
<pre class="r"><code>tpsjun21_stacks &lt;- 
  # initialize the stack
  stacks() %&gt;%
  # add candidate members
  # add_candidates(rf_res) %&gt;%
  add_candidates(glmnet_res) %&gt;%
  add_candidates(nnet_res) %&gt;%
  # determine how to combine their predictions
  blend_predictions() %&gt;%
  # fit the candidates with nonzero stacking coefficients
  fit_members()

   tpsjun21_stacks %&gt;%
     blend_predictions()</code></pre>
<p>h2o</p>
<pre class="r"><code>train_df &lt;- fread(&#39;train.csv&#39;) %&gt;% mutate(target = as.factor(target))
test_df &lt;- fread(&#39;test.csv&#39;)

set.seed(394)
train_test_split &lt;- initial_split(train_df, strata = &#39;target&#39;)
train &lt;- training(train_test_split)
test &lt;- testing(train_test_split)

train_rec &lt;- recipe(target ~., data = train) %&gt;%
  update_role(id, new_role = &#39;id&#39;)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

train_prep %&gt;% group_by(target) %&gt;% count()

head(train_prep)</code></pre>
<pre class="r"><code>library(h2o)

h2o.init()

train_h2o &lt;- h2o.assign(as.h2o(train_prep),&#39;train&#39;)

target &lt;- &#39;target&#39;

predictors &lt;- setdiff(colnames(train_df),c(&#39;id&#39;,&#39;target&#39;))</code></pre>
<pre class="r"><code># Construct a large Cartesian hyper-parameter space

ntrees_opts = c(1000)       # early stopping will stop earlier
max_depth_opts = seq(1,30)
min_rows_opts = c(1,5,10,20,50,100)
learn_rate_opts = seq(0.001,0.01,0.001)
sample_rate_opts = seq(0.3,1,0.05)
col_sample_rate_opts = seq(0.3,1,0.05)
col_sample_rate_per_tree_opts = seq(0.3,1,0.05)
#nbins_cats_opts = seq(100,10000,100) # no categorical features # in this dataset

hyper_params = list( ntrees = ntrees_opts,
                     max_depth = max_depth_opts,
                     min_rows = min_rows_opts,
                     learn_rate = learn_rate_opts,
                     sample_rate = sample_rate_opts,
                     col_sample_rate = col_sample_rate_opts,
                     col_sample_rate_per_tree = col_sample_rate_per_tree_opts
                     #,nbins_cats = nbins_cats_opts
)



# Search a random subset of these hyper-parmameters. Max runtime 
# and max models are enforced, and the search will stop after we 
# don&#39;t improve much over the best 5 random models.

search_criteria = list(strategy = &quot;RandomDiscrete&quot;,
                       max_runtime_secs = 3600,
                       max_models = 100,
                       stopping_metric = &quot;logloss&quot;,
                       stopping_tolerance = 0.00001,
                       stopping_rounds = 5,
                       seed = 123456)</code></pre>
<pre class="r"><code>h2o_gbm_tune &lt;- h2o.grid(algorithm = &quot;gbm&quot;,
                     x = predictors,
                     y = target,
                     training_frame = train_h2o,
                     nfolds = 3,
                     stopping_rounds = 5,
                     stopping_tolerance = 0.001,
                     stopping_metric = &quot;logloss&quot;,
                     
                     # how often to score (affects early stopping):
                     score_tree_interval = 100,
                     
                     ## seed to control the sampling of the 
                     ## Cartesian hyper-parameter space:
                     seed = 123456,
                     hyper_params = hyper_params,
                     search_criteria = search_criteria,
                     keep_cross_validation_models = TRUE,
                     keep_cross_validation_predictions = TRUE
  )

h2o_gbm_tune</code></pre>
<pre class="r"><code>h2o_gbm_tune_bestmodel &lt;- h2o.getModel(h2o_gbm_tune@model_ids[[1]])

h2o.saveModel(h2o_gbm_tune_bestmodel, path = &quot;d:\\Grid_GBM_train_model_R_1622622378989_1_model&quot;, force = FALSE)</code></pre>
<pre class="r"><code>test_h2o &lt;- as.h2o(test)

# evaluate performance on new data
h2o.performance(model = h2o_gbm_tune_bestmodel, newdata = test_h2o)

# predict with h2o.predict
h2o.predict(h2o.final, newdata = test.h2o)

h2o_gbm_fit@model$scoring_history</code></pre>
<p>h2o automl</p>
<pre class="r"><code>h2o.init()

train_h2o &lt;- h2o.assign(as.h2o(train_df),&#39;train&#39;)

target &lt;- &#39;target&#39;

predictors &lt;- setdiff(colnames(train_df),c(&#39;id&#39;,&#39;target&#39;))

automl_fit &lt;- h2o.automl(
      x = predictors,
      y = target,
      balance_classes = TRUE,
      training_frame = train_h2o,
      # leaderboard_frame = valid_h2o,
      seed = 1354,
      sort_metric = &#39;logloss&#39;,
      keep_cross_validation_predictions = TRUE,
      keep_cross_validation_models = TRUE,
      verbosity = &quot;info&quot;,
      max_runtime_secs = 14400
)

automl_fit &lt;- h2o.loadModel(&quot;D:\\helenzhangxj.gitlab.io\\content\\blog\\2021-06-01-kaggle-june-2021\\StackedEnsemble_BestOfFamily_AutoML_20210603_062828&quot;)

h2o_automl_bestmodel &lt;- h2o.getModel(automl_fit@model_id[[1]])

h2o.performance(model = h2o_automl_bestmodel, newdata = test_h2o)

test_h2o &lt;- as.h2o(test_df)

h2o_pred &lt;- h2o.predict(object = h2o_automl_bestmodel, newdata = test_h2o)
h2o_pred %&gt;% write_csv(&#39;d:\\submission.csv&#39;)</code></pre>
</div>
