<footer class="footer">
	<p class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<span class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}
			<span class = 'footer__copyright-R'> | Made with </span>
			<span>&#x2615</span><span> & </span> 
				<a href="https://cran.r-project.org/" target="_blank" rel="noopener"><i class="fab fa-r-project"></i></a>   
				<a href="https://github.com/rstudio/blogdown" target="_blank" rel="noopener">blogdown</a><span> package | </span>
				<!--<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>-->
			
			<span class = "footer__copyright-credits">Generated with </span>
				<a href="https://gohugo.io/" target="_blank" rel="noopener">Hugo</a><span> and </span>
				<a href="https://github.com/pfadfinder-konstanz/hugo-dpsg" target="_blank" rel="noopener">DPSG</a><span></span> theme</span>
				
				{{ with .Site.Params.footer.text }}
				<span>{{ . | markdownify }}</span>
				{{ end }}
		</span>
		<span class="float-right" aria-hidden="true">
			<a href="#" class="back-to-top">
			  <span class="button_icon">
				<i class="fas fa-chevron-up fa-2x"></i>
			  </span>
			</a>
		</span>
	</p>
</footer>


