<div class = "header_menu">
<header class="header">
	{{ partial "logo.html" . }}
</header>
  {{ partial "menu.html" . }}
</div>
<div>
	{{ if and ($.IsNode) (eq $.Section "") }}
	{{ partial "home_image.html" . }}
	{{ end }}
</div>
