{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix := and $logoImage $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<div class="container">
			<a class="logo__link" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }} rel="home">
				{{ with $logoImage -}}
					<div class="logo__item logo__imagebox">
						<img class="logo__img" src="{{ . | relURL }}">
					</div>
				{{- end -}}
				{{ with $logoTitle -}}
					<div class="logo__item logo__text">
						<div class="logo__title">{{ . }}</div>
						{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
					</div>
				{{- end }}
			</a>
		</div>
	</div>
{{- end }}