{{- if .Site.Menus.main }}
<nav class="menu">
	<div class="container-fluid">
		
		<!-- 
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="menu_list">
		-->
		 
		<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
			<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
		</button>
		
		
		<ul class="menu__list">
			{{- $currentNode := . }}
			{{- range .Site.Menus.main }}
			{{- if .Name }}
			<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
				<a class="menu__link" href="{{ .URL }}">
					{{ .Pre }}
					<span class="menu__text">{{ .Name }}</span>
					{{ .Post }}
				</a>
			</li>
			{{- end }}
			{{- end }}
			
			{{ "<!-- search -->" | safeHTML }}
			<form id ="form-sitesearch" class="form-inline position-relative ml-lg-4" 
			action="{{ "search" | absURL }}">
			  <input class="form-control px-0 w-100" autocomplete="off"
			  type="text" placeholder="Search" 
			  id="search-query" name="s" 
			  onfocus="this.value=''"/>
			  <button class="search-icon" type="submit" value="search"><i class="fa fa-search"></i></button>
			</form>
			
		</ul>
	</div>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}