---
title: "Kaggle May 2021"
author: "Helen Zhang"
date: '2021-05-01'
slug: []
categories: ["R"]
tags: ["Kaggle"]
description: "Kaggle playground May 2021"
lastmod: "2021-05-23"
thumbnail: ''
summary: 'Kaggle playground May 2021'

---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<p>kaggle playground May 2021, using data.table &amp; tidymodels &amp; h2o</p>
<p>The dataset is used for this competition is synthetic, but based on a real dataset and generated using a CTGAN.<br />
The original dataset deals with predicting the category on an eCommerce product given various attributes about the listing. Although the features are anonymized, they have properties relating to real-world features.</p>
<p>EDA<br />
- predicting the category, multi classification (51 features, 100k rows, predict class 1,2,3,4, key metrics logl)
- no missing value
- check table, more in class 2, 3
- check if any feature should be cate? all discrete value, no continous value
- check cor between predictors &amp; predictors between target, all discrete value</p>
<p>Linear discriminant analysis (LDA) is a classification algorithm where the set of predictor variables are assumed to follow a multivariate normal distribution with a common covariance matrix. As we saw in our lecture, this algorithm produces a linear decision boundary.</p>
<p>Since todymodels maps the first level to the positive class in all performance metrics functions, we do not need to recode the levels of this variable.</p>
<pre class="r"><code>train_df &lt;- fread(&#39;train.csv&#39;)

test_df &lt;- fread(&#39;test.csv&#39;)</code></pre>
<pre class="r"><code># skim(train)</code></pre>
<pre class="r"><code>train_df[,.N, by = target]</code></pre>
<pre><code>##     target     N
## 1: Class_2 57497
## 2: Class_1  8490
## 3: Class_4 12593
## 4: Class_3 21420</code></pre>
<p>add new features</p>
<pre class="r"><code>train_df &lt;- train_df %&gt;% mutate(f_min = pmap_int(train_df %&gt;% select(starts_with(&#39;feature&#39;)),min), 
                f_max =  pmap_int(train_df %&gt;% select(starts_with(&#39;feature&#39;)),max), 
                f_sum = rowSums(across(feature_0:feature_49)), 
                zero_occ = apply(train_df %&gt;% select(starts_with(&#39;feat&#39;)), 1, function(x){sum(ifelse(x==0,1,0))/50}))

head(train_df,10)</code></pre>
<pre><code>##     id feature_0 feature_1 feature_2 feature_3 feature_4 feature_5 feature_6
##  1:  0         0         0         1         0         1         0         0
##  2:  1         0         0         0         0         2         1         0
##  3:  2         0         0         0         0         0         0         0
##  4:  3         0         0         0         0         0         0         0
##  5:  4         0         0         0         0         0         0         0
##  6:  5         0         0         0         0         0         0         0
##  7:  6         0         0         0         1         0         0         0
##  8:  7         0         0         0         2         0         0         3
##  9:  8         0         1         0         0         0         0         0
## 10:  9         0         0         1         0         0         0         0
##     feature_7 feature_8 feature_9 feature_10 feature_11 feature_12 feature_13
##  1:         0         0         0          0          0          0          0
##  2:         0         0         0          0          0          0          0
##  3:         0         0         2          0          0          1          0
##  4:         3         0         0          0          0          0          1
##  5:         0         0         0          0          0          0          0
##  6:         0         0         0          2          1          0          0
##  7:         0         0         2         10          0          0          0
##  8:         0         0         6          0          3          0          0
##  9:         0        15         0          0          0          0          0
## 10:         0         1         1          0          0          2          0
##     feature_14 feature_15 feature_16 feature_17 feature_18 feature_19
##  1:          0          0          0          6          0          0
##  2:          0          3          0          3          0          0
##  3:          1          0          0          0          0          1
##  4:          7         11          1          0          3          1
##  5:          2          0          9          3          0          0
##  6:          0          0          0          0          0          0
##  7:          0          0          0          0          0          0
##  8:          1          0          0          0          4          0
##  9:          0          3          0          0          1          0
## 10:          0          1          0          0          0          0
##     feature_20 feature_21 feature_22 feature_23 feature_24 feature_25
##  1:          0          0          0          0          0          0
##  2:          0          0          0          0          0          0
##  3:          0          5          2          1          1          0
##  4:          0          0          0          0          0          0
##  5:          0          0          0          0          0          0
##  6:          0          2          0          0          0          0
##  7:          0          0          0          0          0          6
##  8:          0          0          0          0          0          0
##  9:          0          7          0          4          0          0
## 10:          0          1          0          0          1          2
##     feature_26 feature_27 feature_28 feature_29 feature_30 feature_31
##  1:          0          0          0          0          1          0
##  2:          0          0          0          0          0          0
##  3:          1          0          2          0          0          0
##  4:          0          0          1          0          1          0
##  5:          0          0          0          0          0          1
##  6:          0          0          0          0          0          0
##  7:          8          0          3          0          0          3
##  8:          0          0          1          0          0          0
##  9:          0          0         12          1          0          2
## 10:          0          0          3          0          0          0
##     feature_32 feature_33 feature_34 feature_35 feature_36 feature_37
##  1:          0          0          1          0          0          0
##  2:          2          0          0          0          0          0
##  3:          0         19          2          0          1          7
##  4:          0          0          1          0          0          0
##  5:          0          0          0          0          0          0
##  6:          0          0          0          0          0          0
##  7:          1          0          0          0          0          0
##  8:          0          1          3          0          0          0
##  9:          0          0          0          0          0          0
## 10:          0          0          1          0          0          1
##     feature_38 feature_39 feature_40 feature_41 feature_42 feature_43
##  1:          0          0          3          0          0         21
##  2:          0          0          0          0          0          0
##  3:          3          0          0          0          1          0
##  4:          4          0          0          0          0          0
##  5:          1          0          0          0          0          0
##  6:          0          0          0          0          0          0
##  7:          2          0          0          0          0          0
##  8:          8          0          0          0          1          0
##  9:          1          0          0          0          0          0
## 10:          6          0          2          1          0          0
##     feature_44 feature_45 feature_46 feature_47 feature_48 feature_49  target
##  1:          0          0          0          0          0          0 Class_2
##  2:          0          0          0          0          0          0 Class_1
##  3:          0          0          0         13          2          0 Class_1
##  4:          0          0          0          0          1          0 Class_4
##  5:          0          0          0          0          1          0 Class_2
##  6:          0          0          0          0          0          1 Class_2
##  7:          0          0          2          0          0          0 Class_1
##  8:          0          0          0          2          0          0 Class_2
##  9:          0          0          0          0          0          1 Class_2
## 10:          0          0          0          0          1          0 Class_4
##     f_min f_max f_sum zero_occ
##  1:     0    21    34     0.86
##  2:     0     3    11     0.90
##  3:     0    19    65     0.64
##  4:     0    11    35     0.76
##  5:     0     9    17     0.88
##  6:     0     2     6     0.92
##  7:     0    10    38     0.80
##  8:     0     8    35     0.76
##  9:     0    15    48     0.78
## 10:     0     6    25     0.70</code></pre>
<p>train model via caret</p>
<pre class="r"><code>set.seed(145)

train_test_split &lt;- createDataPartition(train_df$target, p = 0.75, list = FALSE)

train &lt;- train_df[train_test_split,]

test &lt;- train_df[-train_test_split,]</code></pre>
