---
title: TPS Aug 2021
author: Helen Zhang
date: '2021-08-07'
slug: ''
categories: 
  - R
tags: 
  - Kaggle
description: 'Kaggle TPS August 2021'
lastmod: "2021-08-29"
thumbnail: ''
summary:  'Kaggle TPS August 2021'
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="python"><code>import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split, RandomizedSearchCV, cross_val_score, KFold
from sklearn.preprocessing import Normalizer, PowerTransformer, RobustScaler
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, StackingRegressor, VotingRegressor
from sklearn.metrics import mean_squared_error

from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor

import optuna
from optuna import trial
from optuna.samplers import TPESampler</code></pre>
<pre class="python"><code>train_df = pd.read_csv(&#39;train.csv&#39;, index_col = &#39;id&#39;)
test_df = pd.read_csv(&#39;test.csv&#39;, index_col = &#39;id&#39;)</code></pre>
<p>X,y, train_test_split</p>
<pre class="python"><code># only sample 40% of the dataset, to reduce training time

train_df_sample = train_df.sample(frac = 0.4, random_state=1)
X = train_df_sample.iloc[:,:-1]
y = train_df_sample.iloc[:,-1].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 26)</code></pre>
<p>EDA</p>
<pre class="python"><code>train_eda = pd.concat([X_train.reset_index(), pd.DataFrame(y_train, columns = [&#39;loss&#39;])], axis =1).set_index(&#39;id&#39;)

train_eda.columns[train_eda.dtypes == &#39;int64&#39;]

for i in train_eda.columns[train_eda.dtypes == &#39;int64&#39;]:
  print(train_eda.loc[:,i].value_counts())</code></pre>
<p>preprocessing</p>
<p>cv folds</p>
<pre class="python"><code>train_folds = KFold(n_splits = 5)</code></pre>
<p>train models
- train the model by default hyperparameters
- set model params range/value set
- tune hyperparameters with cross validation
- RandomizedSearchCv
- optuna
- fit model on entire dataset, get metrics
- get prediction</p>
<ul>
<li>stacking, blending models</li>
<li>makepipelines</li>
</ul>
<pre class="python"><code>print(f&#39;xgb params: {XGBRegressor().get_params()}&#39;)
print(f&#39;lightgbm params: {LGBMRegressor().get_params()}&#39;)
print(f&#39;catboost params: {CatBoostRegressor().get_params()}&#39;)
print(f&#39;rf params: {RandomForestRegressor().get_params()}&#39;)</code></pre>
<p>set params range/value set sklearn
[]
np.arange(start, stop, step)
np.linspace(start, stop, num)
np.random.uniform(low, high, size)</p>
<p>set params range/ value set optuna
Suggest a value for the categorical parameter: suggest_categorical(name, choices)
Suggest a value for the discrete parameter: suggest_discrete_uniform(name, low, high, q)
Suggest a value for the floating point parameter: suggest_float(name, low, high, *[, step, log])
Suggest a value for the integer parameter: suggest_int(name, low, high[, step, log])
Suggest a value for the continuous parameter: suggest_loguniform(name, low, high)<br />
Suggest a value for the continuous parameter: suggest_uniform(name, low, high)</p>
<p>objective function &amp; study</p>
<pre class="python"><code>def xgb_fit(trial):
  params = {&#39;n_estimators&#39;:trial.suggest_int(&#39;n_estimators&#39;, 100, 1000),
    &#39;learning_rate&#39;: trial.suggest_uniform(&#39;learning_rate&#39;, 0.002, 0.5),
    &#39;colsample_bytree&#39;: trial.suggest_uniform(&#39;colsample_bytree&#39;, 0.4,1),
    &#39;max_depth&#39;: trial.suggest_int(&#39;max_deth&#39;, 10, 40)}
  
  model = XGBRegressor(**params, random_state = 35)
  
  score = cross_val_score(model, X_train, y_train, cv = train_folds, n_jobs = 1, verbose =1, scoring = &#39;neg_mean_squared_error&#39;)
  rmse = np.sqrt(-score.mean())
  
  return rmse</code></pre>
<pre class="python"><code>study = optuna.create_study(direction=&#39;minimize&#39;, sampler=TPESampler(seed = 84))
study.optimize(xgb_fit, n_trials=20)</code></pre>
<pre class="python"><code>def lgbm_fit(trial):
  learning_rate = trial.suggest_uniform(&#39;learning_rate&#39;, 0.002, 0.1)
  max_depth = trial.suggest_int(&#39;max_deth&#39;, 10 , 40)
  n_estimators = trial.suggest_int(&#39;n_estimators&#39;, 100 , 1000)
  subsample = trial.suggest_uniform(&#39;subsample&#39;, 0.5 , 1.0)
  colsample_bytree = trial.suggest_loguniform(&#39;colsample_bytree&#39;, 0.4 , 1)

  model = LGBMRegressor(metric = &#39;rmse&#39;, 
                        learning_rate = learning_rate, 
                        max_depth = max_depth, 
                        n_estimators = n_estimators,
                        subsample = subsample, 
                        colsample_bytree = colsample_bytree, 
                        random_state = 293)
  
  score = cross_val_score(model, X_train, y_train, n_jobs=4, cv=train_folds, verbose=1, scoring=&#39;neg_mean_squared_error&#39;)
  rmse = np.sqrt(-score.mean())
  return rmse</code></pre>
<pre class="r"><code>library(lightgbm)
library(xgboost)
library(catboost)
library(treesnip)

library(readr)
library(dplyr)
library(tidyr)
library(stringr)
library(lubridate)
library(tidymodels)
library(finetune)
library(furrr)
library(textrecipes)
library(tictoc)
library(skimr)
library(GGally)
library(vip)</code></pre>
<p>target: predict loss
evaluation: RMSE (between muticlass vs regression)</p>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;)

train_df &lt;- train_df %&gt;% sample_frac(size = 0.2)

test_df &lt;- read_csv(&#39;test.csv&#39;)</code></pre>
<p>EDA</p>
<pre class="r"><code>skim(train_df)</code></pre>
<p>split dataset</p>
<pre class="r"><code>set.seed(72)

train_test_split &lt;- initial_split(train_df, strata = loss)
train &lt;- training(train_test_split)
test &lt;- testing(train_test_split)

train_folds &lt;- train %&gt;% vfold_cv(v = 5, strata = loss)</code></pre>
<pre class="r"><code>colnames(train)</code></pre>
<pre class="r"><code>library(corrr)

train %&gt;% 
  select(xxx) %&gt;%
  correlate() %&gt;%
  rearrange() %&gt;%
  shave() %&gt;%
  rplot(shape = 15, color = c(&#39;darkcyan&#39;,&#39;white&#39;,&#39;orange&#39;)) %&gt;%
  theme_plex()</code></pre>
<pre class="r"><code>train_rec &lt;- recipe(loss ~., data = train) %&gt;%
  update_role(id, new_role = &#39;id&#39;) %&gt;%
  step_normalize(all_numeric(), -loss)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

skim(train_prep)</code></pre>
<p>cat boost &amp; tune_race_anova</p>
<pre class="r"><code>cat_spec &lt;- boost_tree(mtry = tune(),
                       trees = tune(),
                       min_n = tune(),
                       learn_rate = tune(),
                       sample_size = tune(), 
                       tree_depth = tune()) %&gt;%
  set_engine(&#39;catboost&#39;) %&gt;%
  set_mode(&#39;regression&#39;)

cat_spec

cat_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(cat_spec)

cat_wflow</code></pre>
<p>cat_params</p>
<pre class="r"><code>cat_params &lt;- cat_spec %&gt;%
  parameters() %&gt;%
  update(mtry = finalize(mtry(), train_prep[,-2]), 
         trees = value_set(trees(), c(100,500,1000)),
         sample_size = range_set(sample_prop(), c(0.3, 1)))

cat_params

cat_params$object</code></pre>
<p>cat_grid</p>
<pre class="r"><code>set.seed(123)

# cat_grid &lt;-
#   grid_max_entropy(
#     cat_params,
#     size = 20)

# cat_grid

cat_grid &lt;- grid_random(cat_params, size = 20)

cat_grid</code></pre>
<pre class="r"><code>set.seed(562)

cat_res &lt;- cat_wflow %&gt;% tune_race_anova(
  resamples = train_folds,
  grid = cat_grid,
  metrics = metric_set(rmse),
  control = control_race(verbose = TRUE, save_pred = TRUE))</code></pre>
