---
title: Sliced S01E05
author: Helen Zhang
date: '2021-06-30'
slug: ''
categories: 
  - R
tags: 
  - Kaggle
description: 'SLICED s01e05'
lastmod: "2021-08-29"
thumbnail: ''
summary: 'SLICED s01e05'
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>library(lightgbm)
library(xgboost)
library(catboost)
library(treesnip)

library(readr)
library(dplyr)
library(tidyr)
library(stringr)
library(tidymodels)
library(textrecipes)
library(tictoc)
library(skimr)
library(GGally)
library(vip)</code></pre>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;% mutate(price = log1p(price))

test_df &lt;- read_csv(&#39;test.csv&#39;)</code></pre>
<p>initial split</p>
<pre class="r"><code>set.seed(46)

train_test_split &lt;- initial_split(train_df)

train &lt;- training(train_test_split)

test &lt;- testing(train_test_split)</code></pre>
<pre class="r"><code>colnames(train)</code></pre>
<pre class="r"><code>train %&gt;% ggplot(aes(x = longitude, y = latitude)) +
  geom_point(aes(color = price), alpha = 0.5) +
  scale_color_distiller(palette = &#39;Oranges&#39;)</code></pre>
<pre class="r"><code>train %&gt;% ggplot(aes(x = longitude, y = latitude)) +
  stat_summary_hex(aes(z = price), bins = 70) +
  scale_fill_viridis_c()</code></pre>
<pre class="r"><code>train_rec &lt;- recipe(price ~., data = train) %&gt;%
  update_role(id, new_role = &#39;id&#39;) %&gt;%
  # step_tokenize(name) %&gt;%
  # step_tokenfilter(name, max_tokens = 20) %&gt;%
  # step_tf(name) %&gt;%
  step_mutate(last_review = ifelse(is.na(last_review), median(train$last_review, na.rm = TRUE), last_review)) %&gt;%
  step_mutate(last_review = as.Date(last_review, origin = &#39;1970-01-01&#39;), 
              availability_365 = availability_365/365) %&gt;%
  step_date(last_review) %&gt;%
  step_mutate(reviews_per_month = ifelse(is.na(reviews_per_month),0, reviews_per_month)) %&gt;%
  step_rm(host_id, host_name, neighbourhood, name) %&gt;%
  step_string2factor(neighbourhood_group, room_type)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)


skim(train_prep)


# View(train)

# train %&gt;% unnest_tokens(word, name) %&gt;%
#   select(id, word)
# 
# text_df %&gt;%
#   unnest_tokens(word, text)</code></pre>
<p>train folds</p>
<pre class="r"><code>set.seed(482)

train_folds &lt;- vfold_cv(train, v = 5)</code></pre>
<p>rand forest spec</p>
<pre class="r"><code>set.seed(49)

rf_spec &lt;- rand_forest(trees = 1000, mtry = tune(), min_n = tune()) %&gt;%
  set_engine(&#39;ranger&#39;, verbose = 1, importance = &quot;permutation&quot;, local.importance = TRUE) %&gt;%
  set_mode(&#39;regression&#39;)

rf_spec</code></pre>
<pre class="r"><code>rf_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(rf_spec)

rf_wflow

rf_params &lt;- parameters(rf_wflow) %&gt;%
  finalize(train_prep)

rf_params</code></pre>
<p>mtry 4, min_n 14</p>
