---
title: ggplot2 facet title by labeller
author: Helen Zhang
date: '2021-05-03'
slug: []
categories:
  - R
tags: 
  - ggplot2
summary: 'facet title'
lastmod: "2021-05-04 19:22:42"
thumbnail: ''
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>library(palmerpenguins)</code></pre>
<pre><code>## Warning: package &#39;palmerpenguins&#39; was built under R version 4.0.4</code></pre>
<pre class="r"><code>test_df &lt;- penguins

# remove NA rows, add correlation by group

test_df &lt;- test_df[complete.cases(test_df),]

test_df</code></pre>
<pre><code>## # A tibble: 333 x 8
##    species island bill_length_mm bill_depth_mm flipper_length_~ body_mass_g
##    &lt;fct&gt;   &lt;fct&gt;           &lt;dbl&gt;         &lt;dbl&gt;            &lt;int&gt;       &lt;int&gt;
##  1 Adelie  Torge~           39.1          18.7              181        3750
##  2 Adelie  Torge~           39.5          17.4              186        3800
##  3 Adelie  Torge~           40.3          18                195        3250
##  4 Adelie  Torge~           36.7          19.3              193        3450
##  5 Adelie  Torge~           39.3          20.6              190        3650
##  6 Adelie  Torge~           38.9          17.8              181        3625
##  7 Adelie  Torge~           39.2          19.6              195        4675
##  8 Adelie  Torge~           41.1          17.6              182        3200
##  9 Adelie  Torge~           38.6          21.2              191        3800
## 10 Adelie  Torge~           34.6          21.1              198        4400
## # ... with 323 more rows, and 2 more variables: sex &lt;fct&gt;, year &lt;int&gt;</code></pre>
<div id="use-labeller-to-update-facet-title" class="section level5">
<h5>use labeller to update facet title</h5>
<p>the order of the facet is determined by the order of the levels of the selected column</p>
<p>main functions:<br />
labeller: labeller(…, .rows = NULL, .cols = NULL, keep.as.numeric = NULL, .multi_line = TRUE, .default = label_value)</p>
<ul>
<li><p>label_value(labels, multi_line = TRUE), only displays the value of a factor</p></li>
<li><p>label_both(labels, multi_line = TRUE, sep = “:”)</p></li>
<li><p>label_context(labels, multi_line = TRUE, sep = “:”)</p></li>
<li><p>label_parsed(labels, multi_line = TRUE)</p></li>
<li><p>label_wrap_gen(width = 25, multi_line = TRUE)<br />
as_labeller: as_labeller(x, default = label_value, multi_line = TRUE)<br />
labels: Data frame of labels. Usually contains only one element, but faceting over multiple factors entails multiple label variables<br />
forcat functions:<br />
factor(x = character(), levels, labels = levels, exclude = NA, ordered = is.ordered(x), nmax = NA))</p></li>
<li><p>fct_relevel()</p></li>
<li><p>fct_recode()</p></li>
<li><p>fct_relabel()</p></li>
</ul>
</div>
<div id="single-variable" class="section level5">
<h5>single variable</h5>
</div>
<div id="q1-facet-title-per-value-from-the-dataframe" class="section level5">
<h5>Q1 facet title per value from the dataframe</h5>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-3-1.png" width="672" />
##### Q2 facet title per value from the dataframe &amp; calculated correlation value
- display value, multiple lines</p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor, labeller = label_parsed)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-4-2.png" width="672" />
- display value, single line</p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor, labeller = labeller(.multi_line = FALSE))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-5-1.png" width="672" />
- display label &amp; value, multiple lines</p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor, labeller = label_both)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-6-1.png" width="672" /></p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor, labeller = label_context)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-6-2.png" width="672" />
- display label &amp; value, single line</p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor, labeller = as_labeller(label_both, multi_line = FALSE))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-7-1.png" width="672" /></p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor, labeller = as_labeller(label_context, multi_line = FALSE))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-7-2.png" width="672" />
##### Q3 assign facet title manually
- create a calculated column in the dataframe and facet via the calculated column</p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2), 
         facet_title = paste0(&#39;year: &#39;,as.character(year), &#39;, cor: &#39;, b_m_cor)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ facet_title)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-8-1.png" width="672" />
- manually recode, relevel factor to update the label</p>
<ul>
<li>create a named vector (new vector &amp; name of the vector is the levels of the factor to be replaced), assign the facet title as named vector. i.e. created a lookup, reference the default label value to the new label value<br />
(labeller can also be a named character vector, need to wrap the character vector in the labeller function)</li>
</ul>
<pre class="r"><code>itemlabel &lt;- c(&#39;year 2007&#39;, &#39;year 2008&#39;, &#39;year 2009&#39;)

names(itemlabel) &lt;- levels(factor(test_df$year))

test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor, labeller = labeller(year = itemlabel))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-10-1.png" width="672" /></p>
<pre class="r"><code>test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year + b_m_cor, labeller = labeller(year = itemlabel, .multi_line = FALSE))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-10-2.png" width="672" /></p>
<ul>
<li>manually assign value to the facet title by function, then evoke the function via as_labeller</li>
</ul>
<pre class="r"><code># for each facet, get the b_m_cor

test_cor_df &lt;- test_df %&gt;% group_by(year) %&gt;%
  summarise(b_m_cor = round(cor(bill_length_mm, body_mass_g),2), .groups = &#39;drop&#39;)

itemlabel_func &lt;- function(x){paste0(&#39;year_&#39;, x, &#39;_&#39;, test_cor_df %&gt;% filter(year == x) %&gt;% pull(b_m_cor))}

test_df %&gt;% group_by(year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ year, labeller = as_labeller(itemlabel_func))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-11-1.png" width="672" />
##### multiple variables<br />
##### Q4 facet title per value from the dataframe</p>
<pre class="r"><code># factor column and int column

test_df %&gt;% group_by(species, year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ species + year)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-12-1.png" width="672" /></p>
<pre class="r"><code>test_df %&gt;% group_by(species, year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_grid(species ~ year)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-12-2.png" width="672" /></p>
<pre class="r"><code>test_df %&gt;% group_by(species, year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ species + year, labeller = labeller(.multi_line = FALSE))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-12-3.png" width="672" /></p>
</div>
<div id="q5-facet-title-per-value-from-the-dataframe-cor-value" class="section level5">
<h5>Q5 facet title per value from the dataframe &amp; cor value</h5>
<ul>
<li>value only</li>
</ul>
<pre class="r"><code>test_df %&gt;% group_by(species, year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ species + year + b_m_cor)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-13-1.png" width="672" /></p>
<pre class="r"><code>test_df %&gt;% group_by(species, year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ species + year + b_m_cor, labeller = labeller(.multi_line = FALSE))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-13-2.png" width="672" /></p>
<ul>
<li>label &amp; value, multiple lines</li>
</ul>
<pre class="r"><code>test_df %&gt;% group_by(species, year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ species + year + b_m_cor, labeller = label_context)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-14-1.png" width="672" /></p>
<pre class="r"><code>test_df %&gt;% group_by(species, year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ species + year + b_m_cor, labeller = label_both)</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-14-2.png" width="672" />
- label &amp; value, single line</p>
<p>The result does NOT depend on whether or how the data itself are sorted, but rather on how the levels of the factors in the data are sorted</p>
</div>
<div id="q6-assign-facet-title-manually" class="section level5">
<h5>Q6 assign facet title manually</h5>
<pre class="r"><code>itemlabel_year &lt;- c(&#39;year 2007&#39;, &#39;year 2008&#39;, &#39;year 2009&#39;)
names(itemlabel_year) &lt;- levels(factor(test_df$year))

itemlabel_species &lt;- c(&#39;Adelie_test&#39;, &#39;Chinstrap_be&#39;, &#39;Gentoo_ekd&#39;)
names(itemlabel_species) &lt;- levels(factor(test_df$species))

test_df %&gt;% group_by(species, year) %&gt;%
  mutate(b_m_cor = round(cor(bill_length_mm, body_mass_g),2)) %&gt;%
  ggplot(aes(x = bill_length_mm, y = body_mass_g)) +
  geom_point() +
  geom_smooth(method = lm) +
  facet_wrap(~ species + year + b_m_cor, 
             labeller = labeller(species = itemlabel_species, year = itemlabel_year, .multi_line = FALSE))</code></pre>
<pre><code>## `geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<p><img src="{{< blogdown/postref >}}index.en_files/figure-html/unnamed-chunk-15-1.png" width="672" /></p>
</div>
