{{- $tags := .Site.Taxonomies.tags }}
{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget">
	<!--<h4 class="widget__title">{{ T "tags_title" }}</h4>-->
	<h4 class="widget__title">tags 🏷️️</h4>
	<div class="widget__content">
	{{- range $name, $taxonomy := $tags }}
		{{- with $.Site.GetPage (printf "/tags/%s" $name) }}
		<a class="widget-taglist__link widget__link btn" href="{{ .RelPermalink }}" title="{{ .Title }}">
			{{- .Title -}}{{- if .Site.Params.widgets.tags_counter }} ({{ $taxonomy.Count }}){{ end -}}
		</a>
		{{- end }}
	{{- end }}
	</div>
</div>
{{- end }}