---
title: Set up virtual environment for Python project
author: Helen Zhang
date: '2021-06-19'
slug: []
categories: ["Python"]
tags: ["venv"]
description: "Working with standard library venv in Python to build and manage virtual environment."
lastmod: "2021-06-19"
thumbnail: ''
summary: "Working with standard library venv in Python to build and manage virtual environment."
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>library(reticulate)</code></pre>
<div id="why-use-virtual-environment" class="section level5">
<h5>Why use virtual environment?</h5>
<p>To have a space where can install packages which are specific to a certain project.</p>
<p>global environment path: C:Files</p>
<p>project envrionment path: C:</p>
<p>roaming path: C:</p>
<p>cmd
python -m venv name_venv
C:</p>
<p>name_venv.bat
where python
pip list</p>
<p>can save environment specific packages in a xxx.txt file
(name_venv) pip freeze</p>
<p>(name_venv) deactivate</p>
<p>make/delete folder in cmd
rmdir name_venv /s</p>
<p>mkdir name_venv</p>
<p>python -m venv name_venv
name_venv.bat</p>
<p>install all packages from the xxx.txt file
pip install -r xxx.txt</p>
<p>access the global packages</p>
</div>
