---
title: SLICED S01E06
author: Helen Zhang
date: '2021-07-07'
slug: ''
categories: 
  - R
tags: 
  - Kaggle
description: 'SLICED S01E06'
lastmod: "2021-08-29"
thumbnail: ''
summary: 'SLICED S01E06'
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>library(lightgbm)
library(xgboost)
library(catboost)
library(treesnip)

library(readr)
library(dplyr)
library(tidyr)
library(stringr)
library(lubridate)
library(tidymodels)
library(furrr)
library(textrecipes)
library(tictoc)
library(skimr)
library(GGally)
library(vip)</code></pre>
<p>to predict the rank (Game, Rank)
accuracy</p>
<p>Rank is determined by Hours_watched, where the most Hours_watched is Rank 1 for the given month + year
so is to predict Hours_watched? regression</p>
<p>predit for 1 month</p>
<p>for each of the game, predict the Hours_watched…..</p>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;% 
  mutate(Stream_Month = ymd(paste(Year,Month,&#39;1&#39;, sep = &#39;-&#39;)), 
         Hours_watched = log10(Hours_watched))

test_df &lt;- read_csv(&#39;test.csv&#39;) %&gt;% mutate(Stream_Month = ymd(paste(Year,Month,&#39;1&#39;, sep = &#39;-&#39;)))

test_df

View(train_df)
View(test_df)

setdiff(test_df$Game, train_df$Game)

setdiff(train_df$Game, test_df$Game)

min(train_df$Stream_Month)
max(train_df$Stream_Month)

min(test_df$Stream_Month)
max(test_df$Stream_Month)

# there are game in test, but in train..</code></pre>
<p>initial split</p>
<p>has missing value in 2016-1, drop</p>
<pre class="r"><code>min(train$Stream_Month)
max(train$Stream_Month)

min(test$Stream_Month)
max(test$Stream_Month)

train_df %&gt;% group_by(Stream_Month) %&gt;% tally()

train_df %&gt;% filter(Year == 2016 &amp; Month == 1)

# number of games

train_df %&gt;% group_by(Game) %&gt;% tally() %&gt;% arrange(desc(n))

unique(train_df$Game) %&gt;% length()

# 1605 games
# 2016-01-01 to 2020-04-01
# has missing value

train_df %&gt;% filter(Stream_Month &lt;&#39;2021-4-1&#39;) %&gt;% n()

train_df %&gt;% filter(Stream_Month &gt;=&#39;2021-4-1&#39;) %&gt;% n()

train_df %&gt;% select(Hours_watched) %&gt;% arrange(Hours_watched)

train_prep %&gt;% select(Peak_channels) %&gt;% arrange(Peak_channels)</code></pre>
<pre class="r"><code>colnames(train_prep)</code></pre>
<pre class="r"><code>set.seed(456)

train_test_split &lt;- initial_split(train_df, strata = Rank)

train &lt;- training(train_test_split)

test &lt;- testing(train_test_split)</code></pre>
<p>EDA</p>
<ul>
<li>all numeric</li>
</ul>
<pre class="r"><code>View(train)

skim(train)</code></pre>
<p>Game: contains category?
Hours_watched: Number of total hours people have watched a given game in the month + year
Hours_Streamed: Number of total hours streamers have streamed a given game in the month + year
Peak_viewers: Max amount of viewers watching a given game in the month + year
Peak_channels: Max amount of channels streaming a given game in the month + year
Streamers: Number of streamers who streamed a given game in the month + year
Avg_viewer_ratio: The average viewers watching a given game divided by the average channels streaming a given game, both in the same month + year</p>
<pre class="r"><code>train %&gt;% ggplot(aes(x = Stream_Month, y = Hours_watched)) +
  geom_line()


train %&gt;% ggplot(aes(x = Stream_Month, y = Hours_Streamed)) +
  geom_line()</code></pre>
<p>all correlated, some non linear</p>
<pre class="r"><code>train %&gt;% select(-Game, -Stream_Month, -Month, -Year,-Rank) %&gt;%
  ggpairs() +
  scale_x_log10() +
  scale_y_log10()</code></pre>
<p>visual ranks</p>
<pre class="r"><code>train %&gt;% arrange(Stream_Month, Rank) %&gt;%
  group_by(Stream_Month) %&gt;%
  filter(Rank &lt;= 5) %&gt;%
  ggplot(aes(x = Game, y = Rank)) +
  geom_col() +
  coord_flip() +
  facet_wrap(~Stream_Month) +
  theme(text = element_text(size=9))

colnames(train)</code></pre>
<pre class="r"><code>train_rec &lt;- recipe(Hours_watched ~.,data = train) %&gt;%
  step_log(Hours_Streamed, Peak_viewers, Peak_channels, Streamers, Avg_viewer_ratio, offset = 1) %&gt;%
  step_rm(Stream_Month, Game, Rank)

  # step_tokenize(Game) %&gt;%
  # step_stopwords(Game) %&gt;%
  # step_tokenfilter(Game, max_tokens = 30) %&gt;%
  # step_tf(Game)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

train_prep

sum(sapply(train_prep, is.na))</code></pre>
<pre class="r"><code>set.seed(89)

train_folds &lt;- vfold_cv(train, v = 5)</code></pre>
<p>rf spec</p>
<pre class="r"><code>rf_spec &lt;- rand_forest(
  trees = tune(),
  mtry = tune(),
  min_n = tune()) %&gt;% 
  set_mode(&#39;regression&#39;) %&gt;%
  set_engine(&#39;ranger&#39;, verbose = 1, importance = &quot;permutation&quot;, local.importance = TRUE)

rf_spec

rf_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(rf_spec)

rf_wflow

rf_params &lt;- rf_spec %&gt;% parameters() %&gt;% finalize(train_prep %&gt;% select(-Hours_watched))

rf_grid &lt;- grid_random(
  trees() %&gt;% value_set(c(100,500,1000)),
  min_n(),
  mtry() %&gt;% range_set(c(1,7)),
  size = 20)

rf_grid
 
rf_res &lt;- rf_wflow %&gt;% tune_grid(
  resamples = train_folds,
  grid = rf_grid,
  control = control_grid(save_pred = TRUE, verbose = TRUE))

rf_res %&gt;% collect_metrics()

rf_res %&gt;% autoplot()

rf_wflow_final &lt;- rf_wflow %&gt;% 
  finalize_workflow(rf_res %&gt;% select_best(&#39;rmse&#39;))

rf_lastfit &lt;- rf_wflow_final %&gt;% 
  last_fit(train_test_split)
  
rf_lastfit %&gt;% collect_metrics()

rf_fit &lt;- rf_wflow_final %&gt;% fit(train_df)
  
rf_pred &lt;- rf_fit %&gt;% predict(new_data = data.frame(test_df, Rank = 1))

sub_rank &lt;- bind_cols(Game = test_df$Game,Pred = rf_pred$.pred) %&gt;%
  arrange(desc(Pred)) %&gt;%
  mutate(Rank = row_number()) 

submission &lt;- test_df %&gt;%
  left_join(sub_rank, by = &#39;Game&#39;) %&gt;%
  select(Game, Rank) %&gt;%
  write_csv(&#39;d:\\SLICED.csv&#39;)</code></pre>
<pre class="r"><code>xgb_spec &lt;- boost_tree(
  trees = tune(),
  mtry = tune(),
  min_n= tune(),
  tree_depth = tune(),
  loss_reduction = tune(),
  learn_rate = tune(),
  stop_iter = 10) %&gt;%
  set_engine(&quot;xgboost&quot;, verbose = 1) %&gt;% 
  set_mode(&quot;regression&quot;)

xgb_spec

xgb_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;% 
  add_model(xgb_spec)

xgb_params &lt;- xgb_spec %&gt;% 
  parameters() %&gt;%
  finalize(train_prep %&gt;% select(-Hours_watched))

xgb_params

xgb_grid &lt;- grid_random(
  trees() %&gt;% value_set(c(100,500,1000)),
  min_n(),
  mtry() %&gt;% range_set(c(1,7)),
  tree_depth(),
  loss_reduction(),
  learn_rate(),
  size = 20)

xgb_grid

xgb_res &lt;- xgb_wflow %&gt;% tune_grid(
  resamples = train_folds,
  grid = xgb_grid,
  metrics = metric_set(rmse, rsq),
  control = control_grid(save_pred = TRUE)
)

xgb_res %&gt;% collect_metrics()

xgb_res %&gt;% autoplot()

xgb_res %&gt;% select_best(&#39;rmse&#39;)</code></pre>
<pre class="r"><code>set.seed(23)

xgb_res &lt;- xgb_wflow %&gt;% 
  tune_bayes(
  resamples = train_folds,
  param_info = xgb_params,
  initial = 7,
  iter = 30,
  metrics = metric_set(rmse),
  objective = conf_bound(kappa = 1),
  control = control_bayes(
    verbose = TRUE,
    no_improve = 10,
    seed = 123, 
    save_pred = TRUE)
)


xgb_res %&gt;% select_best()</code></pre>
