---
title: Kaggle April 2021
author: Helen Zhang
date: '2021-04-17'
lastmod: "Apr 24, 2021"
slug: []
categories: 
  - R
tags:
  - Kaggle
  - EDA
description: ''
thumbnail: ''
summary: 'Kaggle playground April 2021 Titanic'
---

<script src="{{< blogdown/postref >}}index.de_files/header-attrs/header-attrs.js"></script>


<p>Overview</p>
<p>The dataset is used for this competition is synthetic but based on a real dataset (in this case, the actual Titanic data!) and generated using a CTGAN. The statistical properties of this dataset are very similar to the original Titanic dataset, but there’s no way to “cheat” by using public labels for predictions.</p>
<p>load the data</p>
<p>split the dataset</p>
<ul>
<li>outcome: sample size?
<ul>
<li>numeric variables: need log transformation?</li>
<li>categorical variables: any imbalance?</li>
</ul></li>
</ul>
<pre class="r"><code>train_df %&gt;% select(Sex, Survived) %&gt;% table()</code></pre>
<pre><code>##         Survived
## Sex          0     1
##   female 12660 31226
##   male   44566 11548</code></pre>
<pre class="r"><code>train_df %&gt;% select(Sex, Survived) %&gt;% table() %&gt;% proportions()</code></pre>
<pre><code>##         Survived
## Sex            0       1
##   female 0.12660 0.31226
##   male   0.44566 0.11548</code></pre>
<pre class="r"><code>train_df %&gt;% select(Sex, Survived) %&gt;% table() %&gt;% proportions(margin = 1)</code></pre>
<pre><code>##         Survived
## Sex              0         1
##   female 0.2884747 0.7115253
##   male   0.7942047 0.2057953</code></pre>
<pre class="r"><code>train_df %&gt;% select(Sex, Survived) %&gt;% table() %&gt;% proportions(margin = 2)</code></pre>
<pre><code>##         Survived
## Sex              0         1
##   female 0.2212281 0.7300229
##   male   0.7787719 0.2699771</code></pre>
<pre class="r"><code>set.seed(123)
train_test_split &lt;- train_df %&gt;% initial_split(prop = 0.7, strata = Survived)
train &lt;- training(train_test_split)
  
test &lt;- testing(train_test_split)</code></pre>
<div id="eda-to-understand-the-dataset-transform-dataset-to-tidy-data" class="section level5">
<h5>EDA (to understand the dataset, transform dataset to ‘tidy data’)</h5>
</div>
<div id="part-1-quick-glance-of-the-dataset-and-answer-the-following-questions" class="section level5">
<h5>part 1, quick glance of the dataset and answer the following questions</h5>
<ul>
<li><p>what is the question/problem to solve?</p></li>
<li><p>classification? regression?</p></li>
<li><p>how many rows and columns? sample size?</p></li>
<li><p>any missing values?</p></li>
<li><p>varaibles data type?</p></li>
<li><p>outcome:</p>
<ul>
<li>numeric variables: need log transformation?</li>
<li>categorical variables: any imbalance?</li>
</ul></li>
<li><p>predictors:</p>
<ul>
<li>numeric variables:
<ul>
<li>basic summary statistics</li>
<li>distribution, skewness and kurtosis</li>
</ul></li>
<li>categorical variables: levels</li>
<li>character variables: preprocessing to transform to numeric/categorical variables?</li>
</ul></li>
<li><p>classification problem</p></li>
<li><p>5 character, 6 numeric, 1 outcome</p></li>
</ul>
<pre class="r"><code>glimpse(train)</code></pre>
<pre><code>## Rows: 70,001
## Columns: 12
## $ PassengerId &lt;dbl&gt; 0, 1, 3, 4, 5, 7, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, ~
## $ Survived    &lt;fct&gt; 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1~
## $ Pclass      &lt;dbl&gt; 1, 3, 3, 3, 2, 3, 1, 2, 1, 3, 3, 1, 2, 1, 3, 1, 1, 2, 3, 3~
## $ Name        &lt;chr&gt; &quot;Oconnor, Frankie&quot;, &quot;Bryan, Drew&quot;, &quot;Kramer, James&quot;, &quot;Bond,~
## $ Sex         &lt;chr&gt; &quot;male&quot;, &quot;male&quot;, &quot;male&quot;, &quot;male&quot;, &quot;male&quot;, &quot;female&quot;, &quot;male&quot;, ~
## $ Age         &lt;dbl&gt; NA, NA, 19, 25, 35, 6, 60, 50, 44, 57, 53, 43, 25, 61, 17,~
## $ SibSp       &lt;dbl&gt; 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1~
## $ Parch       &lt;dbl&gt; 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 4, 0, 0, 2, 0, 0, 1~
## $ Ticket      &lt;chr&gt; &quot;209245&quot;, &quot;27323&quot;, &quot;A. 10866&quot;, &quot;427635&quot;, &quot;13363&quot;, &quot;434426&quot;~
## $ Fare        &lt;dbl&gt; 27.14, 13.35, 13.04, 7.76, 6.71, 31.50, 31.50, 7.88, 28.40~
## $ Cabin       &lt;chr&gt; &quot;C12239&quot;, NA, NA, NA, NA, NA, &quot;A9055&quot;, NA, &quot;D6945&quot;, NA, NA~
## $ Embarked    &lt;chr&gt; &quot;S&quot;, &quot;S&quot;, &quot;S&quot;, &quot;S&quot;, &quot;S&quot;, &quot;S&quot;, &quot;S&quot;, &quot;Q&quot;, &quot;C&quot;, &quot;S&quot;, &quot;S&quot;, &quot;S&quot;~</code></pre>
<pre class="r"><code>summary(train)</code></pre>
<pre><code>##   PassengerId    Survived      Pclass          Name          
##  Min.   :    0   0:40059   Min.   :1.000   Length:70001      
##  1st Qu.:24974   1:29942   1st Qu.:1.000   Class :character  
##  Median :49924             Median :2.000   Mode  :character  
##  Mean   :49934             Mean   :2.109                     
##  3rd Qu.:74949             3rd Qu.:3.000                     
##  Max.   :99999             Max.   :3.000                     
##                                                              
##      Sex                 Age            SibSp            Parch       
##  Length:70001       Min.   : 0.08   Min.   :0.0000   Min.   :0.0000  
##  Class :character   1st Qu.:25.00   1st Qu.:0.0000   1st Qu.:0.0000  
##  Mode  :character   Median :39.00   Median :0.0000   Median :0.0000  
##                     Mean   :38.30   Mean   :0.3989   Mean   :0.4571  
##                     3rd Qu.:53.00   3rd Qu.:1.0000   3rd Qu.:1.0000  
##                     Max.   :87.00   Max.   :8.0000   Max.   :9.0000  
##                     NA&#39;s   :2281                                     
##     Ticket               Fare           Cabin             Embarked        
##  Length:70001       Min.   :  0.99   Length:70001       Length:70001      
##  Class :character   1st Qu.: 10.02   Class :character   Class :character  
##  Mode  :character   Median : 24.44   Mode  :character   Mode  :character  
##                     Mean   : 43.90                                        
##                     3rd Qu.: 33.51                                        
##                     Max.   :744.66                                        
##                     NA&#39;s   :96</code></pre>
<pre class="r"><code>str(train)</code></pre>
<pre><code>## tibble [70,001 x 12] (S3: tbl_df/tbl/data.frame)
##  $ PassengerId: num [1:70001] 0 1 3 4 5 7 11 13 14 15 ...
##  $ Survived   : Factor w/ 2 levels &quot;0&quot;,&quot;1&quot;: 2 1 1 2 1 2 1 2 2 2 ...
##  $ Pclass     : num [1:70001] 1 3 3 3 2 3 1 2 1 3 ...
##  $ Name       : chr [1:70001] &quot;Oconnor, Frankie&quot; &quot;Bryan, Drew&quot; &quot;Kramer, James&quot; &quot;Bond, Michael&quot; ...
##  $ Sex        : chr [1:70001] &quot;male&quot; &quot;male&quot; &quot;male&quot; &quot;male&quot; ...
##  $ Age        : num [1:70001] NA NA 19 25 35 6 60 50 44 57 ...
##  $ SibSp      : num [1:70001] 2 0 0 0 0 1 0 0 0 0 ...
##  $ Parch      : num [1:70001] 0 0 0 0 0 2 0 0 1 0 ...
##  $ Ticket     : chr [1:70001] &quot;209245&quot; &quot;27323&quot; &quot;A. 10866&quot; &quot;427635&quot; ...
##  $ Fare       : num [1:70001] 27.14 13.35 13.04 7.76 6.71 ...
##  $ Cabin      : chr [1:70001] &quot;C12239&quot; NA NA NA ...
##  $ Embarked   : chr [1:70001] &quot;S&quot; &quot;S&quot; &quot;S&quot; &quot;S&quot; ...</code></pre>
<pre class="r"><code>describe(train)</code></pre>
<pre><code>##             vars     n     mean       sd   median  trimmed      mad  min
## PassengerId    1 70001 49934.20 28866.18 49924.00 49925.70 37050.17 0.00
## Survived*      2 70001     1.43     0.49     1.00     1.41     0.00 1.00
## Pclass         3 70001     2.11     0.84     2.00     2.14     1.48 1.00
## Name*          4 70001 33062.61 18989.73 32986.00 33098.98 24440.66 1.00
## Sex*           5 70001     1.56     0.50     2.00     1.57     0.00 1.00
## Age            6 67720    38.30    18.33    39.00    38.84    20.76 0.08
## SibSp          7 70001     0.40     0.87     0.00     0.21     0.00 0.00
## Parch          8 70001     0.46     0.96     0.00     0.25     0.00 0.00
## Ticket*        9 66724 26070.91 16491.34 25747.00 25844.66 21061.82 1.00
## Fare          10 69905    43.90    69.60    24.44    27.25    20.65 0.99
## Cabin*        11 22377  9814.18  5593.55  9877.00  9810.24  7051.25 1.00
## Embarked*     12 69825     2.50     0.83     3.00     2.63     0.00 1.00
##                  max    range  skew kurtosis     se
## PassengerId 99999.00 99999.00  0.00    -1.20 109.10
## Survived*       2.00     1.00  0.29    -1.91   0.00
## Pclass          3.00     2.00 -0.21    -1.54   0.00
## Name*       65641.00 65640.00 -0.01    -1.20  71.77
## Sex*            2.00     1.00 -0.24    -1.94   0.00
## Age            87.00    86.92 -0.15    -0.80   0.07
## SibSp           8.00     8.00  3.77    21.41   0.00
## Parch           9.00     9.00  3.58    21.08   0.00
## Ticket*     55543.00 55542.00  0.07    -1.25  63.84
## Fare          744.66   743.67  3.93    19.69   0.26
## Cabin*      19762.00 19761.00 -0.01    -1.15  37.39
## Embarked*       3.00     2.00 -1.16    -0.56   0.00</code></pre>
<pre class="r"><code>skim(train)</code></pre>
<table>
<caption><span id="tab:unnamed-chunk-5">Table 1: </span>Data summary</caption>
<tbody>
<tr class="odd">
<td align="left">Name</td>
<td align="left">train</td>
</tr>
<tr class="even">
<td align="left">Number of rows</td>
<td align="left">70001</td>
</tr>
<tr class="odd">
<td align="left">Number of columns</td>
<td align="left">12</td>
</tr>
<tr class="even">
<td align="left">_______________________</td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">Column type frequency:</td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">character</td>
<td align="left">5</td>
</tr>
<tr class="odd">
<td align="left">factor</td>
<td align="left">1</td>
</tr>
<tr class="even">
<td align="left">numeric</td>
<td align="left">6</td>
</tr>
<tr class="odd">
<td align="left">________________________</td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">Group variables</td>
<td align="left">None</td>
</tr>
</tbody>
</table>
<p><strong>Variable type: character</strong></p>
<table>
<thead>
<tr class="header">
<th align="left">skim_variable</th>
<th align="right">n_missing</th>
<th align="right">complete_rate</th>
<th align="right">min</th>
<th align="right">max</th>
<th align="right">empty</th>
<th align="right">n_unique</th>
<th align="right">whitespace</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Name</td>
<td align="right">0</td>
<td align="right">1.00</td>
<td align="right">7</td>
<td align="right">26</td>
<td align="right">0</td>
<td align="right">65641</td>
<td align="right">0</td>
</tr>
<tr class="even">
<td align="left">Sex</td>
<td align="right">0</td>
<td align="right">1.00</td>
<td align="right">4</td>
<td align="right">6</td>
<td align="right">0</td>
<td align="right">2</td>
<td align="right">0</td>
</tr>
<tr class="odd">
<td align="left">Ticket</td>
<td align="right">3277</td>
<td align="right">0.95</td>
<td align="right">1</td>
<td align="right">18</td>
<td align="right">0</td>
<td align="right">55543</td>
<td align="right">0</td>
</tr>
<tr class="even">
<td align="left">Cabin</td>
<td align="right">47624</td>
<td align="right">0.32</td>
<td align="right">5</td>
<td align="right">6</td>
<td align="right">0</td>
<td align="right">19762</td>
<td align="right">0</td>
</tr>
<tr class="odd">
<td align="left">Embarked</td>
<td align="right">176</td>
<td align="right">1.00</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">0</td>
<td align="right">3</td>
<td align="right">0</td>
</tr>
</tbody>
</table>
<p><strong>Variable type: factor</strong></p>
<table>
<thead>
<tr class="header">
<th align="left">skim_variable</th>
<th align="right">n_missing</th>
<th align="right">complete_rate</th>
<th align="left">ordered</th>
<th align="right">n_unique</th>
<th align="left">top_counts</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Survived</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="left">FALSE</td>
<td align="right">2</td>
<td align="left">0: 40059, 1: 29942</td>
</tr>
</tbody>
</table>
<p><strong>Variable type: numeric</strong></p>
<table style="width:100%;">
<colgroup>
<col width="10%" />
<col width="7%" />
<col width="10%" />
<col width="6%" />
<col width="6%" />
<col width="3%" />
<col width="6%" />
<col width="6%" />
<col width="6%" />
<col width="6%" />
<col width="29%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">skim_variable</th>
<th align="right">n_missing</th>
<th align="right">complete_rate</th>
<th align="right">mean</th>
<th align="right">sd</th>
<th align="right">p0</th>
<th align="right">p25</th>
<th align="right">p50</th>
<th align="right">p75</th>
<th align="right">p100</th>
<th align="left">hist</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">PassengerId</td>
<td align="right">0</td>
<td align="right">1.00</td>
<td align="right">49934.20</td>
<td align="right">28866.18</td>
<td align="right">0.00</td>
<td align="right">24974.00</td>
<td align="right">49924.00</td>
<td align="right">74949.00</td>
<td align="right">99999.00</td>
<td align="left">▇▇▇▇▇</td>
</tr>
<tr class="even">
<td align="left">Pclass</td>
<td align="right">0</td>
<td align="right">1.00</td>
<td align="right">2.11</td>
<td align="right">0.84</td>
<td align="right">1.00</td>
<td align="right">1.00</td>
<td align="right">2.00</td>
<td align="right">3.00</td>
<td align="right">3.00</td>
<td align="left">▆▁▆▁▇</td>
</tr>
<tr class="odd">
<td align="left">Age</td>
<td align="right">2281</td>
<td align="right">0.97</td>
<td align="right">38.30</td>
<td align="right">18.33</td>
<td align="right">0.08</td>
<td align="right">25.00</td>
<td align="right">39.00</td>
<td align="right">53.00</td>
<td align="right">87.00</td>
<td align="left">▃▇▇▆▁</td>
</tr>
<tr class="even">
<td align="left">SibSp</td>
<td align="right">0</td>
<td align="right">1.00</td>
<td align="right">0.40</td>
<td align="right">0.87</td>
<td align="right">0.00</td>
<td align="right">0.00</td>
<td align="right">0.00</td>
<td align="right">1.00</td>
<td align="right">8.00</td>
<td align="left">▇▁▁▁▁</td>
</tr>
<tr class="odd">
<td align="left">Parch</td>
<td align="right">0</td>
<td align="right">1.00</td>
<td align="right">0.46</td>
<td align="right">0.96</td>
<td align="right">0.00</td>
<td align="right">0.00</td>
<td align="right">0.00</td>
<td align="right">1.00</td>
<td align="right">9.00</td>
<td align="left">▇▁▁▁▁</td>
</tr>
<tr class="even">
<td align="left">Fare</td>
<td align="right">96</td>
<td align="right">1.00</td>
<td align="right">43.90</td>
<td align="right">69.60</td>
<td align="right">0.99</td>
<td align="right">10.02</td>
<td align="right">24.44</td>
<td align="right">33.51</td>
<td align="right">744.66</td>
<td align="left">▇▁▁▁▁</td>
</tr>
</tbody>
</table>
<pre class="r"><code># count na
is.na(train) %&gt;% sum()</code></pre>
<pre><code>## [1] 53454</code></pre>
<pre class="r"><code># return vector
#!complete.cases(train[,c(&#39;Fare&#39;)])

# na by col
# train %&gt;% sapply(function(x) sum(is.na(x)))
# train %&gt;% apply(2, function(x) sum(is.na(x)))
# train %&gt;% sapply(function(x) sum(!complete.cases(x)))

# na by row
# train %&gt;% apply(1, function(x) sum(!complete.cases(x)))
# 
# train %&gt;% apply(1, function(x) sum(!complete.cases(x))) %&gt;%
#   range()
# 
# train %&gt;% sapply(function(x) !complete.cases(x)) %&gt;%
#   apply(1, function(x) sum(x)/ncol(train))
# 
# train[train %&gt;% sapply(function(x) !complete.cases(x)) %&gt;%
#   apply(1, function(x) sum(x)/ncol(train)) &gt;0.1,]</code></pre>
</div>
<div id="part-2-a-quickhigh-level-preprocessing" class="section level5">
<h5>part 2, a quick/high level preprocessing</h5>
<ul>
<li><p>outcome:</p></li>
<li><p>numeric variables: need log transformation? then do it before recipe to avoid data leak</p></li>
<li><p>categorical variables:</p></li>
<li><p>predictors:</p></li>
<li><p>any mutate? split, string processing,
preprocessing character variables to transform to numeric/categorical variables?
drop any variables?
numeric to factor? character to factor? re-level? add order? vice versa
bin any continuous variables?
combine levels for categorical variables?</p></li>
<li><p>missing value imputation? mean, median, mode</p></li>
<li><p>any outliers (real value or just error input)?</p></li>
</ul>
</div>
<div id="part-3-univariate-analysis-plot-any-further-preprocessing-to-add" class="section level5">
<h5>part 3, univariate analysis, plot, any further preprocessing to add</h5>
<ul>
<li>able to find any patterns in character?</li>
<li>more preprocessing? split? string? date? create new variables/features?</li>
<li>plot:
<ul>
<li>numeric: histogram, density, density with bw</li>
<li>categorical: bar, tree-map</li>
<li>categorical, table, prop table</li>
</ul></li>
</ul>
</div>
<div id="part-4-biavariate-analysis-multivariate-analysis-plot-any-further-preprocessing-to-add" class="section level5">
<h5>part 4, biavariate analysis, multivariate analysis, plot, any further preprocessing to add?</h5>
<ul>
<li>numerical variables: need to normalize, center, scale? log, box cox, yeo johnson transformation?</li>
<li>categorical variables: need to dummy factors? remove any zero variances/ near zero variances?</li>
<li>plot
numeric: covariance, correlation coeffcient, z-score, scatter, scatter with fitted line, pairs
numeric vs numeric: scatterplot, cor
numeric vs categorical: boxplot
categorical vs categorical:</li>
</ul>
</div>
<div id="part-5-others" class="section level5">
<h5>part 5, others</h5>
<ul>
<li>model selections: linear reg, logistic reg, trees, random forest, xgboost, stack</li>
<li>need to fillful any assumptions?
i.e. for parametric test, need to be normal distribution, relatively large sample size, equal variances etc</li>
<li>get some ideas of which predictors may contribute to the outcome</li>
<li>feature importance?</li>
<li>pca? efa (exploratory factor analysis)? cfa (confirmatory factor anaysis)</li>
<li>outcome down sampling? up sampling?</li>
</ul>
</div>
<div id="recipe" class="section level5">
<h5>recipe</h5>
<pre class="r"><code># part 2 recipe, preprocessing
train_rec &lt;- recipe(Survived ~. , data = train) %&gt;%
  update_role(PassengerId, new_role = &#39;id&#39;) %&gt;%
  step_rm(Cabin) %&gt;%
  step_num2factor(Pclass, levels = c(&#39;Upper&#39;,&#39;Middle&#39;,&#39;Lower&#39;), ordered = TRUE) %&gt;%
  step_mutate(Ticket_num = str_extract(as.character(Ticket), regex(&#39;^\\d+|\\s{1}\\d+&#39;)),
              Ticket_oth = if_else(is.na(Ticket_num),
                                   Ticket,
                                   str_replace(Ticket, Ticket_num, &#39;&#39;))) %&gt;%
  step_mutate(Ticket_num = Ticket_num %&gt;% str_trim(),
              Ticket_oth = ifelse(str_length(Ticket_oth) &lt; 1,NA,Ticket_oth)) %&gt;%
  step_mutate(Fname = str_split(Name, &quot;,&quot;) %&gt;% map_chr(., 2), 
              Lname = str_split(Name, &quot;,&quot;) %&gt;% map_chr(., 1)) %&gt;%
  step_modeimpute(Embarked) %&gt;%
  step_medianimpute(Age, Fare) %&gt;%
  step_string2factor(Sex, Embarked)
  
train_prep &lt;- train_rec %&gt;% prep(strings_as_factors = FALSE)
train_juice &lt;- train_prep %&gt;% juice()</code></pre>
<pre class="r"><code># part 2 EDA, plot
# numeric variables: Age, SibSp, Parch, Fare

train_juice %&gt;% ggplot(aes(y = Age)) +
  geom_boxplot()</code></pre>
<p><img src="{{< blogdown/postref >}}index.de_files/figure-html/unnamed-chunk-8-1.png" width="672" /></p>
</div>
<div id="base-model" class="section level5">
<h5>Base model</h5>
<p>logistic regression</p>
<p>recipe</p>
<pre class="r"><code>train_rec &lt;- recipe(Survived ~. , data = train) %&gt;%
  update_role(PassengerId, new_role = &#39;id&#39;) %&gt;%
  step_rm(Cabin, Ticket, Name) %&gt;%
  step_modeimpute(Embarked) %&gt;%
  step_medianimpute(Age, Fare) %&gt;%
  step_mutate(SibSp = as.character(SibSp), 
              Parch = as.character(Parch),
              Pclass = as.character(Pclass)) %&gt;%
  step_string2factor(Sex, Embarked, SibSp, Parch, Pclass) %&gt;%
  step_log(Fare) %&gt;%
  step_normalize(Fare)
  
train_prep &lt;- train_rec %&gt;% prep(strings_as_factors = FALSE)
train_juice &lt;- train_prep %&gt;% juice()</code></pre>
<p>lm spec</p>
<pre class="r"><code>lm_spec &lt;- logistic_reg() %&gt;%
  set_mode(&#39;classification&#39;) %&gt;%
  set_engine(&#39;glm&#39;)</code></pre>
<p>set workflow</p>
<pre class="r"><code>lm_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(lm_spec)</code></pre>
<p>cross validation splits</p>
<pre class="r"><code>set.seed(456)

train_folds &lt;- train %&gt;% 
  vfold_cv(v = 5,
  strata = Survived)</code></pre>
<p>fit resamples and collect metrics</p>
<pre class="r"><code>lm_rs &lt;- lm_wflow %&gt;% 
  fit_resamples(
  resamples = train_folds,
  metrics = metric_set(roc_auc, accuracy, sensitivity, specificity), 
            control = control_grid(save_pred = TRUE))</code></pre>
<pre><code>## Warning: package &#39;rlang&#39; was built under R version 4.0.4</code></pre>
<pre><code>## 
## Attaching package: &#39;rlang&#39;</code></pre>
<pre><code>## The following objects are masked from &#39;package:purrr&#39;:
## 
##     %@%, as_function, flatten, flatten_chr, flatten_dbl, flatten_int,
##     flatten_lgl, flatten_raw, invoke, list_along, modify, prepend,
##     splice</code></pre>
<pre><code>## Warning: package &#39;vctrs&#39; was built under R version 4.0.4</code></pre>
<pre><code>## 
## Attaching package: &#39;vctrs&#39;</code></pre>
<pre><code>## The following object is masked from &#39;package:dplyr&#39;:
## 
##     data_frame</code></pre>
<pre><code>## The following object is masked from &#39;package:tibble&#39;:
## 
##     data_frame</code></pre>
<pre class="r"><code>lm_rs</code></pre>
<pre><code>## # Resampling results
## # 5-fold cross-validation using stratification 
## # A tibble: 5 x 5
##   splits               id    .metrics        .notes          .predictions       
##   &lt;list&gt;               &lt;chr&gt; &lt;list&gt;          &lt;list&gt;          &lt;list&gt;             
## 1 &lt;rsplit [56000/1400~ Fold1 &lt;tibble [4 x 4~ &lt;tibble [0 x 1~ &lt;tibble [14,001 x ~
## 2 &lt;rsplit [56000/1400~ Fold2 &lt;tibble [4 x 4~ &lt;tibble [0 x 1~ &lt;tibble [14,001 x ~
## 3 &lt;rsplit [56001/1400~ Fold3 &lt;tibble [4 x 4~ &lt;tibble [0 x 1~ &lt;tibble [14,000 x ~
## 4 &lt;rsplit [56001/1400~ Fold4 &lt;tibble [4 x 4~ &lt;tibble [0 x 1~ &lt;tibble [14,000 x ~
## 5 &lt;rsplit [56002/1399~ Fold5 &lt;tibble [4 x 4~ &lt;tibble [0 x 1~ &lt;tibble [13,999 x ~</code></pre>
<p>check metrics</p>
<pre class="r"><code>lm_rs %&gt;% collect_metrics()</code></pre>
<pre><code>## # A tibble: 4 x 6
##   .metric  .estimator  mean     n std_err .config             
##   &lt;chr&gt;    &lt;chr&gt;      &lt;dbl&gt; &lt;int&gt;   &lt;dbl&gt; &lt;chr&gt;               
## 1 accuracy binary     0.769     5 0.00144 Preprocessor1_Model1
## 2 roc_auc  binary     0.834     5 0.00140 Preprocessor1_Model1
## 3 sens     binary     0.821     5 0.00234 Preprocessor1_Model1
## 4 spec     binary     0.700     5 0.00163 Preprocessor1_Model1</code></pre>
<pre class="r"><code>lm_wflow %&gt;% last_fit(train_test_split) %&gt;% collect_metrics()</code></pre>
<pre><code>## # A tibble: 2 x 4
##   .metric  .estimator .estimate .config             
##   &lt;chr&gt;    &lt;chr&gt;          &lt;dbl&gt; &lt;chr&gt;               
## 1 accuracy binary         0.769 Preprocessor1_Model1
## 2 roc_auc  binary         0.835 Preprocessor1_Model1</code></pre>
<pre class="r"><code>lm_wflow %&gt;% last_fit(train_test_split) %&gt;% collect_predictions()</code></pre>
<pre><code>## # A tibble: 29,999 x 7
##    id              .pred_0 .pred_1  .row .pred_class Survived .config           
##    &lt;chr&gt;             &lt;dbl&gt;   &lt;dbl&gt; &lt;int&gt; &lt;fct&gt;       &lt;fct&gt;    &lt;chr&gt;             
##  1 train/test spl~   0.899   0.101     3 0           0        Preprocessor1_Mod~
##  2 train/test spl~   0.891   0.109     7 0           0        Preprocessor1_Mod~
##  3 train/test spl~   0.674   0.326     9 0           0        Preprocessor1_Mod~
##  4 train/test spl~   0.523   0.477    10 0           0        Preprocessor1_Mod~
##  5 train/test spl~   0.894   0.106    11 0           0        Preprocessor1_Mod~
##  6 train/test spl~   0.891   0.109    13 0           0        Preprocessor1_Mod~
##  7 train/test spl~   0.795   0.205    23 0           0        Preprocessor1_Mod~
##  8 train/test spl~   0.494   0.506    24 1           1        Preprocessor1_Mod~
##  9 train/test spl~   0.889   0.111    25 0           0        Preprocessor1_Mod~
## 10 train/test spl~   0.199   0.801    26 1           0        Preprocessor1_Mod~
## # ... with 29,989 more rows</code></pre>
<p>get model fit</p>
<pre class="r"><code>lm_fit &lt;- lm_wflow %&gt;%
  fit(data = train)

lm_fit</code></pre>
<pre><code>## == Workflow [trained] ==========================================================
## Preprocessor: Recipe
## Model: logistic_reg()
## 
## -- Preprocessor ----------------------------------------------------------------
## 7 Recipe Steps
## 
## * step_rm()
## * step_modeimpute()
## * step_medianimpute()
## * step_mutate()
## * step_string2factor()
## * step_log()
## * step_normalize()
## 
## -- Model -----------------------------------------------------------------------
## 
## Call:  stats::glm(formula = ..y ~ ., family = stats::binomial, data = data)
## 
## Coefficients:
## (Intercept)      Pclass2      Pclass3      Sexmale          Age       SibSp1  
##   1.8948749    0.1281353   -0.6865603   -1.9242316    0.0005361   -0.3228009  
##      SibSp2       SibSp3       SibSp4       SibSp5       SibSp8       Parch1  
##  -0.2290195   -0.2393797   -0.6184202   -0.6888765   -0.3233107    0.4228799  
##      Parch2       Parch3       Parch4       Parch5       Parch6       Parch9  
##  -0.2385876   -0.1949403   -0.6592350   -0.1531072   -0.9340500   -0.3825842  
##        Fare    EmbarkedQ    EmbarkedS  
##   0.2458324   -0.9364206   -1.1784231  
## 
## Degrees of Freedom: 70000 Total (i.e. Null);  69980 Residual
## Null Deviance:       95570 
## Residual Deviance: 69540     AIC: 69590</code></pre>
<pre class="r"><code>lm_fit %&gt;% summary()</code></pre>
<pre><code>##         Length Class      Mode   
## pre     2      stage_pre  list   
## fit     2      stage_fit  list   
## post    1      stage_post list   
## trained 1      -none-     logical</code></pre>
<pre class="r"><code>lm_fit %&gt;% pull_workflow_fit() %&gt;% glance()</code></pre>
<pre><code>## # A tibble: 1 x 8
##   null.deviance df.null  logLik    AIC    BIC deviance df.residual  nobs
##           &lt;dbl&gt;   &lt;int&gt;   &lt;dbl&gt;  &lt;dbl&gt;  &lt;dbl&gt;    &lt;dbl&gt;       &lt;int&gt; &lt;int&gt;
## 1        95575.   70000 -34772. 69586. 69779.   69544.       69980 70001</code></pre>
<pre class="r"><code>lm_fit %&gt;% pull_workflow_fit() %&gt;% tidy()</code></pre>
<pre><code>## # A tibble: 21 x 5
##    term         estimate std.error statistic   p.value
##    &lt;chr&gt;           &lt;dbl&gt;     &lt;dbl&gt;     &lt;dbl&gt;     &lt;dbl&gt;
##  1 (Intercept)  1.89      0.0390      48.6   0.       
##  2 Pclass2      0.128     0.0280       4.57  4.86e-  6
##  3 Pclass3     -0.687     0.0287     -24.0   8.93e-127
##  4 Sexmale     -1.92      0.0193     -99.8   0.       
##  5 Age          0.000536  0.000552     0.972 3.31e-  1
##  6 SibSp1      -0.323     0.0268     -12.0   2.46e- 33
##  7 SibSp2      -0.229     0.0495      -4.63  3.68e-  6
##  8 SibSp3      -0.239     0.0722      -3.32  9.08e-  4
##  9 SibSp4      -0.618     0.0882      -7.01  2.36e- 12
## 10 SibSp5      -0.689     0.284       -2.43  1.52e-  2
## # ... with 11 more rows</code></pre>
<pre class="r"><code>lm_fit %&gt;% pull_workflow_fit() %&gt;% vip() +
  theme_classic()</code></pre>
<p><img src="{{< blogdown/postref >}}index.de_files/figure-html/unnamed-chunk-16-1.png" width="672" /></p>
<p>predict</p>
<pre class="r"><code>lm_predict &lt;- lm_fit %&gt;% predict(new_data = test_df)</code></pre>
</div>
<div id="xgboost-tune-hyperparameter-by-bayesian" class="section level5">
<h5>xgboost, tune hyperparameter by bayesian</h5>
</div>
