---
title: Kaggle July 2021
author: Helen Zhang
date: '2021-07-01'
categories: 
  - R
tags: 
  - Kaggle
description: 'Kaggle TPS July 2021'
lastmod: "2021-08-29"
thumbnail: ''
summary: 'Kaggle TPS July 2021'
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;, col_types = (&#39;Tddddddddddd&#39;)) %&gt;% 
  mutate(target_carbon_monoxide = log1p(target_carbon_monoxide), 
         target_benzene = log1p(target_benzene), 
         target_nitrogen_oxides = log1p(target_nitrogen_oxides))

test_df &lt;- read_csv(&#39;test.csv&#39;, col_types = (&#39;Tdddddddd&#39;))</code></pre>
<pre class="r"><code>train_target_items &lt;- c(&#39;target_carbon_monoxide&#39;, &#39;target_benzene&#39;, &#39;target_nitrogen_oxides&#39;)

train_target &lt;- train_target_items[1]

excl_col &lt;- setdiff(train_target_items,train_target)
train_df_adj &lt;- train_df %&gt;% select(-all_of(excl_col))

train_cols &lt;- paste(colnames(train_df_adj[-10]), sep = &#39;&#39;)
train_formula &lt;- as.formula(paste(paste0(train_target,&quot;~ &quot;), paste(train_cols, collapse= &quot;+&quot;)))</code></pre>
<div id="base-recipe" class="section level1">
<h1>base recipe</h1>
<p>initial split, time split (7111 hours, 2247 predict)</p>
<pre class="r"><code>set.seed(46)

train_test_split &lt;- initial_time_split(train_df_adj, prop = 0.75)

train &lt;- training(train_test_split)

test &lt;- testing(train_test_split)

train_rec &lt;- recipe(train_formula, data = train) %&gt;% 
  step_log(sensor_1:sensor_3, sensor_5) %&gt;%
  step_date(date_time, features = c(&quot;dow&quot;)) %&gt;%
  step_mutate(date_hour = as.factor(hour(date_time)),
              date_day = as.factor(day(date_time)))

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

train_tsibble &lt;- train_prep %&gt;% tsibble(index = date_time)

train_tsibble</code></pre>
</div>
<div id="eda" class="section level1">
<h1>EDA</h1>
<pre class="r"><code>colnames(train_tsibble)</code></pre>
<pre class="r"><code>train_tsibble %&gt;% select(date_time : target_carbon_monoxide) %&gt;% 
  pivot_longer(cols = -date_time, names_to = &#39;colname&#39;, values_to = &#39;value&#39;) %&gt;% 
  ggplot(aes(x = date_time, y = value)) +
  geom_line(aes(color = colname)) +
  facet_grid(rows = vars(colname), scales = &#39;free_y&#39;) +
  theme(text = element_text(size=9))</code></pre>
<pre class="r"><code>train_tsibble %&gt;% select(deg_C : target_carbon_monoxide, date_time_dow) %&gt;% 
  ggscatmat(color = &#39;date_time_dow&#39;, alpha = 0.3) +
  geom_smooth(method = &#39;loess&#39;) +
  theme(text = element_text(size=9))+
  theme_bw()</code></pre>
<pre class="r"><code># week day
train_tsibble %&gt;% gg_season({train_target}, period = &#39;week&#39;)

train_tsibble %&gt;% gg_season(target_carbon_monoxide, period = &#39;week&#39;, polar = TRUE)

# 24 hours
train_tsibble %&gt;% gg_season(target_carbon_monoxide, period = &#39;day&#39;)

# lag plot
train_tsibble %&gt;% gg_lag(target_carbon_monoxide, geom = &#39;point&#39;)</code></pre>
<p>Transformations such as logarithms can help to stabilise the variance of a time series. Differencing can help stabilise the mean of a time series by removing changes in the level of a time series, and therefore eliminating (or reducing) trend and seasonality.</p>
<p>the ACF plot is also useful for identifying non-stationary time series. For a stationary time series, the ACF will drop to zero relatively quickly, while the ACF of non-stationary data decreases slowly. Also, for non-stationary data, the value of<br />
r1 is often large and positive.</p>
<pre class="r"><code># ACF &amp; PACF
train_tsibble %&gt;% ACF(target_carbon_monoxide) %&gt;% autoplot()

train_tsibble %&gt;% PACF(target_carbon_monoxide) %&gt;% autoplot()

train_tsibble %&gt;% mutate(target_diff = difference(target_carbon_monoxide)) %&gt;%
  autoplot(target_diff)

train_tsibble %&gt;% mutate(target_diff = difference(target_carbon_monoxide)) %&gt;%
  ACF(target_diff) %&gt;%
  autoplot()</code></pre>
</div>
<div id="decompose" class="section level1">
<h1>decompose</h1>
<ul>
<li>classic (trend, seasonal, residual/error)</li>
</ul>
<pre class="r"><code>dcmp_classic &lt;- train_tsibble %&gt;% model(classical_decomposition(target_carbon_monoxide, type = &quot;additive&quot;))

dcmp_classic  %&gt;%
  components() %&gt;% 
  autoplot()</code></pre>
<ul>
<li>STL (trend, season_week, season_day, residual)</li>
</ul>
<pre class="r"><code>dcmp_stl &lt;- train_tsibble %&gt;% model(stl = STL(target_carbon_monoxide))

components(dcmp_stl) %&gt;% autoplot()

train_tsibble %&gt;% model(stl = STL(target_carbon_monoxide))</code></pre>
<pre class="r"><code>train_tsibble %&gt;%
  model(
    STL(target_carbon_monoxide ~ trend() +
                   season(window = &quot;periodic&quot;),
    robust = TRUE)) %&gt;%
  components() %&gt;%
  autoplot()</code></pre>
<p>trend</p>
<pre class="r"><code>dcmp_stl %&gt;% components() %&gt;%
  ggplot(aes(x = date_time)) +
  geom_line(aes(y = target_carbon_monoxide), color  = &#39;gray&#39;) +
  geom_line(aes(y = trend), color = &#39;#D55E00&#39;)</code></pre>
<p>remove season</p>
<p>If the seasonal component is removed from the original data, the resulting values are the “seasonally adjusted” data. For an additive decomposition, the seasonally adjusted data are given by<br />
yt−St, and for multiplicative data, the seasonally adjusted values are obtained using yt/St.</p>
<pre class="r"><code>dcmp_stl %&gt;% components() %&gt;%
  ggplot(aes(x = date_time)) +
  geom_line(aes(y = target_carbon_monoxide), color  = &#39;gray&#39;) +
  geom_line(aes(y = season_adjust), color = &#39;#0072B2&#39;)</code></pre>
<pre class="r"><code>dcmp_stl %&gt;% components() %&gt;%gg_subseries(season_day)

dcmp_stl %&gt;% components() %&gt;%gg_subseries(season_week)</code></pre>
<p>X11, SEATS</p>
<p>Most of them use variants of the X-11 method, or the SEATS method, or a combination of the two. These methods are designed specifically to work with quarterly and monthly data, which are the most common series handled by official statistics agencies. They will not handle seasonality of other kinds, such as daily data, or hourly data, or weekly data.</p>
</div>
<div id="timeseries-features" class="section level1">
<h1>timeseries features</h1>
<pre class="r"><code>train_tsibble %&gt;% features(target_carbon_monoxide, list(mean = mean, stl = feat_stl))</code></pre>
<p>forecast decomposed components</p>
<p>To forecast a decomposed time series, we forecast the seasonal component, ^St, and the seasonally adjusted component ^At, separately. It is usually assumed that the seasonal component is unchanging, or changing extremely slowly, so it is forecast by simply taking the last year of the estimated component. In other words, a Seasonal naïve method is used for the seasonal component.</p>
<p>To forecast the seasonally adjusted component, any non-seasonal forecasting method may be used. For example, the Drift method, or Holt’s method (discussed in Chapter 8), or a non-seasonal ARIMA model (discussed in Chapter 9), may be used.</p>
<pre class="r"><code>a &lt;- train_tsibble %&gt;%
  model(stlf = decomposition_model(
    STL(target_carbon_monoxide ~ trend(), robust = TRUE),
    ARIMA(season_adjust)))

a %&gt;% gg_tsresiduals()

augment(a) %&gt;% features(.innov, ljung_box)

a_pred &lt;- a %&gt;% forecast(new_data = test %&gt;% tsibble(index = &#39;date_time&#39;))

accuracy(a_pred, test%&gt;%tsibble(index = &#39;date_time&#39;))</code></pre>
</div>
<div id="tslm" class="section level1">
<h1>tslm</h1>
<pre class="r"><code>colnames(train_tsibble)

train_tsibble_cols &lt;- paste(colnames(train_tsibble)[-c(1,10)], sep = &#39;&#39;)

train_tsibble_formula &lt;- as.formula(paste(&quot;target_carbon_monoxide ~ &quot;, paste(train_tsibble_cols, collapse= &quot;+&quot;)))

tslm_fit &lt;- train_tsibble %&gt;% model(tslm = TSLM(train_tsibble_formula))

tslm_fit %&gt;% report()

tslm_fit %&gt;% glance()

tslm_fit %&gt;% augment() %&gt;%
  ggplot(aes(x=date_time)) +
  geom_line(aes(y = target_carbon_monoxide, color = &#39;Data&#39;), alpha = 0.5) +
  geom_line(aes(y = .fitted, color = &#39;Fitted&#39;), alpha = 0.2)+
  scale_colour_manual(values=c(Data=&quot;black&quot;,Fitted=&quot;#D55E00&quot;)) +
  theme_classic()

tslm_fit %&gt;% augment() %&gt;%
  ggplot(aes(x = target_carbon_monoxide, y = .fitted)) +
  geom_point() +
  geom_abline(intercept = 0, slope = 1)

tslm_fit %&gt;% gg_tsresiduals()

tslm_fit %&gt;% augment() %&gt;% features(.innov, ljung_box) # reject null, has auto correlation

b &lt;- tslm_fit %&gt;% augment() %&gt;% 
  select(date_time, .innov) %&gt;%
  model(tslm_res = ARIMA(.innov))

b %&gt;% gg_tsresiduals()


test_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = test)

tslm_pred &lt;- forecast(tslm_fit, new_data = test_prep %&gt;% tsibble(index = date_time))

tslm_pred %&gt;% autoplot(train_tsibble)

accuracy(tslm_pred, test_prep %&gt;% tsibble(index = date_time))</code></pre>
</div>
<div id="ses-simple-exponential-smoothing" class="section level1">
<h1>ses (simple exponential smoothing)</h1>
<pre class="r"><code>ets_fit &lt;- train_tsibble %&gt;%
  model(ETS(target_carbon_monoxide))

ets_fit %&gt;% components() %&gt;% autoplot()

ets_fit %&gt;% glance()
ets_fit %&gt;% report()
ets_fit %&gt;% augment()

ets_fit %&gt;% augment() %&gt;% features(.innov, ljung_box) # accept null, no correlation
ets_fit %&gt;% augment() %&gt;% features(.innov, ljung_box, lag = 10) # accept null, no correlation

ets_fit %&gt;% gg_tsresiduals()

ets_pred &lt;- ets_fit %&gt;% 
  forecast(new_data = test %&gt;% tsibble(index = &#39;date_time&#39;))

accuracy(ets_pred, test %&gt;% tsibble(index = &#39;date_time&#39;))

ets_pred %&gt;% autoplot(train_tsibble) + 
  geom_line(aes(y = .fitted), col=&quot;#D55E00&quot;, alpha = 0.5, data = augment(ets_fit))


ets_fit &lt;- train_tsibble %&gt;%
  model(ETS(target_carbon_monoxide ~ error(&quot;A&quot;) + trend(&quot;N&quot;) + season(&quot;A&quot;)))</code></pre>
<pre class="r"><code>train_tsibble %&gt;% gg_tsdisplay(difference(target_carbon_monoxide), plot_type=&#39;partial&#39;)

arima_fit &lt;- train_tsibble %&gt;%
  model(arima_stepwise = ARIMA(target_carbon_monoxide, stepwise = FALSE, approx = FALSE))

glance(arima_fit)
report(arima_fit)
arima_fit$arima_stepwise[[1]]

# Model: ARIMA(4,0,0)(2,1,0)[24]

arima_fit %&gt;% gg_tsresiduals()

arima_pred &lt;- arima_fit %&gt;% forecast(h = 1778)

arima_pred %&gt;% autoplot(train_tsibble)

rmse_vec(truth = test$target_carbon_monoxide, estimate = arima_pred$.mean)</code></pre>
</div>
<div id="prophet" class="section level1">
<h1>prophet</h1>
<pre class="r"><code>target_pred &lt;- function(train_target){
  excl_col &lt;- setdiff(train_target_items,train_target)
  train_df_adj &lt;- train_df %&gt;% select(-all_of(excl_col))
  
  train_cols &lt;- paste(colnames(train_df_adj[-10]), sep = &#39;&#39;)
  train_formula &lt;- as.formula(paste(paste0(train_target,&quot;~ &quot;), paste(train_cols, collapse= &quot;+&quot;)))
  
  train_test_split &lt;- initial_time_split(train_df_adj, prop = 0.75)
  train &lt;- training(train_test_split)
  test &lt;- testing(train_test_split)
  
  train_rec &lt;- recipe(train_formula, data = train) %&gt;% 
  step_log(sensor_1, sensor_2, sensor_5) %&gt;%
  step_date(date_time, features = c(&quot;dow&quot;)) %&gt;%
  step_mutate(date_hour = as.factor(hour(date_time)))
  
  # prophet_spec &amp; workflow  
  prophet_spec &lt;- prophet_reg(
    growth = &#39;linear&#39;,
    seasonality_yearly = FALSE) %&gt;%
  set_mode(&#39;regression&#39;) %&gt;%
  set_engine(&#39;prophet&#39;)

  prophet_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(prophet_spec)
  
  prophet_fit &lt;- prophet_wflow %&gt;% fit(train)
  
  # lm_spe &amp; workflow
  
  lm_spec &lt;- linear_reg() %&gt;%
  set_mode(&#39;regression&#39;) %&gt;%
  set_engine(&#39;lm&#39;)
  lm_spec
  
  lm_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(lm_spec)
  lm_wflow
  
  lm_fit &lt;- lm_wflow %&gt;% fit(train)
  
  # arima &amp; workflow
  
  arima_spec &lt;- arima_reg() %&gt;%
    set_engine(&quot;auto_arima&quot;)
  
  arima_wflow &lt;- workflow() %&gt;%
    add_model(arima_spec) %&gt;%
    add_recipe(train_rec)
  
  arima_fit &lt;- arima_wflow %&gt;% fit(train)
  
  # ensemble_spec &lt;- modeltime_table(prophet_fit, lm_fit) %&gt;% ensemble_average(type = &quot;mean&quot;)
  # ensemble_spec &lt;- modeltime_table(arima_fit) %&gt;% ensemble_average(type = &quot;mean&quot;)
  
  calibration_res &lt;- modeltime_table(ensemble_spec) %&gt;%
    modeltime_calibrate(test)
  
  # calibration_res %&gt;% modeltime_forecast(new_data = test, actual_data = train)
  
  ensemble_fit &lt;- calibration_res %&gt;% modeltime_refit(train_df_adj)
  ensemble_pred &lt;- ensemble_fit %&gt;% modeltime_forecast(new_data = test_df) %&gt;% 
    transmute(index = .index, value = expm1(.value))

  return(ensemble_pred)
}

train_target_items &lt;- c(&#39;target_carbon_monoxide&#39;, &#39;target_benzene&#39;, &#39;target_nitrogen_oxides&#39;)

# target_pred(&#39;target_carbon_monoxide&#39;)


a &lt;- lapply(train_target_items, target_pred)

names(a) &lt;- train_target_items

cbind(read_csv(&#39;test.csv&#39;, col_types = (&#39;cdddddddd&#39;)) %&gt;% select(date_time),
      do.call(cbind,lapply(a,data.frame)) %&gt;%
  transmute(target_carbon_monoxide = target_carbon_monoxide.value, 
            target_benzene = target_benzene.value,
            target_nitrogen_oxides = target_nitrogen_oxides.value)) %&gt;%
  write_csv(&#39;d:\\ensemble_submit.csv&#39;)</code></pre>
<pre class="r"><code>train_target_items &lt;- c(&#39;target_carbon_monoxide&#39;, &#39;target_benzene&#39;, &#39;target_nitrogen_oxides&#39;)

train_cols &lt;- paste(colnames(train_df)[-c(10:12)], sep = &#39;&#39;)

train_formula &lt;- as.formula(paste(paste0(train_target_items[1],&quot;~ &quot;), paste(train_cols, collapse= &quot;+&quot;)))
train_formula

excl_col &lt;- setdiff(train_target_items,train_target_items[1])
train_df_adj &lt;- train_df %&gt;% select(-all_of(excl_col))</code></pre>
<pre class="r"><code>test_df %&gt;% ggplot(aes(x = date_time, y = relative_humidity)) +
  geom_line()

train_df %&gt;% select(date_time) %&gt;% arrange(desc(date_time))
test_df %&gt;% select(date_time) %&gt;% arrange(date_time)

min(train_df$date_time)
max(train_df$date_time)

min(test_df$date_time)
max(test_df$date_time)

interval(as_datetime(max(train_df$date_time)),ymd_hms(min(train_df$date_time))) %&gt;% as.numeric(&#39;hours&#39;)

interval(ymd_hms(max(test_df$date_time)),as_datetime(min(test_df$date_time))) %&gt;% as.numeric(&#39;hours&#39;)

ymd(&#39;2011-4-4&#39;) - ymd(&#39;2011-1-1&#39;)</code></pre>
<p>initial split, time split (7111 hours, 2247 predict)</p>
<pre class="r"><code>set.seed(46)

train_test_split &lt;- initial_time_split(train_df_adj, prop = 0.75)

train &lt;- training(train_test_split)

test &lt;- testing(train_test_split)

train_rec &lt;- recipe(train_formula, data = train) %&gt;% 
  step_log(sensor_1, sensor_2, sensor_5) %&gt;%
  step_date(date_time, features = c(&quot;dow&quot;)) %&gt;%
  step_mutate(date_hour = as.factor(hour(date_time)),
              date_day = as.factor(day(date_time)))

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

train_tsibble &lt;- train_prep %&gt;% tsibble(index = date_time)

# 5 folds, rolling, 1067 items each fold


set.seed(86)

train_folds &lt;- rolling_origin(train, initial = 4000, assess = 614, lag = 0, cumulative = FALSE)

train_folds %&gt;% nrow()

train_folds$splits[[1]] %&gt;% analysis() %&gt;% pull(date_time) %&gt;% min()
train_folds$splits[[1]] %&gt;% analysis() %&gt;% pull(date_time) %&gt;% max()

train_folds$splits[[1]] %&gt;% assessment() %&gt;% pull(date_time) %&gt;% min()
train_folds$splits[[1]] %&gt;% assessment() %&gt;% pull(date_time) %&gt;% max()


train_folds$splits[[2]] %&gt;% analysis() %&gt;% pull(date_time) %&gt;% min()
train_folds$splits[[2]] %&gt;% analysis() %&gt;% pull(date_time) %&gt;% max()

train_folds$splits[[2]] %&gt;% assessment() %&gt;% pull(date_time) %&gt;% min()
train_folds$splits[[2]] %&gt;% assessment() %&gt;% pull(date_time) %&gt;% max()



train_folds &lt;- vfold_cv(train, v = 5)</code></pre>
<pre class="r"><code>rf_spec &lt;- rand_forest(
  trees = tune(),
  mtry = tune(),
  min_n = tune()) %&gt;%
  set_mode(&#39;regression&#39;) %&gt;%
  set_engine(&#39;ranger&#39;, verbose = 1, importance = &quot;permutation&quot;, local.importance = TRUE)

rf_spec

rf_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(rf_spec)

rf_wflow

rf_params &lt;- rf_wflow %&gt;% parameters() %&gt;% finalize(train_prep[,-1])
rf_params
glimpse(rf_params)


rf_grid &lt;- grid_random(
  trees() %&gt;% value_set(c(100,500,1000)),
  min_n(),
  mtry() %&gt;% finalize(train_prep),
  size = 20)

rf_grid


set.seed(568)
rf_grid &lt;- grid_latin_hypercube(
  trees(),
  min_n(),
  mtry() %&gt;% finalize(train_prep),
  size = 20)

rf_grid

set.seed(18)
rf_grid &lt;- grid_max_entropy(
  trees() %&gt;% range_set(c(100,1000)),
  min_n(),
  mtry() %&gt;% finalize(train_prep),
  size = 20)

rf_grid</code></pre>
<pre class="r"><code>rf_res &lt;- rf_wflow %&gt;% tune_grid(
  resamples = train_folds,
  grid = rf_grid,
  control = control_grid(save_pred = TRUE, verbose = TRUE))

rf_res %&gt;% collect_metrics()

rf_res %&gt;% autoplot()

rf_lastfit &lt;- rf_wflow %&gt;% finalize_workflow(rf_res %&gt;% select_best(&#39;rmse&#39;)) %&gt;%
  last_fit(train_test_split)

rf_lastfit_eval&lt;- rf_lastfit %&gt;% collect_metrics()</code></pre>
</div>
<div id="rf-evaluation" class="section level1">
<h1>rf evaluation</h1>
<p>rf_eval_p &lt;- function(x){
p &lt;- progressor(steps = length(x))</p>
<p>future_map(x, ~{
p()
Sys.sleep(.2)
rf_eval(.x)
})
}</p>
<p>with_progress({
w &lt;- rf_eval_p(train_target_items)
})</p>
<p>rm(rf_eval_p)</p>
<pre class="r"><code>rf_eval &lt;- function(train_target){
  excl_col &lt;- setdiff(train_target_items,train_target)
  train_df_adj &lt;- train_df %&gt;% select(-all_of(excl_col))
  
  train_cols &lt;- paste(colnames(train_df_adj[-10]), sep = &#39;&#39;)
  train_formula &lt;- as.formula(paste(paste0(train_target,&quot;~ &quot;), paste(train_cols, collapse= &quot;+&quot;)))
  
  train_test_split &lt;- initial_time_split(train_df_adj, prop = 0.75)
  train &lt;- training(train_test_split)
  test &lt;- testing(train_test_split)
  
  train_rec &lt;- recipe(train_formula, data = train) %&gt;% 
  step_log(sensor_1, sensor_2, sensor_5) %&gt;%
  step_date(date_time, features = c(&quot;dow&quot;)) %&gt;%
  step_mutate(date_hour = as.factor(hour(date_time)),
              date_day = as.factor(day(date_time)))

  train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)
  
  set.seed(586)
  train_folds &lt;- vfold_cv(train, v = 5)
  
  rf_spec &lt;- rand_forest(
  trees = tune(),
  mtry = tune(),
  min_n = tune()) %&gt;%
  set_mode(&#39;regression&#39;) %&gt;%
  set_engine(&#39;ranger&#39;, verbose = 1, importance = &quot;permutation&quot;, local.importance = TRUE)

  rf_wflow &lt;- workflow() %&gt;%
    add_recipe(train_rec) %&gt;%
    add_model(rf_spec)
  
  set.seed(18)
  rf_grid &lt;- grid_max_entropy(
    trees() %&gt;% range_set(c(100,1000)),
    min_n(),
    mtry() %&gt;% finalize(train_prep[,-1]),
    size = 20)

  rf_res &lt;- rf_wflow %&gt;% tune_grid(
    resamples = train_folds,
    grid = rf_grid,
    control = control_grid(save_pred = TRUE, verbose = TRUE))
  
  rf_res_eval &lt;- rf_res %&gt;% collect_metrics()
  
  rf_lastfit &lt;- rf_wflow %&gt;% finalize_workflow(rf_res %&gt;% select_best(&#39;rmse&#39;)) %&gt;%
    last_fit(train_test_split)
  
  rf_lastfit_eval&lt;- rf_lastfit %&gt;% collect_metrics()

  rf_fit &lt;- rf_wflow %&gt;% finalize_workflow(rf_res %&gt;% select_best(&#39;rmse&#39;)) %&gt;%
    fit(train_df_adj)
  
  rf_pred &lt;- rf_fit %&gt;% predict(new_data = test_df)
  
  return(list(rf_res_eval, rf_lastfit_eval, rf_pred))
}</code></pre>
<pre class="r"><code>train_target_items &lt;- c(&#39;target_carbon_monoxide&#39;, &#39;target_benzene&#39;, &#39;target_nitrogen_oxides&#39;)

w &lt;- map(train_target_items, rf_eval)
names(w) &lt;- train_target_items

w_res &lt;- do.call(rbind, lapply(w, &quot;[[&quot;, 1)) %&gt;% 
  as.data.frame() %&gt;% 
  rownames_to_column(var = &#39;target&#39;)

w_res

w_lastfit &lt;- do.call(rbind, lapply(w, &quot;[[&quot;, 2)) %&gt;% 
  as.data.frame() %&gt;% 
  rownames_to_column(var = &#39;target&#39;)

w_lastfit

w_pred &lt;- do.call(rbind, lapply(w, &quot;[[&quot;, 3)) %&gt;% 
  as.data.frame() %&gt;% 
  rownames_to_column(var = &#39;target&#39;) %&gt;%
  separate(col = target, sep = &#39;\\.&#39;, into = c(&#39;target_name&#39;,&#39;index&#39;)) %&gt;%
  mutate(index = as.integer(index), 
         .pred = expm1(.pred))

cbind(read_csv(&#39;test.csv&#39;, col_types = (&#39;cdddddddd&#39;)) %&gt;% select(date_time),
      w_pred %&gt;% pivot_wider(id_cols = index, names_from = &#39;target_name&#39;, values_from = &#39;.pred&#39;)) %&gt;%
  select(-index) %&gt;%
  write_csv(&#39;d:\\rf_submit.csv&#39;)

w_rec &lt;- w[[1]][4]
w_spec &lt;- w[[1]][5]
w_wflow &lt;- w[[1]][6]
w_res &lt;- w[[1]][8]
w_res &lt;- w[[1]][9]
w_wflowfinal &lt;- w[[1]][10]

w_res

w_wflowfinal %&gt;% fit(train_df)
  
w_tune</code></pre>
<pre class="r"><code>do.call(rbind, lapply(w, &quot;[[&quot;, 1)) %&gt;% 
  as.data.frame() %&gt;% 
  rownames_to_column(var = &#39;target&#39;) %&gt;%
  separate(col = target, sep = &#39;\\.&#39;, into = c(&#39;target_name&#39;,&#39;index&#39;))</code></pre>
<pre class="r"><code>do.call(rbind, lapply(w, &quot;[[&quot;, 1)) %&gt;% 
  as.data.frame() %&gt;% 
  rownames_to_column(var = &#39;target&#39;) %&gt;%
  separate(col = target, sep = &#39;\\.&#39;, into = c(&#39;target_name&#39;,&#39;index&#39;)) %&gt;%
  filter(.metric == &#39;rmse&#39;) %&gt;%
  group_by(target_name) %&gt;%
  arrange(mean) %&gt;%
  slice(1:2)</code></pre>
<pre class="r"><code>do.call(rbind, lapply(w, &quot;[[&quot;, 1)) %&gt;% 
  as.data.frame() %&gt;% 
  rownames_to_column(var = &#39;target&#39;) %&gt;%
  separate(col = target, sep = &#39;\\.&#39;, into = c(&#39;target_name&#39;,&#39;index&#39;)) %&gt;%
  mutate(index = as.integer(index)) %&gt;%
  filter(.metric == &#39;rmse&#39;) %&gt;%
  select(target_name, index, mtry, trees, min_n, mean) %&gt;%
  pivot_longer(cols = -c(&#39;target_name&#39;, &#39;index&#39;,&#39;mean&#39;), names_to = &#39;params&#39;, values_to = &#39;params_value&#39;) %&gt;%
  ggplot(aes(x = mean, y = params_value)) +
  geom_point(aes(color = params)) +
  facet_grid(rows = vars(params), cols = vars(target_name), scales = &#39;free&#39;)</code></pre>
<pre class="r"><code>w_lastfit</code></pre>
<pre class="r"><code>w_res &lt;- do.call(rbind, lapply(w, &quot;[[&quot;, 1)) %&gt;% 
  as.data.frame() %&gt;% 
  rownames_to_column(var = &#39;target&#39;) %&gt;% 
  unnest(cols = c(.metrics)) %&gt;%
  filter(.metric == &#39;rmse&#39;) %&gt;%
  group_by(target) %&gt;%
  arrange(.metric) 

w_res %&gt;% group_by(target) %&gt;% slice(1)

w_lastfit &lt;- do.call(rbind, lapply(w, &quot;[[&quot;, 2)) %&gt;% 
  as.data.frame() %&gt;% 
  rownames_to_column(var = &#39;target&#39;) %&gt;% 
  unnest(cols = c(.metrics)) %&gt;%
  filter(.metric == &#39;rmse&#39;) %&gt;%
  group_by(target) %&gt;%
  arrange(.metric)

w_lastfit</code></pre>
<pre class="r"><code>lapply(w[[1]], collect_metrics)

  
  do.call(rbind,lapply(w, data.frame)) %&gt;%
  rownames_to_column(var = &#39;target&#39;)

w_res %&gt;% 




cbind(read_csv(&#39;test.csv&#39;, col_types = (&#39;cdddddddd&#39;)) %&gt;% select(date_time),
      do.call(cbind,lapply(a,data.frame)) %&gt;%
  transmute(target_carbon_monoxide = target_carbon_monoxide.value, 
            target_benzene = target_benzene.value,
            target_nitrogen_oxides = target_nitrogen_oxides.value)) %&gt;%
  write_csv(&#39;d:\\ensemble_submit.csv&#39;)</code></pre>
<p>predict 3 targets, RMSLE</p>
<pre class="r"><code>skim(train)</code></pre>
<pre class="r"><code>train %&gt;% select(starts_with(&#39;target&#39;)) %&gt;%
  ggpairs()

train %&gt;% select(-date_time) %&gt;% ggpairs()</code></pre>
</div>
