---
title: "Kaggle March 2021"
author: "Helen Zhang"
date: '2021-04-24'
slug: []
categories: ["R"]
tags: ["Kaggle"]
description: "Kaggle playground March 2021"
lastmod: "2021-05-23"
thumbnail: ''
summary: "Kaggle playground March 2021"

---

<script src="{{< blogdown/postref >}}index.de_files/header-attrs/header-attrs.js"></script>


<p>load library</p>
<pre class="r"><code>train_df &lt;- fread(&quot;train.csv&quot;) %&gt;%
mutate_if(is.character, as.factor) %&gt;%
mutate(target = as.factor(target))

test_df &lt;- fread(&quot;test.csv&quot;) %&gt;%
mutate_if(is.character, as.factor)</code></pre>
<pre class="r"><code>h2o.init()</code></pre>
<pre><code>##  Connection successful!
## 
## R is connected to the H2O cluster: 
##     H2O cluster uptime:         3 minutes 33 seconds 
##     H2O cluster timezone:       Pacific/Auckland 
##     H2O data parsing timezone:  UTC 
##     H2O cluster version:        3.32.1.3 
##     H2O cluster version age:    4 days  
##     H2O cluster name:           H2O_started_from_R_marz_ood430 
##     H2O cluster total nodes:    1 
##     H2O cluster total memory:   2.98 GB 
##     H2O cluster total cores:    12 
##     H2O cluster allowed cores:  12 
##     H2O cluster healthy:        TRUE 
##     H2O Connection ip:          localhost 
##     H2O Connection port:        54321 
##     H2O Connection proxy:       NA 
##     H2O Internal Security:      FALSE 
##     H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4 
##     R Version:                  R version 4.1.0 (2021-05-18)</code></pre>
<pre class="r"><code>train_h2o &lt;- h2o.assign(as.h2o(train_df),&#39;train&#39;)</code></pre>
<pre><code>## 
  |                                                                            
  |                                                                      |   0%
  |                                                                            
  |======================================================================| 100%</code></pre>
<pre class="r"><code># test_h2o &lt;- h2o.assign(as.h2o(test_df),&#39;test&#39;)

target &lt;- &#39;target&#39;

predictors &lt;- setdiff(colnames(train_df),c(&#39;id&#39;,&#39;target&#39;))</code></pre>
