---
title: SLICED S01E12
author: Helen Zhang
date: '2021-08-07'
slug: ''
categories: 
  - R
tags: 
  - Kaggle
description: 'SLICED s01e12 final'
lastmod: "2021-08-29"
thumbnail: ''
summary:  'SLICED s01e12 final'
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>library(lightgbm)
library(xgboost)
library(catboost)
library(treesnip)

library(readr)
library(dplyr)
library(tidyr)
library(stringr)
library(lubridate)
library(forcats)
library(tidymodels)
library(furrr)
library(textrecipes)
library(tidytext)
library(tictoc)
library(skimr)
library(GGally)
library(vip)</code></pre>
<p>regression with MAE</p>
<pre class="r"><code>train_df &lt;- read_csv(&#39;train.csv&#39;) %&gt;% mutate(default_yn = as.factor(ifelse(default_amount == 0,&#39;y&#39;,&#39;n&#39;)))

test_df &lt;- read_csv(&#39;test.csv&#39;)

test_df

View(train_df)
View(test_df)</code></pre>
<p>initial split</p>
<pre class="r"><code>set.seed(864)

train_test_split &lt;- initial_split(train_df, strata = default_yn)

train &lt;- training(train_test_split)

test &lt;- testing(train_test_split)

train_folds &lt;- vfold_cv(train, v = 3, strata = default_yn)</code></pre>
<p>LoanNr_ChkDgt: Identifier Primary key
Name: Borrower name
Sector: Borrower industry sector
City: Borrower city
State: Borrower state
Zip: Borrower zip code
Bank: Bank name</p>
<p>BankState: Bank state
NAICS: North American industry classification system code
ApprovalFY: Fiscal year of commitment
NoEmp: Number of business employees
NewExist: 1 = Existing business, 2 = New business
CreateJob: Number of jobs created
RetainedJob: Number of jobs retained
FranchiseCode: Franchise code, (00000 or 00001) = No franchise
UrbanRural: 1 = Urban, 2 = rural, 0 = undefined
DisbursementGross: Amount disbursed
GrAppv: Gross amount of loan approved by bank
SBA_Appv: SBA’s guaranteed amount of approved loan
default_amount: Amount of the loan that was charged-off (if defaulted)</p>
<p>drop Name</p>
<pre class="r"><code>skim(train)</code></pre>
<pre class="r"><code>colnames(train)

# drop Name, NAICS, State

# factors: </code></pre>
<p>LoanNr_ChkDgt: Identifier Primary key
Name: Borrower name
Sector: Borrower industry sector
City: Borrower city
State: Borrower state
Zip: Borrower zip code
Bank: Bank name
BankState: Bank state
NAICS: North American industry classification system code
ApprovalFY: Fiscal year of commitment
NoEmp: Number of business employees
NewExist: 1 = Existing business, 2 = New business
CreateJob: Number of jobs created
RetainedJob: Number of jobs retained
FranchiseCode: Franchise code, (00000 or 00001) = No franchise
UrbanRural: 1 = Urban, 2 = rural, 0 = undefined
DisbursementGross: Amount disbursed
GrAppv: Gross amount of loan approved by bank
SBA_Appv: SBA’s guaranteed amount of approved loan
default_amount: Amount of the loan that was charged-off (if defaulted)</p>
<pre class="r"><code>num_feat &lt;- c(&#39;ApprovalFY&#39;,&#39;NoEmp&#39;, &#39;CreateJob&#39;, &#39;RetainedJob&#39;, &#39;DisbursementGross&#39;, &#39;GrAppv&#39;, &#39;SBA_Appv&#39;)
  
cat_feat &lt;- c(&#39;Sector&#39;, &#39;City&#39;, &#39;Bank&#39;, &#39;NewExist&#39;,&#39;FranchiseCode&#39;, &#39;UrbanRural&#39;)
  
drop_feat &lt;- c(&#39;Name&#39;, &#39;State&#39;, &#39;Zip&#39;, &#39;BankState&#39;, &#39;NAICS&#39;)</code></pre>
<p>train recipe</p>
<pre class="r"><code>train_rec &lt;- recipe(default_yn ~., data = train) %&gt;%
  update_role(LoanNr_ChkDgt, new_role = &#39;id&#39;) %&gt;%
  step_impute_median(NewExist) %&gt;%
  step_rm(drop_feat, default_amount,FranchiseCode) %&gt;%  
  step_mutate(Sector = as.factor(Sector), 
              City = as.factor(City), 
              Bank = as.factor(Bank), 
              NewExist = as.factor(NewExist), 
              # FranchiseCode = ifelse(FranchiseCode %in% c(&#39;00000&#39;,&#39;00001&#39;), &#39;NoFranchise&#39;, FranchiseCode) %&gt;% as.factor(), 
              UrbanRural = as.factor(UrbanRural)) %&gt;%
  # step_normalize(c(&#39;NoEmp&#39;,&#39;CreateJob&#39;,&#39;RetainedJob&#39;,&#39;DisbursementGross&#39;, &#39;GrAppv&#39;, &#39;SBA_Appv&#39;)) %&gt;%
  step_log(c(&#39;DisbursementGross&#39;, &#39;GrAppv&#39;, &#39;SBA_Appv&#39;), offset=1) %&gt;%
  step_other(City, threshold = 0.01) %&gt;%
  step_other(Bank, threshold = 0.01)

train_prep &lt;- train_rec %&gt;% prep() %&gt;% bake(new_data = NULL)

skim(train_prep)</code></pre>
<p>EDA</p>
<pre class="r"><code>train %&gt;% ggplot(aes(x = default_amount)) +
  geom_density() +
  scale_x_log10()

train_prep %&gt;% ggplot(aes(x= default_amount, y = NoEmp)) +
  geom_jitter()

train_prep %&gt;% ggplot(aes(x=FranchiseCode, y=default_amount)) +
  geom_boxplot() +
  scale_y_log10()</code></pre>
<p>rf_spec</p>
<pre class="r"><code>rf_spec &lt;- rand_forest(
    mtry = tune(), 
    trees = tune(),
    min_n = tune()) %&gt;% 
  set_engine(&#39;ranger&#39;, verbose = 1, importance = &#39;permutation&#39;, local.importance = TRUE) %&gt;%
  set_mode(&#39;classification&#39;)

rf_spec

rf_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec) %&gt;%
  add_model(rf_spec)

rf_wflow

rf_params &lt;- rf_spec %&gt;% 
  parameters() %&gt;%
  update(mtry = finalize(mtry(), train_prep[,-2]), 
         trees = value_set(trees(), c(100,500,1000)))

rf_params$object</code></pre>
<pre class="r"><code>set.seed(94)

rf_grid &lt;- grid_random(
  rf_params, size = 10)

rf_grid</code></pre>
<p>rf_tune</p>
<pre class="r"><code>library(tictoc)

tic()

rf_res &lt;- rf_wflow %&gt;% tune_grid(
  resamples = train_folds,
  grid = rf_grid,
  metrics = metric_set(mn_log_loss),
  control = control_grid(verbose = TRUE, save_pred = TRUE)
)

toc()

autoplot(rf_res)

rf_res %&gt;% show_best(&#39;mn_log_loss&#39;)</code></pre>
<pre class="r"><code>rf_wflow_final &lt;- rf_wflow %&gt;%
  finalize_workflow(rf_res %&gt;% select_best(&#39;mn_log_loss&#39;))

rf_fit &lt;- rf_wflow_final %&gt;% fit(train_df)

rf_pred &lt;- predict(rf_fit, test_df %&gt;% mutate(default_amount = -1), type = &#39;prob&#39;)
rf_pred

rf_pred &lt;- predict(rf_fit, test_df %&gt;% mutate(default_amount = -1))
rf_pred</code></pre>
<div id="check-amount" class="section level1">
<h1>check amount</h1>
<pre class="r"><code>train_df_2 &lt;- read_csv(&#39;train.csv&#39;) %&gt;% filter(default_amount != 0)</code></pre>
<p>initial split</p>
<pre class="r"><code>set.seed(864)

train_test_split_2 &lt;- initial_split(train_df_2, strata = default_amount)

train_2 &lt;- training(train_test_split_2)

test_2 &lt;- testing(train_test_split_2)

train_folds_2 &lt;- vfold_cv(train_2, v = 3, strata = default_amount)</code></pre>
<p>train recipe</p>
<pre class="r"><code>train_rec_2 &lt;- recipe(default_amount ~., data = train_2) %&gt;%
  update_role(LoanNr_ChkDgt, new_role = &#39;id&#39;) %&gt;%
  step_impute_median(NewExist) %&gt;%
  step_rm(drop_feat,FranchiseCode) %&gt;%  
  step_mutate(Sector = as.factor(Sector), 
              City = as.factor(City), 
              Bank = as.factor(Bank), 
              NewExist = as.factor(NewExist), 
              UrbanRural = as.factor(UrbanRural)) %&gt;%
  step_log(c(&#39;DisbursementGross&#39;, &#39;GrAppv&#39;, &#39;SBA_Appv&#39;), offset=1) %&gt;%
  step_other(City, threshold = 0.01) %&gt;%
  step_other(Bank, threshold = 0.01) %&gt;%
  step_dummy(all_nominal_predictors())

train_prep_2 &lt;- train_rec_2 %&gt;% prep() %&gt;% bake(new_data = NULL)

skim(train_prep_2)</code></pre>
<p>xgb_spec</p>
<pre class="r"><code>xgb_spec &lt;- boost_tree(
    mtry = tune(), 
    trees = tune(),
    min_n = tune(), 
    learn_rate = tune()) %&gt;% 
  set_engine(&#39;xgboost&#39;) %&gt;%
  set_mode(&#39;regression&#39;)

xgb_spec

xgb_wflow &lt;- workflow() %&gt;%
  add_recipe(train_rec_2) %&gt;%
  add_model(xgb_spec)

xgb_wflow

xgb_params &lt;- xgb_spec %&gt;% 
  parameters() %&gt;%
  update(mtry = finalize(mtry(), train_prep[,-2]), 
         trees = value_set(trees(), c(500,1000)), 
         learn_rate = range_set(learn_rate(trans=NULL), c(0.02,0.2)))

xgb_params$object</code></pre>
<pre class="r"><code>set.seed(94)

xgb_grid &lt;- grid_random(
  xgb_params, size = 10)

xgb_grid</code></pre>
<p>xgb_tune</p>
<pre class="r"><code>tic()

xgb_res &lt;- xgb_wflow %&gt;% tune_grid(
  resamples = train_folds_2,
  grid = xgb_grid,
  metrics = metric_set(mae),
  control = control_grid(verbose = TRUE, save_pred = TRUE))

toc()

auplot(xgb_res)

xgb_res %&gt;% show_best(&#39;mae&#39;)</code></pre>
<pre class="r"><code>rf_submit_a &lt;- data.frame(&#39;LoanNr_ChkDgt&#39; = test_df$LoanNr_ChkDgt, rf_pred %&gt;% transmute(default_amount = ifelse(.pred_class == &#39;y&#39;,&#39;0&#39;,&#39;n&#39;)))

rf_submit_b &lt;- rf_submit_a %&gt;% filter(default_amount == &#39;n&#39;)

test_df_2 &lt;- rf_submit_b %&gt;% select(LoanNr_ChkDgt) %&gt;%
  left_join(test_df, by = c(&#39;LoanNr_ChkDgt&#39;))

test_df_2</code></pre>
<pre class="r"><code>xgb_wflow_final &lt;- xgb_wflow %&gt;%
  finalize_workflow(xgb_res %&gt;% select_best(&#39;mae&#39;))

xgb_fit &lt;- xgb_wflow_final %&gt;% fit(train_df_2)

xgb_pred &lt;- predict(xgb_fit, test_df_2)
xgb_pred


xgb_submit_b &lt;- data.frame(&#39;LoanNr_ChkDgt&#39; = test_df_2$LoanNr_ChkDgt, default_amount = xgb_pred$.pred)

submit &lt;- bind_rows(rf_submit_a %&gt;% filter(default_amount == &#39;0&#39;) %&gt;% mutate(default_amount = as.numeric(default_amount)),
                    xgb_submit_b)

dim(submit)

submit %&gt;% write_csv(&#39;d:\\submit.csv&#39;)</code></pre>
<pre class="r"><code>xgb_wflow_final &lt;- xgb_wflow %&gt;%
  finalize_workflow(xgb_res %&gt;% select_best(&#39;mae&#39;))

xgb_fit &lt;- xgb_wflow_final %&gt;% fit(train_df_2)

rf_pred &lt;- predict(rf_fit, test_df %&gt;% mutate(default_amount = -1), type = &#39;prob&#39;)
rf_pred

rf_pred &lt;- predict(rf_fit, test_df %&gt;% mutate(default_amount = -1))
rf_pred


rf_submit_a &lt;- data.frame(&#39;LoanNr_ChkDgt&#39; = test_df$LoanNr_ChkDgt, rf_pred %&gt;% transmute(default_amount = ifelse(.pred_class == &#39;y&#39;,&#39;0&#39;,&#39;n&#39;)))

rf_submit_b &lt;- rf_submit_a %&gt;% filter(default_amount == &#39;n&#39;)

test_df_2 &lt;- rf_submit_b %&gt;% select(LoanNr_ChkDgt) %&gt;%
  left_join(test_df, by = c(&#39;LoanNr_ChkDgt&#39;))</code></pre>
</div>
<div id="check-amount-1" class="section level1">
<h1>check amount</h1>
<pre class="r"><code>train_df_2 &lt;- read_csv(&#39;train.csv&#39;) %&gt;% filter(default_amount != 0)</code></pre>
</div>
