---
title: kaggle_ORVP
author: Helen Zhang
date: '2021-09-13'
slug: []
categories:
  - R
tags:
  - Kaggle
description: ''
lastmod: '2021-09-13T21:32:35+12:00'
thumbnail: ''
summary: 'kaggle ORVP'
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>library(arrow)</code></pre>
<pre><code>## Warning: package &#39;arrow&#39; was built under R version 4.1.1</code></pre>
<pre><code>## 
## Attaching package: &#39;arrow&#39;</code></pre>
<pre><code>## The following object is masked from &#39;package:utils&#39;:
## 
##     timestamp</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>## 
## Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>## The following objects are masked from &#39;package:stats&#39;:
## 
##     filter, lag</code></pre>
<pre><code>## The following objects are masked from &#39;package:base&#39;:
## 
##     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(tidyr)
library(readr)</code></pre>
<pre class="r"><code>book_train_dir &lt;- &#39;d:\\ORVP\\book_train.parquet&#39;
book_test_dir &lt;- &#39;d:\\ORVP\\book_test.parquet&#39;
trade_train_dir &lt;- &#39;d:\\ORVP\\trade_train.parquet&#39;
trade_test_dir &lt;- &#39;d:\\ORVP\\trade_test.parquet&#39;

list.files(book_train_dir)</code></pre>
<pre><code>##   [1] &quot;stock_id=0&quot;   &quot;stock_id=1&quot;   &quot;stock_id=10&quot;  &quot;stock_id=100&quot; &quot;stock_id=101&quot;
##   [6] &quot;stock_id=102&quot; &quot;stock_id=103&quot; &quot;stock_id=104&quot; &quot;stock_id=105&quot; &quot;stock_id=107&quot;
##  [11] &quot;stock_id=108&quot; &quot;stock_id=109&quot; &quot;stock_id=11&quot;  &quot;stock_id=110&quot; &quot;stock_id=111&quot;
##  [16] &quot;stock_id=112&quot; &quot;stock_id=113&quot; &quot;stock_id=114&quot; &quot;stock_id=115&quot; &quot;stock_id=116&quot;
##  [21] &quot;stock_id=118&quot; &quot;stock_id=119&quot; &quot;stock_id=120&quot; &quot;stock_id=122&quot; &quot;stock_id=123&quot;
##  [26] &quot;stock_id=124&quot; &quot;stock_id=125&quot; &quot;stock_id=126&quot; &quot;stock_id=13&quot;  &quot;stock_id=14&quot; 
##  [31] &quot;stock_id=15&quot;  &quot;stock_id=16&quot;  &quot;stock_id=17&quot;  &quot;stock_id=18&quot;  &quot;stock_id=19&quot; 
##  [36] &quot;stock_id=2&quot;   &quot;stock_id=20&quot;  &quot;stock_id=21&quot;  &quot;stock_id=22&quot;  &quot;stock_id=23&quot; 
##  [41] &quot;stock_id=26&quot;  &quot;stock_id=27&quot;  &quot;stock_id=28&quot;  &quot;stock_id=29&quot;  &quot;stock_id=3&quot;  
##  [46] &quot;stock_id=30&quot;  &quot;stock_id=31&quot;  &quot;stock_id=32&quot;  &quot;stock_id=33&quot;  &quot;stock_id=34&quot; 
##  [51] &quot;stock_id=35&quot;  &quot;stock_id=36&quot;  &quot;stock_id=37&quot;  &quot;stock_id=38&quot;  &quot;stock_id=39&quot; 
##  [56] &quot;stock_id=4&quot;   &quot;stock_id=40&quot;  &quot;stock_id=41&quot;  &quot;stock_id=42&quot;  &quot;stock_id=43&quot; 
##  [61] &quot;stock_id=44&quot;  &quot;stock_id=46&quot;  &quot;stock_id=47&quot;  &quot;stock_id=48&quot;  &quot;stock_id=5&quot;  
##  [66] &quot;stock_id=50&quot;  &quot;stock_id=51&quot;  &quot;stock_id=52&quot;  &quot;stock_id=53&quot;  &quot;stock_id=55&quot; 
##  [71] &quot;stock_id=56&quot;  &quot;stock_id=58&quot;  &quot;stock_id=59&quot;  &quot;stock_id=6&quot;   &quot;stock_id=60&quot; 
##  [76] &quot;stock_id=61&quot;  &quot;stock_id=62&quot;  &quot;stock_id=63&quot;  &quot;stock_id=64&quot;  &quot;stock_id=66&quot; 
##  [81] &quot;stock_id=67&quot;  &quot;stock_id=68&quot;  &quot;stock_id=69&quot;  &quot;stock_id=7&quot;   &quot;stock_id=70&quot; 
##  [86] &quot;stock_id=72&quot;  &quot;stock_id=73&quot;  &quot;stock_id=74&quot;  &quot;stock_id=75&quot;  &quot;stock_id=76&quot; 
##  [91] &quot;stock_id=77&quot;  &quot;stock_id=78&quot;  &quot;stock_id=8&quot;   &quot;stock_id=80&quot;  &quot;stock_id=81&quot; 
##  [96] &quot;stock_id=82&quot;  &quot;stock_id=83&quot;  &quot;stock_id=84&quot;  &quot;stock_id=85&quot;  &quot;stock_id=86&quot; 
## [101] &quot;stock_id=87&quot;  &quot;stock_id=88&quot;  &quot;stock_id=89&quot;  &quot;stock_id=9&quot;   &quot;stock_id=90&quot; 
## [106] &quot;stock_id=93&quot;  &quot;stock_id=94&quot;  &quot;stock_id=95&quot;  &quot;stock_id=96&quot;  &quot;stock_id=97&quot; 
## [111] &quot;stock_id=98&quot;  &quot;stock_id=99&quot;</code></pre>
<pre class="r"><code>list.files(trade_train_dir)</code></pre>
<pre><code>##   [1] &quot;stock_id=0&quot;   &quot;stock_id=1&quot;   &quot;stock_id=10&quot;  &quot;stock_id=100&quot; &quot;stock_id=101&quot;
##   [6] &quot;stock_id=102&quot; &quot;stock_id=103&quot; &quot;stock_id=104&quot; &quot;stock_id=105&quot; &quot;stock_id=107&quot;
##  [11] &quot;stock_id=108&quot; &quot;stock_id=109&quot; &quot;stock_id=11&quot;  &quot;stock_id=110&quot; &quot;stock_id=111&quot;
##  [16] &quot;stock_id=112&quot; &quot;stock_id=113&quot; &quot;stock_id=114&quot; &quot;stock_id=115&quot; &quot;stock_id=116&quot;
##  [21] &quot;stock_id=118&quot; &quot;stock_id=119&quot; &quot;stock_id=120&quot; &quot;stock_id=122&quot; &quot;stock_id=123&quot;
##  [26] &quot;stock_id=124&quot; &quot;stock_id=125&quot; &quot;stock_id=126&quot; &quot;stock_id=13&quot;  &quot;stock_id=14&quot; 
##  [31] &quot;stock_id=15&quot;  &quot;stock_id=16&quot;  &quot;stock_id=17&quot;  &quot;stock_id=18&quot;  &quot;stock_id=19&quot; 
##  [36] &quot;stock_id=2&quot;   &quot;stock_id=20&quot;  &quot;stock_id=21&quot;  &quot;stock_id=22&quot;  &quot;stock_id=23&quot; 
##  [41] &quot;stock_id=26&quot;  &quot;stock_id=27&quot;  &quot;stock_id=28&quot;  &quot;stock_id=29&quot;  &quot;stock_id=3&quot;  
##  [46] &quot;stock_id=30&quot;  &quot;stock_id=31&quot;  &quot;stock_id=32&quot;  &quot;stock_id=33&quot;  &quot;stock_id=34&quot; 
##  [51] &quot;stock_id=35&quot;  &quot;stock_id=36&quot;  &quot;stock_id=37&quot;  &quot;stock_id=38&quot;  &quot;stock_id=39&quot; 
##  [56] &quot;stock_id=4&quot;   &quot;stock_id=40&quot;  &quot;stock_id=41&quot;  &quot;stock_id=42&quot;  &quot;stock_id=43&quot; 
##  [61] &quot;stock_id=44&quot;  &quot;stock_id=46&quot;  &quot;stock_id=47&quot;  &quot;stock_id=48&quot;  &quot;stock_id=5&quot;  
##  [66] &quot;stock_id=50&quot;  &quot;stock_id=51&quot;  &quot;stock_id=52&quot;  &quot;stock_id=53&quot;  &quot;stock_id=55&quot; 
##  [71] &quot;stock_id=56&quot;  &quot;stock_id=58&quot;  &quot;stock_id=59&quot;  &quot;stock_id=6&quot;   &quot;stock_id=60&quot; 
##  [76] &quot;stock_id=61&quot;  &quot;stock_id=62&quot;  &quot;stock_id=63&quot;  &quot;stock_id=64&quot;  &quot;stock_id=66&quot; 
##  [81] &quot;stock_id=67&quot;  &quot;stock_id=68&quot;  &quot;stock_id=69&quot;  &quot;stock_id=7&quot;   &quot;stock_id=70&quot; 
##  [86] &quot;stock_id=72&quot;  &quot;stock_id=73&quot;  &quot;stock_id=74&quot;  &quot;stock_id=75&quot;  &quot;stock_id=76&quot; 
##  [91] &quot;stock_id=77&quot;  &quot;stock_id=78&quot;  &quot;stock_id=8&quot;   &quot;stock_id=80&quot;  &quot;stock_id=81&quot; 
##  [96] &quot;stock_id=82&quot;  &quot;stock_id=83&quot;  &quot;stock_id=84&quot;  &quot;stock_id=85&quot;  &quot;stock_id=86&quot; 
## [101] &quot;stock_id=87&quot;  &quot;stock_id=88&quot;  &quot;stock_id=89&quot;  &quot;stock_id=9&quot;   &quot;stock_id=90&quot; 
## [106] &quot;stock_id=93&quot;  &quot;stock_id=94&quot;  &quot;stock_id=95&quot;  &quot;stock_id=96&quot;  &quot;stock_id=97&quot; 
## [111] &quot;stock_id=98&quot;  &quot;stock_id=99&quot;</code></pre>
<pre class="r"><code>temp_name &lt;- paste0(book_train_dir,&#39;\\stock_id=0\\&#39;, list.files(paste0(book_train_dir,&#39;\\stock_id=0&#39;))) 

stock0_train &lt;- read_parquet(temp_name)

colnames(stock0_train)</code></pre>
<pre><code>##  [1] &quot;time_id&quot;           &quot;seconds_in_bucket&quot; &quot;bid_price1&quot;       
##  [4] &quot;ask_price1&quot;        &quot;bid_price2&quot;        &quot;ask_price2&quot;       
##  [7] &quot;bid_size1&quot;         &quot;ask_size1&quot;         &quot;bid_size2&quot;        
## [10] &quot;ask_size2&quot;</code></pre>
