---
title: Python numpy
author: Helen Zhang
date: '2021-06-21'
slug: []
categories: ["Python"]
tags: ["numpy"]
description: "numpy"
lastmod: "2021-06-21"
thumbnail: ''
summary: 'numpy'
---

<script src="{{< blogdown/postref >}}index.en_files/header-attrs/header-attrs.js"></script>


<pre class="r"><code>library(reticulate)</code></pre>
<p>read csv, print first 3 rows</p>
<pre class="python"><code>
import os
import numpy as np
import csv

with open(&#39;winequality-red.csv&#39;,&#39;r&#39;) as f:
  csv_reader = csv.reader(f, delimiter = &#39;;&#39;)
  wines = list(csv_reader)

print(wines[:3])  </code></pre>
<pre><code>## [[&#39;fixed acidity&#39;, &#39;volatile acidity&#39;, &#39;citric acid&#39;, &#39;residual sugar&#39;, &#39;chlorides&#39;, &#39;free sulfur dioxide&#39;, &#39;total sulfur dioxide&#39;, &#39;density&#39;, &#39;pH&#39;, &#39;sulphates&#39;, &#39;alcohol&#39;, &#39;quality&#39;], [&#39;7.4&#39;, &#39;0.7&#39;, &#39;0&#39;, &#39;1.9&#39;, &#39;0.076&#39;, &#39;11&#39;, &#39;34&#39;, &#39;0.9978&#39;, &#39;3.51&#39;, &#39;0.56&#39;, &#39;9.4&#39;, &#39;5&#39;], [&#39;7.8&#39;, &#39;0.88&#39;, &#39;0&#39;, &#39;2.6&#39;, &#39;0.098&#39;, &#39;25&#39;, &#39;67&#39;, &#39;0.9968&#39;, &#39;3.2&#39;, &#39;0.68&#39;, &#39;9.8&#39;, &#39;5&#39;]]</code></pre>
<p>Extract the last element from each row after the header row.<br />
(can use list comphrehension)</p>
<pre class="python"><code>
a = list(x[-1] for x in wines[1:])
type(a)</code></pre>
<pre><code>## &lt;class &#39;list&#39;&gt;</code></pre>
<p>Convert each extracted element to a float.</p>
<pre class="python"><code>
b = list(float(x) for x in a)
b</code></pre>
<pre><code>## [5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 7.0, 7.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 7.0, 5.0, 4.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 6.0, 5.0, 6.0, 6.0, 7.0, 4.0, 5.0, 5.0, 4.0, 6.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 7.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 6.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 4.0, 6.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 7.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 4.0, 6.0, 5.0, 5.0, 5.0, 5.0, 4.0, 6.0, 5.0, 4.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 7.0, 4.0, 7.0, 5.0, 5.0, 5.0, 6.0, 7.0, 7.0, 5.0, 5.0, 7.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 6.0, 4.0, 6.0, 6.0, 5.0, 6.0, 5.0, 7.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 7.0, 7.0, 6.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 7.0, 5.0, 4.0, 5.0, 5.0, 5.0, 7.0, 4.0, 8.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 8.0, 7.0, 6.0, 7.0, 5.0, 7.0, 5.0, 5.0, 6.0, 6.0, 7.0, 5.0, 7.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 6.0, 5.0, 6.0, 7.0, 6.0, 7.0, 5.0, 5.0, 6.0, 6.0, 6.0, 7.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 5.0, 7.0, 7.0, 6.0, 5.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 7.0, 7.0, 6.0, 5.0, 6.0, 5.0, 5.0, 7.0, 6.0, 7.0, 5.0, 5.0, 7.0, 5.0, 6.0, 6.0, 5.0, 6.0, 7.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 7.0, 8.0, 6.0, 5.0, 5.0, 5.0, 7.0, 5.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 7.0, 6.0, 4.0, 6.0, 5.0, 5.0, 7.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 7.0, 7.0, 5.0, 7.0, 5.0, 7.0, 6.0, 6.0, 5.0, 6.0, 7.0, 5.0, 6.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 5.0, 8.0, 6.0, 7.0, 7.0, 7.0, 6.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 5.0, 8.0, 5.0, 5.0, 7.0, 3.0, 6.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 8.0, 5.0, 5.0, 6.0, 5.0, 5.0, 6.0, 7.0, 6.0, 6.0, 7.0, 7.0, 6.0, 6.0, 8.0, 6.0, 5.0, 8.0, 6.0, 6.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 6.0, 6.0, 7.0, 5.0, 6.0, 6.0, 7.0, 7.0, 5.0, 6.0, 3.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 6.0, 6.0, 5.0, 6.0, 7.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 4.0, 6.0, 6.0, 4.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 7.0, 7.0, 6.0, 7.0, 5.0, 8.0, 7.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 4.0, 6.0, 5.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 6.0, 4.0, 5.0, 5.0, 5.0, 5.0, 7.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 7.0, 5.0, 4.0, 7.0, 6.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 7.0, 6.0, 4.0, 6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 3.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 4.0, 4.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 7.0, 6.0, 6.0, 5.0, 5.0, 7.0, 6.0, 6.0, 7.0, 7.0, 7.0, 5.0, 6.0, 5.0, 6.0, 5.0, 4.0, 6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 7.0, 5.0, 5.0, 5.0, 5.0, 7.0, 5.0, 8.0, 6.0, 4.0, 6.0, 3.0, 4.0, 5.0, 5.0, 7.0, 7.0, 7.0, 5.0, 7.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 7.0, 6.0, 7.0, 7.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 4.0, 7.0, 7.0, 7.0, 4.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 6.0, 7.0, 6.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 7.0, 6.0, 7.0, 3.0, 5.0, 7.0, 7.0, 7.0, 7.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 5.0, 7.0, 6.0, 4.0, 5.0, 7.0, 5.0, 5.0, 6.0, 5.0, 5.0, 6.0, 6.0, 4.0, 7.0, 5.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 6.0, 5.0, 6.0, 6.0, 7.0, 5.0, 6.0, 5.0, 5.0, 6.0, 6.0, 6.0, 7.0, 5.0, 6.0, 5.0, 6.0, 6.0, 7.0, 5.0, 7.0, 5.0, 5.0, 5.0, 7.0, 5.0, 6.0, 5.0, 6.0, 6.0, 5.0, 6.0, 7.0, 5.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 6.0, 7.0, 7.0, 6.0, 6.0, 7.0, 7.0, 7.0, 7.0, 5.0, 7.0, 7.0, 7.0, 7.0, 5.0, 7.0, 6.0, 5.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 5.0, 6.0, 6.0, 5.0, 6.0, 7.0, 6.0, 6.0, 5.0, 6.0, 7.0, 7.0, 7.0, 5.0, 6.0, 6.0, 7.0, 7.0, 5.0, 7.0, 6.0, 5.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 7.0, 6.0, 6.0, 7.0, 5.0, 7.0, 7.0, 6.0, 8.0, 6.0, 6.0, 6.0, 6.0, 7.0, 7.0, 7.0, 5.0, 7.0, 5.0, 6.0, 6.0, 5.0, 7.0, 6.0, 5.0, 5.0, 7.0, 6.0, 7.0, 6.0, 6.0, 6.0, 5.0, 7.0, 6.0, 7.0, 7.0, 8.0, 6.0, 6.0, 7.0, 6.0, 5.0, 6.0, 5.0, 7.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 7.0, 5.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 8.0, 6.0, 6.0, 6.0, 4.0, 7.0, 6.0, 6.0, 5.0, 6.0, 6.0, 5.0, 7.0, 7.0, 7.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 7.0, 6.0, 6.0, 7.0, 6.0, 5.0, 6.0, 6.0, 5.0, 7.0, 7.0, 6.0, 5.0, 7.0, 6.0, 7.0, 5.0, 5.0, 5.0, 5.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 4.0, 7.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 4.0, 6.0, 5.0, 7.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 8.0, 5.0, 7.0, 7.0, 7.0, 5.0, 7.0, 7.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 7.0, 5.0, 6.0, 5.0, 5.0, 4.0, 6.0, 4.0, 6.0, 6.0, 4.0, 4.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 5.0, 4.0, 5.0, 4.0, 6.0, 6.0, 6.0, 6.0, 6.0, 8.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 4.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 4.0, 6.0, 5.0, 5.0, 6.0, 6.0, 3.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 7.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 4.0, 6.0, 5.0, 5.0, 6.0, 6.0, 4.0, 5.0, 6.0, 5.0, 5.0, 3.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 7.0, 6.0, 5.0, 5.0, 6.0, 8.0, 6.0, 7.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 7.0, 5.0, 5.0, 5.0, 5.0, 6.0, 4.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 7.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 7.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 8.0, 7.0, 7.0, 7.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 7.0, 6.0, 4.0, 6.0, 6.0, 5.0, 5.0, 7.0, 4.0, 7.0, 3.0, 5.0, 5.0, 6.0, 5.0, 5.0, 7.0, 5.0, 7.0, 3.0, 5.0, 4.0, 5.0, 4.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 7.0, 6.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 6.0, 3.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 4.0, 5.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 7.0, 6.0, 6.0, 6.0, 5.0, 5.0, 6.0, 7.0, 6.0, 6.0, 7.0, 6.0, 5.0, 5.0, 5.0, 8.0, 5.0, 5.0, 6.0, 5.0, 6.0, 7.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 7.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 6.0, 5.0, 6.0]</code></pre>
<p>Assign all the extracted elements to the list qualities.
Divide the sum of all the elements in qualities by the total number of elements in qualities to the get the mean.</p>
<pre class="python"><code>
qualities = b

sum(qualities)/len(qualities)</code></pre>
<pre><code>## 5.6360225140712945</code></pre>
<p>Pass the list of lists wines into the array function, which converts it into a NumPy array</p>
<pre class="python"><code>
c = np.array(wines[1:], dtype=np.float)
c</code></pre>
<pre><code>## array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
##        [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
##        [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
##        ...,
##        [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
##        [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
##        [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])</code></pre>
<pre class="python"><code>c.ndim</code></pre>
<pre><code>## 2</code></pre>
<pre class="python"><code>c.shape
</code></pre>
<pre><code>## (1599, 12)</code></pre>
<p>read csv via numpy np.genfromtxt</p>
<p>select the element at row 3 and column 4</p>
<pre class="python"><code>
d = np.genfromtxt(&#39;winequality-red.csv&#39;, delimiter = &#39;;&#39;, skip_header =1, dtype = np.float)

d.shape</code></pre>
<pre><code>## (1599, 12)</code></pre>
<pre class="python"><code>d[2,3]</code></pre>
<pre><code>## 2.3</code></pre>
<pre class="python"><code>d[:3,3]</code></pre>
<pre><code>## array([1.9, 2.6, 2.3])</code></pre>
<pre class="python"><code>
e = d[3,:]

e</code></pre>
<pre><code>## array([11.2  ,  0.28 ,  0.56 ,  1.9  ,  0.075, 17.   , 60.   ,  0.998,
##         3.16 ,  0.58 ,  9.8  ,  6.   ])</code></pre>
<pre class="python"><code>np.random.rand(3)</code></pre>
<pre><code>## array([0.49029893, 0.88789075, 0.94460057])</code></pre>
